{% include 'header/header_email.html.twig' ignore missing %}
    
    <tr>
    <td align="center" valign="top" bgcolor="#ffffff" style="background-color:#ffffff; padding-top:35px;" class="container-indent">
        <table width="550" border="0" cellspacing="0" cellpadding="0" class="inner-container">
            <tr>
                <td align="center" valign="top" style="font-family:arial; color:#5285A0; font-size:39px; border-bottom:1px solid #e8e8e8; padding-bottom:16px;" class="welcome-head">Update Dining Reservation</td>
            </tr>
            <tr>
                <td align="left" valign="top" style="font-family:arial; color:#494949; font-size:14px; border-bottom:1px solid #e8e8e8; padding-bottom:25px; padding-top:25px;"><strong> Dear {[{data.restaurantinfo.title}]} Team,</strong><br />
                    <br />
                    You have a modification of a reservation on {[{data.rdateres}]}.
                </td>
            </tr>
            <tr>
                <td align="left" valign="top" style="font-family:arial; color:#5285A0; font-size:18px; padding-top:13px; padding-bottom:14px;padding-left:16px;">Booking Details</td>
            </tr>
            <tr>
                <td align="left" valign="top"  >
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" >
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;" width="32%">Date &amp; Time</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.rdateres}]}</strong></td>
                        </tr>
                      
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">Guests</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.cover}]}</strong></td>
                        </tr>
                          <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;" width="32%">Restaurant Name</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.restaurantinfo.title}]}</strong></td>
                        </tr>
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">Confirmation No.</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.confirmation}]}</strong></td>
                        </tr>
                      
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">Guest Name</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong> {[{data.firstname}]} {[{data.lastname}]}</strong></td>
                        </tr>
                          <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">Email</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.email}]}</strong></td>
                        </tr>

                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">Guest Phone No</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.mobile}]}</strong></td>

                        </tr>
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">Special Request</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.specialrequest}]}</strong></td>

                        </tr>
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:red; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">Previous Reservation</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>Date: {[{data.prev_bkrdate}]}, {[{data.prev_bkrtime}]}<br />Guest: {[{data.prev_bkcover}]} <br />Special Request: {[{data.prev_bkspecialrequest}]} </strong></td>

                        </tr>
                    </table>
                </td>
            </tr>
             {% if data.ispromo %}
                 <tr>
                    <td align="left" valign="top" style="font-family:arial; color:#5285A0; font-size:18px; padding-top:13px; padding-bottom:14px;padding-left:16px;">Corporate Program Promotion</td>
                </tr>
                <tr>
                    <td align="left" valign="top"  >
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" >
                     <tr>
                        <td align="left" valign="top"  style="font-family:arial;padding-top:10px; padding-bottom:15px; padding-right:10px; padding-left:16px; font-size:13px;color:#494949;" >{[{data.offer}]} </td>
                    </tr>

                    <tr>
                        <td align="left" valign="top"  style="font-family:arial;font-size:13px; padding-left:16px;padding-top:5px; padding-right:5px;padding-bottom:5px;color:#838383;" >
                            {[{data.offer_description}]} 
                        </td>
                    </tr>
                    </table>
                    </td>
                </tr>
                 
             {% endif %} 
            <tr>
                <td align="center" valign="middle" style="margin-left:15px;padding-top:25px; padding-bottom:25px; border-bottom:1px solid #e8e8e8;">
                    <table width="488" border="0" cellspacing="0" cellpadding="0" class="inner-container">
                        <tr>
                            <td align="center" valign="top" class="share-icon-wrap">
                                <table width="242" border="0" cellspacing="0" cellpadding="0" align="center" class="share-icons">
                                    <tr>
                                        <td align="left" width="38" valign="middle" style="padding-top:5px; padding-bottom:5px;"><a href="http://www.google.com/calendar/event?action=TEMPLATE&text={[{data.restaurantinfo.title}]}&dates={[{data.bkstartdate}]}/{[{data.bkstartdate}]}&details=Dining Reservation &location={[{data.restaurantinfo.address}]},{[{data.restaurantinfo.city}]} {[{data.restaurantinfo.zip}]}&ctz=Asia/Singapore" target="_blank" rel="nofollow" style="text-decoration:none;color:#838383;cursor:pointer;" ><img src="https://static.weeloy.com/emails/calendar.jpg" width="34" height="32" alt=" " style="display:block; border:0" /></a></td>
                                        <td align="left" valign="middle" style="font-family:arial; color:#838383; font-size:13px; padding-top:5px; padding-bottom:5px;"><a href="http://www.google.com/calendar/event?action=TEMPLATE&text={[{data.restaurantinfo.title}]}&dates={[{data.bkstartdate}]}/{[{data.bkstartdate}]}&details=Dining Reservation &location={[{data.restaurantinfo.address}]},{[{data.restaurantinfo.city}]} {[{data.restaurantinfo.zip}]}&ctz=Asia/Singapore" target="_blank" rel="nofollow" style="text-decoration:none;color:#838383;cursor:pointer;" > Add to google calendar </a></td>


                                    </tr>

                                </table>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

        </table>    
    </td>
</tr>
 
{% include 'footer/footer_email.html.twig' ignore missing %}