<footer class="footer-sec">
    <div class="follow-us">
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>Find us on</h3>
                <ul>
                        <li><a  target="_blank"  href="https://www.facebook.com/weeloy.sg"  id='social-facebook'><span class="fa fa-facebook"></span></a></li>
                        <li><a  target="_blank"  href="https://twitter.com/weeloyasia"  id='social-twitter'><span class="fa fa-twitter"></span></a></li>
                        <li><a  target="_blank"  href="https://www.linkedin.com/company/weeloy-pte-ltd"  id='social-linkedin'><span class="fa fa-linkedin"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bg">
        <div class="container">
            <div class="">
                <h3>INFORMATION</h3>
                <ul class="footer-col-content">
                    <li><a href="{[{path_adaptor}]}blog" id='info-blog'>Food blog</a></li>
                    <li><a href="{[{path_adaptor}]}how-it-works" id='info-hiw'>How It Works</a></li>
                    <li><a href="{[{path_adaptor}]}info-contact" id='info-contact'>Contact Us</a></li>
                    <li><a href="{[{path_adaptor}]}info-partner" id='info-partner'>Partner</a></li>
                    <li><a href="{[{path_adaptor}]}info-faq" id='info-faq'>FAQ's</a></li>
                    <li><a target="_blank" href="https://www.weeloy.com/templates/tnc/termsservices.php" id='info-tns'>Terms and Conditions of Service</a></li>
                    <li><a target="_blank" href="https://www.weeloy.com/templates/tnc/termsconditions.php" id='info-tnc'>Privacy policy and Terms</a></li>
                </ul>
            </div>
            <div class="">
                <h3>OUR LOCATIONS</h3>
                <ul class="footer-col-content">
                    <li><a href="#">Singapore</a></li>
                    <li><a href="#">Bangkok</a></li>
                    <li><a href="#">Phuket</a></li>
                    <li><a href="#">Hong Kong</a></li>
                </ul>
            </div>
            <div class="">
                <h3>MOBILE</h3>
                <ul class="footer-col-content">
                    <p>
                        <a  rel="nofollow" class="mobile-picture-div" target="_blank" href="http://itunes.apple.com/app/id973030193" id="store-apple">
                            <img width="196" height="60" src="images/home_picture/app-store-badge_en.png" alt="Available on the App Store">
                        </a>
                    </p>
                    <p>
                        <a rel="nofollow"  class="mobile-picture-div" target="_blank" href="https://play.google.com/store/apps/details?id=com.weeloy.client" id="store-google">
                            <img width="196" height="60" src="images/home_picture/play-store-badge_en.png" alt="Get it on Google Play">
                        </a>
                    </p>
                </ul>
            </div>
            <div class="">
                <h3>NEWSLETTER</h3>
                <div class="footer-col-content">
                    <form method="POST" action="" id="newsletterform" name="newsletterform">
                        <input id="email" name="email" type="text" placeholder="e-mail address" />
                        <input id="submit-follow" onclick="verifFormNewsLetter(newsletterform);" type="button" value="Join" />
                        <br/>
                        <br/>
                        <p style="margin-top: 10px;">
                            <span class="" type="label" id="newsletter_message"></span>
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p class="text-center">Copyright &copy; 2015 Weeloy. All Rights Reserved.</p>
        </div>
    </div>
</footer>
<script type="text/javascript">
$(document).ready(function() {
    var FooterMaxHeight = 0;
    $('.footer-col').each(function() {
        if ($(this).height() > FooterMaxHeight) {
            FooterMaxHeight = $(this).height();
        };
    });
    $('.footer-col').css('min-height', FooterMaxHeight + 20);
});

function verifFormNewsLetter(formulaire) {
    var email = formulaire.email.value;
    jQuery("#newsletter_message").html("");
    jQuery("#newsletter_message").attr("class", "");
    if (!validateEmail(email)) {
        //jQuery("#label-email").show();
        jQuery("#newsletter_message").html('Please review email address');
        jQuery("#newsletter_message").attr("class", "text-danger");

        return false;
    }

    jQuery.ajax({
        url: 'xhr/xhr.newsletter.php',
        type: "POST",
        async: true,
        context: jQuery(this),
        dataType: "JSON",
        data: {
            email: email
        },
        success: function(data) {
            //$("#email").removeClass('ui-state-error');
            if (data.Errors) {
                jQuery("#newsletter_message").html('Please review email address');
                jQuery("#newsletter_message").attr("class", "text-danger");
            } else {
                jQuery("#newsletter_message").html('Thank you for joining us');
            }
        },
        complete: function() {},
        statusCode: {
            404: function(data) {}
        }
    });
    return false;
}

function validateEmail(email) {
    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
}
</script>
