<div class="restaurant-info-page" ng-if="restaurant != undefined">
    <div class="text-center" ng-style="restaurant.bannerStyleBookNow(bannerSizePath)" style="overflow: hidden;">
        <div class="container">
            <div id="breadcrumb" breadcrumb base-url="base_url" base-path="base_path" restaurant="restaurant"></div>
            <div class="section-booking">
                <div class="section-container col-sm-6 col-sm-offset-3">
                    <div class="section-background">
                        <div class="section row">
                            <div class="section-item col-sm-12" ng-repeat="item in SectionBooking">
                                <div class="section-title col-sm-12">
                                    <input id="section-input-{{ $index }}" type="radio" name="input-section" ng-model="selectedSectionID" ng-value="item.section_id" ng-click="changeSectionRadio(item)"><label for="section-input-{{ $index }}">{{item.name || item.section_name}}</label>
                                </div>
                                <div class="section-desc col-sm-12 form-control">
                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                                </div>
                            </div>
                        </div>
                        <div class="pax-dinner row">
                            <div class="pax col-sm-6">
                                <select ng-model="pax" ng-options="option as option for option in paxs" class="form-control" ng-change="changePax(pax)">
                                </select>
                            </div>
                            <div class="dinner col-sm-6">
                                <select ng-model="type" class="form-control" ng-options="option as option.name for option in types" ng-change="changeType(type)">
                                </select>
                            </div>
                        </div>
                        <div class="book-order row">
                            <div class="row">
                                <div class='col-sm-6 col-sm-offset-3 date-picker'>
                                    <div class="form-group">
                                        <div date-picker enabled-dates="enabledDates" selected-date="selectedDate" class="input-group date datetime-picker"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3 hour-picker">
                                    <div class="hour-picker-container">
                                        <select ng-model="time" class="form-control" ng-options="option as option.time_name for option in listTime" ng-change="changeTime(time)">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-sm-offset-8 book-button">
                                    <button type="button" class="btn" ng-click="bookNow()">Book Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
