{% include 'header/header_email.html.twig' ignore missing %}

<tr>
    <td align="center" valign="top" bgcolor="#ffffff" style="background-color:#ffffff; padding-top:35px;" class="container-indent">
        <table width="550" border="0" cellspacing="0" cellpadding="0" class="inner-container">
            <tr>
                <td align="center" valign="top" style="font-family:arial; color:#2aa8cf; font-size:39px; border-bottom:1px solid #e8e8e8; padding-bottom:16px;" class="welcome-head">Congratulations! <br />won an Offer!</td>
            </tr>
            <tr>
                <td align="left" valign="top" style="font-family:arial; color:#494949; font-size:14px; border-bottom:1px solid #e8e8e8; padding-bottom:25px; padding-top:25px;"><strong> Dear {[{data.restaurantinfo.title}]},</strong><br />
                    <br />
                     Won {[{data.wheelwin}]} by spinning the Weeloy Wheel!
                    <br /><br />
                    <span style="font-size:11px; color:#9a9a9a; text-transform:none;">Terms & Conditions:<br />
                        <i>{[{data.offer_description }]}</i>
                      </span>
                </td>
            </tr>
            <tr>
                <td align="left" valign="top"  >
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" >
                        
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; background-color:#f2f2f2;">Confirmation No</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px; background-color:#f2f2f2"><strong>{[{data.confirmation}]}</strong></td>
                        </tr>
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">Weeloy Spin Code</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.restCode}]}</strong> <br />
                            </td>

                        </tr>
                         <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">Guests</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.cover}]}</strong></td>
                        </tr>
                          <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;" width="32%">Restaurant Name</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.restaurantinfo.title}]}</strong></td>
                        </tr>

                    </table>
                </td>
            </tr>
{% include 'footer/footer_email.html.twig' ignore missing %}