<ul class="pagination">
	<li ng-class="prevPageDisabled()">
		<a href="javascript:;" ng-click="prevPage()">« Prev</a>
	</li>
	<li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
		<a href="javascript:;">{{n + 1}}</a>
	</li>
	<li ng-class="nextPageDisabled()">
		<a href="javascript:;" ng-click="nextPage()">Next »</a>
	</li>
</ul>
