<main>
<section ng-repeat="x in equipe"  class="mb-4">

<!--Author box-->
<div class="author-box">

	<div class="row">

		<!--Avatar-->
		<div class="col-xs-12 col-sm-2">
			<img class="article-image" ng-src="images/stories/{{ x.pict }}" width='120px' border="0" alt="" class="img-fluid z-depth-2">
		</div>

		<!--Author Data-->
		<div class=" col-xs-12 col-sm-10">

			<p><strong>{{ x.name }}</strong></p>

			<div class="personal-sm">
			   {{ x.status }} 
			   &nbsp;&nbsp;&nbsp;&nbsp;
				<a class="email-ic" href="mailto:{{ x.email }}?Subject=from website" ><i class="fa fa-envelope-o"> </i></a>
			</div>

			<p>{{ x.description }}</p>
		  </div>

	</div>
</div>
<!--/.Author box-->

</section>

</main>
