@import url("../fonts/open/stylesheet.css");
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.list-image-wrapper {
    background-color: #f5f5f5;
    position: relative;
    vertical-align: top;
    width: 100%;
}


.list-image-wrapper img {
    bottom: 0;
    height: auto;
    left: 0;
    margin: 5px 0;
    max-height: 100%;
    max-width: 100%;
    right: 0;
    top: 0;
    width: auto;

}


.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.fblikemiddle {
    text-align: center;
    margin-top: 10px;
}
.fblikemiddle a {
    margin-left: 5px;
}
#errorAjax {
    color: #f00;
}
#ajaxloader {
    display: none;
}
#allGalleries ul {
    padding: 0px !important;
    display: none;
}
#allGalleries li {
    list-style: none;
    
}
.fileUpload {
    background: #2BA8CF none repeat scroll 0 0;
    border: 1px solid #2BA8CF;
    color: #fff;
    padding: 1% 6%;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.fileUpload:hover, .fileUpload:active {
    background: #FFF !important;
    color: #2BA8CF !important;
    border: 1px solid #2BA8CF;
}
.header-back {
    background: url(https://static.weeloy.com/images/food-selfie-content-2015/large_square_light.jpg) center no-repeat;
    min-height: 650px;
    position: relative;
    text-align: center;
    background-size: 100%;
}
.header-back h2 {
    background: #fff;
    margin: 10% 30% 25px 30%;
    padding: 10px 10px 10px 10px;
    font-weight:700;
}
.header-back em {
    background-color: white;
    font-size: 19px;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
}
.heading {
    text-align: center;
}
.heading h1 {
    color: #000;	
    margin: 4% auto;
    font-size: 30px;
    text-align: center;
    width: 50%;
    font-family: 'open_sansbold' !important;
    line-height: 45px;
}
.heading p {
    color: #424141;
    margin: 2% auto 0;
    font-size: 19px;
    text-align: center;
    width: 55%;
}
.heading h2 {
    color: #000;
    margin: 4% auto 0;
    border-bottom: 3px solid #4f81bd;
    padding-bottom: 3%;
    font-family: 'open_sanssemibold' !important;
    width: 100%;
    text-align: center;
}
.przes {
    padding-top: 40px;
    text-align: center;
    background-color: #f5f5f5;
    
 
}
.przes h1 {
  color: #000;
    font-family: "open_sanssemibold" !important;
    font-size: 25px;
    margin-bottom: 60px;
    text-align: center;
}
.prizess-head {
    text-align: center;
    padding-bottom: 70px !important;
    
}
.prizess-head h1 {
    text-align: center;
    background-color: #2BA8CF;
    padding: 8px 0px 8px 0;
    color: #fff;
    margin: 0!important;
    font-family: 'open_sansregular' !important;
    font-weight: normal !Important;
    font-size: 18px;
    text-transform: uppercase;
}

.prizess-head li {
    text-align: center;
    list-style: none;
}
.prize-content {
    text-align: center;
    background: #fff;
    padding: 1%;
    min-height: 315px;
}.prize-content li {
    text-align: center;
    color:#2BA8CF;
    padding: 10px 10px 38px 10px;
    font-size: 20px;
    font-family: ProximaNova-Light_3-webfont !important;
    /* font-weight: bold; */
    line-height: 23px;
    height: 125px;
}
.prize-content h1 {
    /* font-family: 'open_sansbold' !important; */
    text-align: left;
    background: #fff;
    color: #000;
    padding: 10px 15px;
    font-size: 16px;
    font-family: 'open_sansbold' !important;
}
.prize-content p {
    text-align: left;
    background: #fff;
    color: #000;
    padding: 0 15px;
    font-size: 15px;
}
.photocallery {
    text-align: center;
    clear: both;
    padding-top: 40px;
}
.photocallery h1 {
    color: #000;
    font-size: 25px;
    margin-bottom: 60px;

    font-family: 'open_sanssemibold' !important;
}
.photocallery-head {
    text-align: center;
    margin-bottom: 70px;
}
.photocallery-head h1 {
    text-align: center;
    background-color: #2BA8CF;
    padding: 6px 0px 6px 0;
    color: #fff !important;
    margin: 0!important;
    font-family: 'open_sansregular' !important;
    font-weight: normal !Important;
    font-size: 16px;
    text-transform: uppercase;
}
.photocallery-head li {
    text-align: center;
    list-style: none;
}
.buttons {
    text-align: center;
    clear:both;
    padding-top: 40px;
    padding-bottom: 70px;
    background: #f5f5f5;
    
}
.buttons h1 {
  color: #000;
    font-family: "open_sanssemibold" !important;
    font-size: 25px;
    margin-bottom: 60px;
    text-align: center;
}
.buttons li {
    width: 100%;
    text-align: center;
    list-style: none;
}
.view-more {
    margin: 0% 0 0 0;
    background-color: #595959;
    border: 1px solid black;
    padding: 5px 6px;
    color: #fff;
    font-family: 'open_sanssemibold' !important;
    font-size: 20px;
    font-weight: normal;
    border-radius: 0 !Important;
    width: 50%;	
}
.learn {
    margin: 2% 0 0 0;
    background-color: #595959;
    border: 1px solid black;
    padding: 5px 6px;
    color: #fff;
    font-family: 'open_sanssemibold' !important;
    font-size: 20px;
    font-weight: normal;
    border-radius: 0 !Important;
    width: 50%;	
}
.faq {
    margin: 1% 0 0 0;
    background-color: #595959;
    border: 1px solid black;
    width: 50%;
    padding: 5px 5px;
    color: #fff;
    font-family: 'open_sanssemibold' !important;
    font-size: 20px;
    font-weight: normal;
    border-radius: 0 !Important;
}
.share {
    margin: 2.5% 0 0 0;
    background-color: #2BA8CF;
    border: 1px solid black;
    padding: 1% 6% 1% 6%;
    color: #fff;
    font-family: 'open_sanssemibold' !important;
    font-size: 20px;

    border-radius: 0 !Important
}
.pre-footer {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 70px;
}
.pre-footer h1 {
  color: #000;
    font-family: "open_sanssemibold" !important;
    font-size: 25px;
    margin-bottom: 60px;
    text-align: center;
}
.pre-footer li {
    text-align: center;
    list-style: none;
}
.pre-footer-images {
    max-height: 100px;
    max-width: 100px;
    margin:5px;
}
.google {
    padding-top: 40px;
    padding-bottom: 70px;
    text-align: center;
}
.google p {
    text-align: center;
    font-size: 18px;
}
.google h1 {
  color: #000;
    font-family: "open_sanssemibold" !important;
    font-size: 25px;
    margin-bottom: 60px;
    text-align: center;
}
.google h4 {
    font-size: 18px;
    margin: 3% 0 2% 0;
    font-family: 'open_sansbold' !important;
    font-weight:normal;
}
/*.lagrge-img:hover {
        opacity: .5;
}*/
/*.image-red-img:hover {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg) !important;
        transition: 1s !important;
        border-radius: 50% !important;
}*/
.share:hover {
    background: #73EDF0 !important;
}
.photo {
    background: #F00;
    color: #fff;
    border: none;
    padding: 1% 6% 1% 6%;
    margin: 10px 0 30px 0;
    border: 1px solid #f00;
}
.photo:hover {
    background: #FFF;
    color: #f00;
}
.google-maps {
    height: 400px;
    margin: 0px auto;
    width: 80%;
}
.google-maps iframe {
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
.lagrg-image {
    margin: auto !important;
}
.main-content h1 {
    color: #000;
    font-size: 25px;

    margin-bottom: 60px;
    font-family: 'open_sanssemibold' !important;
    text-align:center;	
    
}

.main-content h2 {
    color: #000;
    font-size: 25px;
    font-family: 'open_sanssemibold' !important;
    text-align:center;	
    text-align: center;
}
    .main-content {
        margin-top: 100px;
        padding-bottom: 70px;
        padding-top: 40px;
        background-color: #f5f5f5;
    }
.image-red {
    float: left;
}
.content-box {
   /* background: #ccc;
     float: left; */

    padding: 0 8px 18px 8px;
}
.content-box h1 {
    font-family: ProximaNova-Light_3-webfont !important;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    color: #000;
    padding: 0px 0 0px 0;
}
.content-box h2 {
    color: #000;
    font-size: 20px;
    margin-top:15px;
    font-family: 'open_sanssemibold' !important;
    text-align:center;	
    text-align: center;
}
.content-box p {
    font-family: ProximaNova-Light_3-webfont !important;
    text-align: center;
    font-size: 16px;
    color: #000;
    padding: 0 0 0px 0;
    margin: 0;
}
.div-class {
    padding-left: 23px;
}
.lagrge-img {
    margin: auto !important;

    width:100%;
    height:420px;
}
.col-lg-4.col-md-4.col-sm-4.col-xs-12.prizess-head li img {
    width: 100%;
    height: auto !Important;
}

.btn.focus, .btn:focus, .btn:hover {
    color: #000000;
    text-decoration: none;
    background: #888686;
}
.terms {
    margin: 35px auto 10px;
    text-align: left;
}
.container.terms ul li {
    /* display: block; */
    text-align: left;
    float: left;
    width: 100%;
    list-style-type: disc;
    line-height: 19px;
    font-size: 13px;
}
.container.terms ul {
    text-align: left;
    float: left;
    margin: 7px 0 0 15px;
    padding: 0px;
}

@media screen and (max-width:1199px) {
    .prize-content {

        min-height: 360px;} 
    .content-box {

        width: 68%;

    }
}

@media screen and (max-width:350px) {

    .heading h1 {
        font-size: 19px;
        line-height: 30px;
    }
    .prize-content li {

        height: 100px;
    }


    .lagrge-img {
        margin: auto !important;
        margin-top: 10px;
    }
    .content-box {
        width: 100%;
        margin-left: 0;
    }
    .box-padding {
        padding: 0 15px !important;
    }
    .image-red {

        width: 100%;
        margin-bottom: 10px;
    }
    .div-class {
        padding: 0px !important;
    }
    .google-maps {

        width: 100%;
        margin: 0 auto !important;
    }
    .prizess-head {
        text-align: center;
        padding: 0 0 20px 0 !important;
    }
    #allGalleries li{
        
    }

}
@media only screen and (min-width:650px) and (max-width: 1200px) {
    .header-back h2 {
        font-size: 22px;
        font-weight: bold;
        width: 50%;
        padding: 9px 0;
        margin: 50px auto 5px;
    }
    .header-back em {
        font-size: 15px;
        font-weight: bold;
        width: auto;
    }
    /*.heading h1 {
            font-size: 22px;
            margin-left: 0;
            margin-right: 0;
            font-weight: bold;
    }*/
    .heading h2 {
        font-size: 23px;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }
    .main-content {
        margin-top: 100px;
        padding-bottom: 70px;
        padding-top: 40px;
        background-color: #f5f5f5;
    }
}
@media(max-width:991px){

    .terms {

        padding-left: 30px !important;
    }

    .content-box{
        padding: 0 8px 35px 8px;
        width: 63%;
    }

    .prize-content {

        min-height: 400px;
    }	

    .list-image-wrapper {
        }	

    .prize-content li {

        font-size: 16px;

        line-height: 20px;
    }
    .prize-content h1 {

        font-size: 15px;}

    .div-class {
        padding-left: 23px;
        margin-top: 20px;
    }

}


@media only screen and (min-width:650px) and (max-width: 986px) {
    .lagrge-img {
        margin-top: 30px !important;
        margin-left: 0;
        margin-right: 0;
    }
    .div-class {
        text-align: center;
        padding: 0;
        width: 100%;
        /* background-color: #CCCCCC; */
    }
    .photocallery-head {
        margin-top: 2%;
        
    }
}
@media only screen and (min-width:200px) and (max-width: 650px) {
    .header-back h2 {
        font-size: 15px;
        font-weight: bold;
        width: 52%;
        /* margin-left: 10%; */
        /* margin-right: 10%; */
        /* margin-top: 14%; */
        margin: 50px auto 10px;
        font-weight: bold;
    }
    .header-back em {
        font-size: 18px;
        line-height: 45px;
        font-weight: bold;
        width: auto;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }
    .heading h1 {

        margin-left: 0;
        margin-right: 0;

        margin: 20px 0;
    }
    .heading p {
        font-size: 15px;
        margin-left: 0;
        margin-right: 0;
        margin: 20px 4px;
    }
    .content-box h1 {
        font-size: 15px;
        margin-left: 0;
        margin-right: 0;
    }
    .heading h2 {
        font-size: 16px;
        font-weight: bold;
        margin-left: 0;
        margin-right: 0;
    }
    .google h1 {
        font-size: 18px;
        font-weight: bold;
    }
    .google h4 {
        font-size: 16px;
        margin: 3% 0 5% 0;
        line-height: 24px;
    }
    .google-maps {
        height: 400px;
        margin: 0px auto !important;
        width: 93%;
    }
    .lagrge-img {
        margin-top: 30px !important;
        margin-left: 0;
        margin-right: 0;
    }
    .border-image {
        text-align: center !important;
    }
        .main-content {
        margin-top: 100px;
        padding-bottom: 70px;
        padding-top: 40px;
        background-color: #f5f5f5;
    }
    .content-box p {
        font-size: 17px;
    }
    .main-content h1 {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 60px;
    }
    .buttons h1 {
        font-size: 22px;
    }
}
/*@font-face {
    font-family: 'ProximaNova-Light_3-webfont';
   src: url('../fonts/ProximaNova-Light_3-webfont.eot'); / IE9 Compat Modes /
   src: url('../fonts/ProximaNova-Light_3-webfont.eot?#iefix') format('embedded-opentype'), / IE6-IE8 /
       url('../fonts/ProximaNova-Light_3-webfont.woff2') format('woff2'), / Super Modern Browsers /
       url('../fonts/ProximaNova-Light_3-webfont.woff') format('woff'), / Pretty Modern Browsers /
       url('../fonts/ProximaNova-Light_3-webfont.ttf')  format('truetype'), / Safari, Android, iOS /
       url('../fonts/ProximaNova-Light_3-webfont.svg#svgFontName') format('svg'); / Legacy iOS /;
           
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: ProximaNova-Light_3-webfont !important;
}*/

@font-face {
    font-family: ProximaNova-Light_3-webfont;
    src: url('../fonts/ProximaNova-Light_3-webfont.woff');
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: ProximaNova-Light_3-webfont !important;
}
@media only screen and (min-width:200px) and (max-width: 450px) {
    .col-lg-4.col-md-4.col-sm-4.col-xs-6.prizess-head {
        width: 100%;
        margin-bottom: 20px;
    }
    .col-lg-4.col-md-4.col-sm-4.col-xs-6.photocallery-head {
        width: 100%;
        margin-bottom: 20px;
    }
    ;
}
@media only screen and (min-width:200px) and (max-width: 350px) {
    .image-red {
        padding: 0 0px 0px 15px;
    }
    ;
}
.box-padding {
    padding: 0 30px 0 23px;
}

@media(max-width:767px){
    .content-box{
        padding: 0 8px 9px 8px;}

    .col-lg-4.col-md-4.col-sm-4.col-xs-12.prizess-head li img {
        width: auto;
        height: auto !Important;
    }

    #upload-container{
        padding: 0px!important;
    }
        
    .container-fluid{
         text-align: center;
    }
    .prizess-head{
        max-width: 380px;
    }

    .prize-content li {

        padding: 10px 10px 29px 10px;

        height: 83px;
    }
    .prize-content {
        padding-bottom: 20px;
        min-height: 0;
    }

    .heading h1 {

        width: 90% !important;
        margin: 29px auto 17px !important;
    }
    .heading p {
        color: #424141;
        margin: 2% auto 0;
        font-size: 17px;
        text-align: center;
        width: 100%;
    }
}

@media(max-width:480px){
    .prize-content h1 {

        line-height: 21px;
    }

    .header-back {

        min-height: 300px;}

    .heading h1 {
        font-size: 23px;
        line-height: 33px;
    }

    .heading p {

        font-size: 15px;}
    img.image-red-img {
        width: 105px;
        height: auto !Important;
        /* float: left; */
    }
    .prize-content {

        min-height: 0;
    }
    .view-more{
        width:93%;
        font-size: 16px;}
    .faq {
        font-size: 16px;
        width: 93%;
        padding: 4px 5px;}	

    .learn {
        margin: 3% 0 0 0;

        font-size: 16px;
        width: 93%;
    }
    .share {
        margin: 6% 0 0 0;

        font-size: 17px
            border-radius: 0 !Important;
    }
    .header-back h2 {

        width: 100%;}	
}
@media(max-width:427px){
    .content-box {
        min-width: 100%;
    }
    .image-red {
        width: 100%;
        float: none;
        margin-bottom: 15px;
    }
}
@media(max-width:380px){
    .content-box {

        width: 100%;
        margin-left:0px !important;
    }
    .image-red {
        width: 100%;
        float: none;
        margin-bottom: 15px;
    }
}

li.photocallery-head h1{ cursor: pointer; }

.gallary-header {
    text-align: center;
    background-color: #E0E0E0 ;
    padding: 6px 0px 6px 0;
    color: #000 !important;
    margin: 0!important;
    font-weight: normal !important;
    font-size: 14px;

}
.btn-container {
    text-align: center;
    background-color: #DEE6E8;
    padding: 6px 0px 6px 0;
    color: #fff !important;
    margin: 0!important;
    font-family: 'open_sansregular' !important;
    font-weight: normal !Important;
    font-size: 12px;
}



.text-center {
    text-align: center;
    clear: both !important;
}

section.buttons {
    clear: both;
}
#upload-container {
    width: 100%;
    position: relative;
    text-align: center;
    padding: 0 20%;
}
.uploadphoto {
    background: #2BA8CF none repeat scroll 0 0;
    border: 1px solid #2BA8CF;
    color: #fff;
    padding: 1% 6%;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.uploadphoto:hover, .uploadphoto:active {
    background: #FFF !important;
    color: #2BA8CF !important;
    border: 1px solid #2BA8CF;
}
.page-header{
    margin-bottom: 17px;
    border-bottom: 1px solid #ddd;
    width:100%;
    text-align:float;
    margin-left:5%;

}
.term {

    padding-left:5%;
}
.head-term{
    padding-left:2%;
    margin-bottom:1%;
}
.hd-txt{
    margin-bottom: 10%;
}






