
{% include 'header/memberheader_email.html.twig'%}

<tr>
    <td align="center" valign="top" bgcolor="#ffffff" style="background-color:#ffffff; padding-top:35px;" class="container-indent">
        <table width="550" border="0" cellspacing="0" cellpadding="0" class="inner-container">
            <tr>
                <td align="center" valign="top" style="font-family:arial; color:#2aa8cf; font-size:39px; border-bottom:1px solid #e8e8e8; padding-bottom:16px;" class="welcome-head">{[{data.labelContent['title_cancel']}]} </td>
            </tr>
            
            <tr>
                <td align="left" valign="top" style="font-family:arial; color:#494949; font-size:14px; border-bottom:1px solid #e8e8e8; padding-bottom:25px; padding-top:25px;"><strong> Dear {[{data.salutation}]} {[{data.firstname}]} {[{data.lastname}]},</strong><br />
                    <br />
                      The booking has not  been confirmed within the time frame and has been cancelled automatically.To rebook click here: <br />
                      <a href="{[{data.baseUrl}]}/{[{data.restaurantinfo.internal_path}]}/booknow" style="text-decoration:none;color:#52BE80;cursor:pointer;" ><button style="background-color:#2ba8cf;border: 1px solid #2BA8CF;width:140px;height:40px;font-family:arial; color: #fff; font-size:16px;">Booknow</button></a>
                 
                </td>
            </tr>
            <tr>
                <td align="left" valign="top"  class="list" style="font-size:11px; padding-left:25px;padding-top:5px; padding-right:5px;padding-bottom:0px;color:#494949;" >
                    For queriesplease contact +6591794552. <br /><br />
                     We look forwward to your next visit.
                </td>
               
            </tr>
            
            <tr>
                <td align="left" valign="top"  class="list" style="font-size:11px; padding-left:25px;padding-top:5px; padding-right:5px;padding-bottom:0px;color:#494949;" >
                    
                </td>
                    
            </tr>
            
            
               {% include 'footer/memberfooter_email.html.twig'%}