/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-app-store-badge_en {
  background-image: url(../header_footer_sprites.png);
  background-position: 0px 0px;
  width: 195px;
  height: 60px;
}
.icon-comodo_secure_113x59_transp {
  background-image: url(../header_footer_sprites.png);
  background-position: 0px -120px;
  width: 113px;
  height: 59px;
}
.icon-ico_user-36 {
  background-image: url(../header_footer_sprites.png);
  background-position: -195px -32px;
  width: 36px;
  height: 36px;
}
.icon-play-store-badge_en {
  background-image: url(../header_footer_sprites.png);
  background-position: 0px -60px;
  width: 195px;
  height: 60px;
}
.icon-weeloy_small {
  background-image: url(../header_footer_sprites.png);
  background-position: -195px 0px;
  width: 116px;
  height: 32px;
}
