<script type="text/ng-template" id="bookingModif.html">
<div class="modal-header">
<h3 class="modal-title" style='font-family:Dosis;'>{{modalOptions.headerText}}</h3>
</div>
<form ng-submit="modalOptions.submit(modalOptions.mydata)">
<div class="modal-body">

<div class="input-group"  style='padding:10px 10px 10px 10px;'>
<div class='input-group-btn xls' uib-dropdown >
<button type='button' class='btn btn-default sm' uib-dropdown-toggle ><i class="glyphicon glyphicon-music"></i>&nbsp;<span class='caret'></span>
</button>
<ul class='dropdown-menu scrollable-menu' uib-dropdown-menu >
<li ng-repeat="p in modalOptions.mydata.event"><a href="javascript:;" ng-click="modalOptions.mydata.nevent=p;">{{ p }}</a></li>
</ul>
</div>
<input type='text' ng-model='modalOptions.mydata.nevent' class='form-control input sm' placeholder="special occasion" readonly >
</div>


<div class="input-group"  style='padding:10px 10px 10px 10px;'>
<div class='input-group-btn xls' uib-dropdown >
<button type='button' class='btn btn-default sm' uib-dropdown-toggle ><i class="glyphicon glyphicon-cutlery"></i>&nbsp;<span class='caret'></span>
</button>
<ul class='dropdown-menu scrollable-menu' uib-dropdown-menu >
<li ng-repeat="p in modalOptions.mydata.pers"><a href="javascript:;" ng-click="modalOptions.mydata.npers=p;">{{ p }}</a></li>
</ul>
</div>
<input type='text' ng-model='modalOptions.mydata.npers' class='form-control input sm' placeholder="number of persons" readonly >
</div>

<div class="input-group"  style='padding:10px 10px 10px 10px;'>
<div class='input-group-btn xls' uib-dropdown >
<button type='button' class='btn btn-default sm' uib-dropdown-toggle ><i class="glyphicon glyphicon-time"></i>&nbsp;<span class='caret'></span>
</button>
<ul class='dropdown-menu multi-level' uib-dropdown-menu >
<li ng-repeat="p in modalOptions.mydata.hourslot" class='dropdown-submenu'><a href="javascript:;">{{ p }}:00</a>
	<ul class="dropdown-menu" uib-dropdown-menu >
	<li ng-repeat="q in modalOptions.mydata.minuteslot"><a href ng-click="modalOptions.mydata.ntimeslot=p+':'+q;">{{p}}:{{q}}</a></li>
	</ul>
</li>
</ul>
</div>
<input type='text' ng-model='modalOptions.mydata.ntimeslot' class='form-control input sm' placeholder="arrival time" readonly >
</div>

<div class="input-group xls" style='padding:10px 10px 10px 10px;'>
	<a class="input-group-addon input-info" href ng-click="modalOptions.mydata.dateopen($event)"><i class="glyphicon glyphicon-calendar"></i>&nbsp;<span class='caret'></span></a>
	<input type="text" class="form-control input sm" datepicker-popup="dd-MM-yyyy" min-date="modalOptions.mydata.minDate" max-date="modalOptions.mydata.maxDate" ng-model="modalOptions.mydata.selecteddate"
	is-open="modalOptions.mydata.opened" datepicker-options="modalOptions.mydata.dateOptions" ng-change='modalOptions.mydata.onchange();' close-text="Close" readonly />
</div>
</div>

<div class="input-group xls"  style='padding:10px 25px 10px 25px;'>
<span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i>&nbsp; &nbsp;</span>
<textarea class="form-control input-sm" ng-model="modalOptions.mydata.comment" placeholder="request" rows="3" ></textarea>
</div>

<br /><br />
<div class="modal-footer">
    <button type="submit" class="btn btn-primary">{{modalOptions.actionButtonText}}</button>
    <button type="button" class="btn btn-warning" ng-click="modalOptions.myclose()">{{modalOptions.closeButtonText}}</button>
</div>
</form>
</script>

<script type="text/ng-template" id="bookingModiftms.html">
<div class="modal-header">
<h3 class="modal-title" style='font-family:Dosis;'>{{modalOptions.headerText}}</h3>
</div>
<form ng-submit="modalOptions.submit(modalOptions.mydata)">
<div class="modal-body">

<div class="input-group xls"  style='padding:10px 10px 10px 10px;'>
<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i>&nbsp; &nbsp;</span>
<input type='text' ng-model='modalOptions.mydata.firstname' class='form-control input' placeholder="firstname">
</div>

<div class="input-group xls"  style='padding:10px 10px 10px 10px;'>
<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i>&nbsp; &nbsp;</span>
<input type='text' ng-model='modalOptions.mydata.lastname' class='form-control input' placeholder="lastname">
</div>

<div class="input-group xls"  style='padding:10px 10px 10px 10px;'>
<span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i>&nbsp; &nbsp;</span>
<input type='text' ng-model='modalOptions.mydata.mobile' class='form-control input' placeholder="tel">
</div>

<div class="input-group"  style='padding:10px 10px 10px 10px;'>
<div class='input-group-btn xls' uib-dropdown >
<button type='button' class='btn btn-default sm' uib-dropdown-toggle ><i class="glyphicon glyphicon-music"></i>&nbsp;<span class='caret'></span>
</button>
<ul class='dropdown-menu scrollable-menu' uib-dropdown-menu >
<li ng-repeat="p in modalOptions.mydata.event"><a href="javascript:;" ng-click="modalOptions.mydata.nevent=p;">{{ p }}</a></li>
</ul>
</div>
<input type='text' ng-model='modalOptions.mydata.nevent' class='form-control input sm' placeholder="special occasion" readonly >
</div>


<div class="input-group"  style='padding:10px 10px 10px 10px;'>
<div class='input-group-btn xls' uib-dropdown >
<button type='button' class='btn btn-default sm' uib-dropdown-toggle ><i class="glyphicon glyphicon-cutlery"></i>&nbsp;<span class='caret'></span>
</button>
<ul class='dropdown-menu scrollable-menu' uib-dropdown-menu>
<li ng-repeat="p in modalOptions.mydata.pers"><a href="javascript:;" ng-click="modalOptions.mydata.npers=p;">{{ p }}</a></li>
</ul>
</div>
<input type='text' ng-model='modalOptions.mydata.npers' class='form-control input sm' placeholder="number of persons" readonly >
</div>

<div class="input-group"  style='padding:10px 10px 10px 10px;'>
<div class='input-group-btn xls' uib-dropdown >
<button type='button' class='btn btn-default sm' uib-dropdown-toggle ><i class="glyphicon glyphicon-time"></i>&nbsp;<span class='caret'></span>
</button>
<ul class='dropdown-menu multi-level' uib-dropdown-menu >
<li ng-repeat="p in modalOptions.mydata.hourslot" class='dropdown-submenu'><a href="javascript:;">{{ p }}:00</a>
	<ul class="dropdown-menu" uib-dropdown-menu>
	<li ng-repeat="q in modalOptions.mydata.minuteslot"><a href ng-click="modalOptions.mydata.ntimeslot=p+':'+q;">{{p}}:{{q}}</a></li>
	</ul>
</li>
</ul>
</div>
<input type='text' ng-model='modalOptions.mydata.ntimeslot' class='form-control input sm' placeholder="arrival time" readonly >
</div>

<div class="input-group xls" style='padding:10px 10px 10px 10px;'>
	<a class="input-group-addon input-info" href ng-click="modalOptions.mydata.dateopen($event)"><i class="glyphicon glyphicon-calendar"></i>&nbsp;<span class='caret'></span></a>
	<input type="text" class="form-control input sm" uib-datepicker-popup="dd-MM-yyyy" min-date="modalOptions.mydata.minDate" max-date="modalOptions.mydata.maxDate" ng-model="modalOptions.mydata.originaldate"
	is-open="modalOptions.mydata.start_opened" datepicker-options="modalOptions.mydata.dateOptions" ng-change='modalOptions.mydata.onchange();' close-text="Close" readonly />
</div>
</div>

<div class="input-group xls"  style='padding:10px 25px 10px 25px;'>
<span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i>&nbsp; &nbsp;</span>
<textarea class="form-control input-sm" ng-model="modalOptions.mydata.comment" placeholder="guest request" rows="3" ></textarea>
</div>

<div class="input-group xls"  style='padding:10px 25px 10px 25px;' ng-if="modalOptions.mydata.notesflag && modalOptions.mydata.notesflag === 1">
<span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i>&nbsp; &nbsp;</span>
<textarea class="form-control input-sm" ng-model="modalOptions.mydata.notestext" placeholder="restaurant notes" rows="3" ></textarea>
</div>

<div class="input-group xls"  style='padding:10px 25px 10px 25px;' ng-if="modalOptions.mydata.notesflag && modalOptions.mydata.notesflag === 1">
<label ng-repeat="oo in modalOptions.mydata.notescode" style="font-size:12px;margin-left:10px;"><input type="checkbox" ng-model="oo.value"/> {{oo.label}} </label>
</div>

<br /><br />
<div class="modal-footer">
    <button type="submit" class="btn btn-primary">{{modalOptions.actionButtonText}}</button>
    <button type="button" class="btn btn-warning" ng-click="modalOptions.myclose()">{{modalOptions.closeButtonText}}</button>
</div>
</form>
</script>

<script type="text/ng-template" id="bkgModifBackoffice.html">
<div class="container container_modal" style='width:400px'>
<div class="panel panel-primary" >
<div class="modal-header">
<h3 class="modal-title" style='font-family:Dosis;'>{{modalOptions.headerText}}</h3>
</div>
<form ng-submit="modalOptions.submit(modalOptions.mydata)">
<div class="modal-body">

<div class="input-group xls"  style='padding:10px 10px 10px 10px;'>
<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i>&nbsp; &nbsp;</span>
<input type='text' ng-model='modalOptions.mydata.firstname' class='form-control input' placeholder="firstname">
</div>

<div class="input-group xls"  style='padding:10px 10px 10px 10px;'>
<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i>&nbsp; &nbsp;</span>
<input type='text' ng-model='modalOptions.mydata.lastname' class='form-control input' placeholder="lastname">
</div>

<div class="input-group xls"  style='padding:10px 10px 10px 10px;'>
<span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i>&nbsp; &nbsp;</span>
<input type='text' ng-model='modalOptions.mydata.mobile' class='form-control input' placeholder="tel">
</div>

<div class="input-group"  style='padding:10px 10px 10px 10px;'>
<div class='input-group-btn xls' uib-dropdown >
<button type='button' class='btn btn-default sm' uib-dropdown-toggle ><i class="glyphicon glyphicon-music"></i>&nbsp;<span class='caret'></span>
</button>
<ul class='dropdown-menu scrollable-menu' uib-dropdown-menu >
<li ng-repeat="p in modalOptions.mydata.event"><a href ng-click="modalOptions.mydata.nevent=p;">{{ p }}</a></li>
</ul>
</div>
<input type='text' ng-model='modalOptions.mydata.nevent' class='form-control input sm' placeholder="special occasion" readonly >
</div>


<div class="input-group"  style='padding:10px 10px 10px 10px;'>
<div class='input-group-btn xls' uib-dropdown >
<button type='button' class='btn btn-default sm' uib-dropdown-toggle ><i class="glyphicon glyphicon-cutlery"></i>&nbsp;<span class='caret'></span>
</button>
<ul class='dropdown-menu scrollable-menu' uib-dropdown-menu >
<li ng-repeat="p in modalOptions.mydata.pers"><a href ng-click="modalOptions.mydata.npers=p;">{{ p }}</a></li>
</ul>
</div>
<input type='text' ng-model='modalOptions.mydata.npers' class='form-control input sm' placeholder="number of persons" readonly >
</div>

<div class="input-group"  style='padding:10px 10px 10px 10px;'>
<div class='input-group-btn xls' uib-dropdown >
<button type='button' class='btn btn-default sm' uib-dropdown-toggle ><i class="glyphicon glyphicon-time"></i>&nbsp;<span class='caret'></span>
</button>
<ul class='dropdown-menu multi-level' uib-dropdown-menu >
<li ng-repeat="p in modalOptions.mydata.hourslot" class='dropdown-submenu'><a href="javascript:;">{{ p }}:00</a>
	<ul class="dropdown-menu" uib-dropdown-menu>
	<li ng-repeat="q in modalOptions.mydata.minuteslot"><a href ng-click="modalOptions.mydata.ntimeslot=p+':'+q;">{{p}}:{{q}}</a></li>
	</ul>
</li>
</ul>
</div>
<input type='text' ng-model='modalOptions.mydata.ntimeslot' class='form-control input sm' placeholder="arrival time" readonly >
</div>

<div class="input-group xls" style='padding:10px 10px 10px 10px;'>
	<a class="input-group-addon input-info" href ng-click="modalOptions.mydata.dateopen($event)"><i class="glyphicon glyphicon-calendar"></i>&nbsp;<span class='caret'></span></a>
	<input type="text" class="form-control input sm" uib-datepicker-popup="dd-MM-yyyy" min-date="modalOptions.mydata.minDate" max-date="modalOptions.mydata.maxDate" ng-model="modalOptions.mydata.originaldate"
	is-open="modalOptions.mydata.opened" datepicker-options="modalOptions.mydata.dateOptions" ng-change='modalOptions.mydata.onchange();' close-text="Close" readonly />
</div>
</div>

<div class="input-group xls"  style='padding:10px 25px 10px 25px;'>
<span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i>&nbsp; &nbsp;</span>
<textarea class="form-control input-sm" ng-model="modalOptions.mydata.comment" placeholder="guest request" rows="3" ></textarea>
</div>

<div class="input-group xls"  style='padding:10px 25px 10px 25px;' ng-if="modalOptions.mydata.notesflag && modalOptions.mydata.notesflag === 1">
<span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i>&nbsp; &nbsp;</span>
<textarea class="form-control input-sm" ng-model="modalOptions.mydata.notestext" placeholder="restaurant notes" rows="3" ></textarea>
</div>

<div class="input-group xls"  style='padding:10px 25px 10px 25px;' ng-if="modalOptions.mydata.notesflag && modalOptions.mydata.notesflag === 1">
<label ng-repeat="oo in modalOptions.mydata.notescode" style="font-size:12px;margin-left:10px;"><input type="checkbox" ng-model="oo.value"/> {{oo.label}} </label>
</div>

<br /><br />
<div class="modal-footer">
    <button type="submit" class="btn btn-primary">{{modalOptions.actionButtonText}}</button>
    <button type="button" class="btn btn-warning" ng-click="modalOptions.myclose()">{{modalOptions.closeButtonText}}</button>
</div>
</form>
</div>
</div>
</script>
