<style>
    .introduction{
        margin: 50px 0px;
        font-weight: bold;
    }

</style>
<div  class="landing-page">
    <div class="container">
        <div class="left">
            <h1 style='   border: medium none;font-size: 36px;padding-top: 30px;text-align: center;'>Amazing deals to share</h1>
<!--            <div class="banner_restaurant" style="background-image: url('https://static4.weeloy.com/images/event/book_restaurant_event_2016.jpg'); background-size: cover; background-position: 50% 50%; background-repeat: no-repeat no-repeat;">
            </div>-->
            <p class='introduction'>
                Looking for some inspiration on where to dine next? Weeloy event listing brings the world to you instantly with great deals, seasonal event to exotic food tasting right here as we showcase the very best from our restaurant partners.
            </p>
            <div class="events" >
                <ul style="max-width:600px; margin: auto; padding: 0px;">
                    <li class="clearfix" ng-repeat="evt in events">

                        <a analytics-on="click"
                                        analytics-event="c_go_resto"
                                        analytics-category="c_go_resto_event" 
                                        analytics-label="c_go_resto_event_{{evt.restaurant}}"
                                        ng-href="{{getRestaurantLink(evt.restaurant)}}"  style="text-decoration:none;" title="Events of {{evt.title}} restaurant - reserve your table with weeloy">
                            <h1>{{evt.title}}</h1>
                        </a>
                        <div class="cnt">
                            <h2 ng-bind="evt.name"></h2>
                            <span ng-if="evt.start === evt.end" ng-bind="evt.end | date : format : shortDate"></span>
                            <span  ng-if="evt.start !== evt.end">{{evt.start| date : format : shortDate}} to {{evt.end| date : format : shortDate}}, {{evt.area}}</span>
                            <p ng-bind="evt.description"></p>
                            
                            <a analytics-on="click"
                                        analytics-event="c_get_pdf"
                                        analytics-category="c_get_pdf_event" 
                                        analytics-label="c_get_pdf_event_{{evt.restaurant}}" ng-href="{{getRestaurantLink(evt.restaurant)}}" title="{{evt.title}} all event 2016">Visit restaurant page</a>

                            <div style="margin-top:10px;">
                                <button analytics-on="click"
                                        analytics-event="c_book_resto"
                                        analytics-category="c_book_resto_event" 
                                        analytics-label="c_book_resto_event_{{evt.restaurant}}" ng-show="restaurant.status != 'comingsoon'" class="book-button-sm btn-leftBottom-orange" ng-click="btnBookNowEvent_click(evt.restaurant)" ng-bind="book_button_text"></button>
                            </div> 
                        </div>
                        <div class="img-block">
                            <a href="{{ mediaServer}}/upload/restaurant/{{evt.restaurant}}/{{evt.picture}}" class="fresco" title="Event @ {{evt.title}} - reserve restaurant table now">
                                <img ng-src="{{ mediaServer}}/upload/restaurant/{{evt.restaurant}}/180/{{evt.picture}}" class="img-responsive" alt="{{evt.title}} restaurant event - reserve restaurant table now" style='max-height: 300px;'>
                                
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
