                                <div class="input-group">
                                    <span class="input-group-addon input11"><i class="glyphicon glyphicon-tag input14"></i>&nbsp; Name</span>
                                    <input type="text" class="form-control input-sm" ng-model="selectedItem.name" ng-readonly="action === 'update'" > 
                                </div><br/>
                                
                                <div class="input-group">
                                    <span class="input-group-addon input11"><i class="glyphicon glyphicon-list input14"></i>&nbsp; Description</span>
                                    <textarea class="form-control input-sm" ng-model="selectedItem.description" rows="5" ></textarea>
                                </div><br/>
                                
                                <div class="input-group">
                                    <span class="input-group-addon input11"><i class="glyphicon glyphicon-list input14"></i>&nbsp; T&C</span>
                                    <textarea class="form-control input-sm" ng-model="selectedItem.tnc" rows="5" ></textarea>
                                </div><br/>
                                
                                <div class='input-group'>
                                    <div class='input-group-btn '>
                                        <button type='button' class='btn btn-info btn-sm dropdown-toggle' data-toggle='dropdown'>Promotions <span class='caret'></span></button>
                                        <ul class='dropdown-menu'>
                                            <li ng-repeat="p in Offers"><a href ng-click="selectedItem.offer=p;">{{p}}</a></li>
                                        </ul>
                                    </div><input type='text' class='form-control input-sm' ng-model="selectedItem.offer" readonly>
                                </div><br/>
                                
                                <div class="input-group">
                                    <span class="input-group-addon input11" ng-click="mydata_start.dateopen($event)"><i class="glyphicon glyphicon-calendar input14"></i>&nbsp; Start</span>
                                    <input type="text" class="form-control input-sm" datepicker-popup="dd-MM-yyyy" ng-change='mydata_start.onchange();' 
                                    ng-model="mydata_start.selecteddate" ng-focus="mydata_start.dateopen($event)" is-open="mydata_start.opened" min-date="mydata_start.minDate" max-date="mydata_start.maxDate" 
                                    datepicker-options="mydata_start.dateOptions" date-disabled="mydata_start.disabled(date, mode)" ng-required="true" close-text="Close" />
                                </div><br/>
                                
                                <div class="input-group">
                                    <span class="input-group-addon input11" ng-click="mydata_endng.dateopen($event)"><i class="glyphicon glyphicon-calendar input14"></i>&nbsp; End</span>
                                    <input type="text" class="form-control input-sm" datepicker-popup="dd-MM-yyyy" ng-change='mydata_endng.onchange();' 
                                    ng-model="mydata_endng.selecteddate" ng-focus="mydata_endng.dateopen($event)" is-open="mydata_endng.opened" min-date="mydata_endng.minDate" max-date="mydata_endng.maxDate" 
                                    datepicker-options="mydata_endng.dateOptions" date-disabled="mydata_endng.disabled(date, mode)" ng-required="true" close-text="Close" />
                                </div><br/>
