<section class="download_mobile">
    <div class="container">
        <h1 class="title_home_page text-center" ng-bind="Str.LandingMobileDownload.MobileDownloadTitle"></h1>
        <h2 class="sub_title_home_page text-center" ng-bind="Str.LandingMobileDownload.MobileDownloadSubTitle"></h2>
    </div>
</section>

<section class="available-mobile">
    <div class="text-center ">
        <h2 class="title-available-mobile" ng-bind="Str.LandingMobileDownload.AppDownloadText"></h2>
        <div class="mobile-download-widget">
            <a rel="nofollow" class="mobile-picture-div" target="_blank" href="http://itunes.apple.com/app/id973030193">
                <img width="196" height="60" src="images/home_picture/app-store-badge_en.png" alt="Available on the App Store">
            </a>
            <a rel="nofollow" class="mobile-picture-div" target="_blank" href="https://play.google.com/store/apps/details?id=com.weeloy.client">
                <img width="196" height="60" src="images/home_picture/play-store-badge_en.png" alt="Get it on Google Play">
            </a>
        </div>
    </div>
</section>