<a href='javascript:openWin();'>click here</a>

<script>
function openWin() {
    myWindow = window.open('http://localhost:8888/weeloy.com/modules/booking/book_form.php?bkrestaurant=SG_SG_R_TheFunKitchen', '', 'width=300, height=300');    // Opens a new window
}
</script>