<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
   <meta name="author" content="weeloy. https://www.weeloy.com">
   <meta name="copyright" content="2017 weeloy. All rights reserved. https://www.weeloy.com">  
   <title>Weeloy Chat</title>
   <link rel="icon" href="favicon.ico" type="image/gif" sizes="16x16">
   <link rel="stylesheet" type="text/css" href="style.css">

   <script type='text/javascript' src="../../client/bower_components/jquery/dist/jquery.min.js"></script>
   <script type='text/javascript' src="../../client/bower_components/jquery-ui/jquery-ui.js"></script>
   <script type='text/javascript' src="../../client/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
   <script type='text/javascript' src="../../client/bower_components/angular/angular.min.js"></script>
   <script type='text/javascript' src="../../client/bower_components/angular/angular-animate.min.js"></script>
   <script type='text/javascript' src="../../client/bower_components/material/angular-material.min.js"></script>
   <script type='text/javascript' src="../../client/bower_components/angular/angular-aria.min.js"></script>
   <script type='text/javascript' src="../../client/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
   <script type='text/javascript' src="../../client/bower_components/angular/angular-messages.min.js"></script>
   <script type="text/javascript" src="../../client/bower_components/moment/min/moment-with-locales.min.js"></script>
   <script type="text/javascript" src="../../client/bower_components/material/bootstrap-material-datetimepicker.js"></script>
   <script type='text/javascript' src="../../client/bower_components/ui-bootstrap-tpls-0.14.2.min.js"></script>
   <script type='text/javascript' src="../../client/bower_components/nvd3/angular-nvd3/angular-nvd3.min.js"></script>
   <script type='text/javascript' src="../../client/bower_components/angular-material-icons/angular-material-icons.js"></script>
   <script type='text/javascript' src="../../client/bower_components/material/angular-material-calendar.js"></script>
   <script type="text/javascript" src="../../js/ngStorage.min.js"></script>
   <script type="text/javascript" src="../../js/mylocal.js"></script>
   

   <script>
      var app = angular.module("chat", ['ui.bootstrap', 'ngMaterial', 'ngMessages', 'ngMdIcons', 'materialCalendar','ngLocale', 'ngStorage', ]);
   </script>
   </head>

   <body ng-app="chat">
      
      <div ng-controller="ChatController">
         <div class="chat_window" id="chat_window" style="display: none;">
            <div class="top_menu">
               <div class="buttons">
                  <a href ng-click="showdata('T')" title="Today"><div class="button">Today</div></a>
                  <a href ng-click="showdata('History')" title="History"><div class="button">History</div></a>
                  <!-- <a href ng-click="sleep()" title="Sleep"><div class="button Sleep"></div></a>
                  <a href ng-click="restart()" title="Restart"><div class="button Restart"></div></a> -->
                  
               </div>
               <div class="title">TMS Chat</div>
               <span class="dateshow" ng-bind="dateshow"></span>
            </div>
            <ul class="messages" id = "messagearea">
               
            </ul>
            <div id="entrypoint" class="bottom_wrapper clearfix">
               <div class="message_input_wrapper">
                  <input class="message_input" id="publish-data" placeholder="Type your message here..." onchange="updatePublishData()" />
               </div>
               <div class="send_message" onclick="updatePublishData()">
                  <div class="icon"></div>
                  <div class="text">Send</div>
               </div>
            </div>
         </div>
         <div class="block" id="connecting-div"></div>
      </div>

      <script src="aws-iot-sdk-browser-bundle.js"></script>
      <script src="bundle.js"></script>
      <script src="chatService.js"></script>
   </body>
</html>