<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Untitled Document</title>
        <style>
            @media only screen and (max-width:630px) {
                .main-cotainer, .inner-container, .list { width:100% !important; display:block !important; }
                .container-indent { padding-left:15px; padding-right:15px; }
                .list table { float:none !important; text-align:center !important; display:block; width:100% !important; }
                .list table td, .list table tbody, .list table tr, .store-icons, .store-icons tbody, .store-icons tr, .store-icons td, .share-icons, .share-icons tbody { display:block !important; width:100% !important; }
                .store-icons td { padding-top:12px; }
                .store-icons img { margin:0 auto; }
                .share-icon-wrap { text-align:left !important; }
                .list table img { margin-top:12px; }
            }
            @media only screen and (max-width:480px) {
                .logo { text-align:center !important; }
                .logo img { margin:0 auto !important; }
                .welcome-head { font-size:23px !important; }
                .list table img { width:100% !important; height:auto !important; }
                .footer-logo table, .footer-logo tbody { width:100% !important; }
                .footer-logo table td { padding-left:12px; padding-right:12px; }
                .footer-logo img { width:100%; height:auto; }
            }
        </style>
    </head>

    <body style="margin:0; padding:0;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td bgcolor="#c1c1c1" align="center" valign="top" bgcolor ="#c1c1c1" style="background-color:#c1c1c1; padding-top:20px; padding-bottom:20px;">  {# Header container #}

                    <table width="600" border="0" cellspacing="0" cellpadding="0" class="main-cotainer">
                        <tr>
                            <td align="left" class="logo" valign="top" bgcolor="#2ba8cf" style="background-color:#2ba8cf; padding-left:24px;"><a href="https://www.weeloy.com" target="_blank"><img src="https://static.weeloy.com/emails/IMAGE-asia-logo.png" width="114" height="57" alt=" " style="display:block; border:0" /></a></td>
                        </tr>