#checkout-info {
    margin-top: 80px;
    font-family: 'proximanova';
    #main-form > h3 {
        color: #999999;
    }
    .checkout-header {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
        line-height: 50px;
        font-family: 'proximanova-bold';
    }
    .checkout-header:after {
        display: block;
        content: '';
        width: 100%;
        border-top: 2px solid #333;
        margin: 0px auto;
        max-width: 80px;
    }
    .remarks {
        resize: none;
        min-height: 120px;
        border-radius: 2px;
    }
    .back-to-cart {
        .fa {
            span {
                margin-right: 5px;
            }
        }
    }
    .cart {
        .cart-header {
            font-family: 'proximanova-bold';
            font-size: 16px;
            font-weight: bold;
        }
        .cart-items {
            .item {
                overflow: auto;
                .item-name,
                .item-number,
                .item-price,
                .item-remove {
                    float: left;
                }
                .item-name {
                    width: 50%;
                }
                .item-number {
                    width: 20%;
                    .label {
                        border-radius: 1px;
                        color: #333;
                        cursor: pointer;
                    }
                }
                .item-price {
                    width: 20%;
                }
                .item-remove {
                    width: 10%;
                    cursor: pointer;
                }
            }
        }
        > .item {
            .item-price {
                p {
                    width: 90%;
                    font-family: 'proximanova-bold';
                }
            }
        }
    }
        .delivery-time {
        list-style: none;
        padding-left: 0px;
        li {
            p {
                border: 1px solid #ddd;
                border-radius: 2px;
                padding: 10px 15px;
                @extend %transition;
                .fa {
                    margin-right: 10px;
                }
            }
            p:hover {
                cursor: pointer;
                background: #1abc9c;
                color: #fff;
            }
            .selected {
                background: #1abc9c;
                color: #fff;
            }
        }
    }
    #main-form > h3 >i {
        border: 1px solid #999999;
        border-radius: 50%;
        padding: 4px 7px 5px 5px;
        font-size: 10px;
    }
    #contant-main-form {
        background-color: #fff;
    }
    #contant-main-form form {
        padding: 10px 10px 10px 80px;
        display: block;
        overflow: auto;
    }
    #contant-main-form .numberCircle {
        border-radius: 50%;
        width: 36px;
        height: 36px;
        padding: 5px;
        background: #fff;
        border: 2px solid #999999;
        color: rgba(0, 0, 0, 0.73);
        text-align: center;
        font: 20px Arial, sans-serif;
        display: inline-block;
        position: absolute;
        left: -55px;
    }
    #form-border .form-group {
        padding-left: 0px;
    }
    #form-border .title {
        padding-left: 0px;
        margin-top: 20px;
    }
    #form-border .extra-red {
        color: #ff8066;
    }
    #form-border .scroll {
        overflow-y: scroll;
        height: 200px;
        border: 1px solid #ccc;
    }
    #form-border .btn {
        background-image: none;
        border-radius: 2px;
    }
    .sidebar{
        background-color: #eee;
        border-radius: 15px;
    }
    .sidebar-contant {
        margin-top: 60px;
        margin-bottom: 60px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .sidebar-contant .img-logo {
        text-align: center;
    }
    .sidebar-contant h3 {
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
    }
    .sidebar-contant hr {
        width: 100%;
        border-top: 1px solid #e3e3e3;
        margin-top: 0px;
        margin-bottom: 8px;
    }
    .sidebar-contant > p {
        color: #333333;
        font-weight: bold;
        font-size: 13px;
    }
    p.bold-1 {
        font-size: 15px;
    }
    p.bold-2 {
        font-size: 17px;
    }
    p.bold-1 span,
    p.bold-2 span {
        font-size: 14px;
    }
    p.bold-1 span {
        width: 100%;
    }
    p.total {
        font-size: 20px;
    }
    p.total span {
        font-weight: bold;
    }
    #sidebar-right {
        height: auto;
    }
}
