.download_mobile {
    background-color: white;
    margin-bottom: 40px;
    .container {
        .title_home_page {
            color: rgb( 42, 168, 207);
            font-family: 'proximanova-thin';
            font-size: 56px;
            margin-top: 55px;
        }
        .sub_title_home_page {
            font-size: 22px;
            font-family: 'proximanova-light';
            color: #424242;
            margin-top: 13px;
            text-align: center;
            color: #424242;
        }
    }
}