$btn-search-color: #2aa8cf;
$btn-book-color: #2aa8cf;
$btn-get_code-color: #2aa8cf;
$btn-coming-color: #ccc;
$btn-hover-color: #4E819C;
$book_restaurant_bg_color: #efefef;
%transition {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

%error {
    text-align: left;
    span {
        color: #c0392b;
        font-size: 12px;
        font-family: 'proximanova';
    }
}

//home
body {
    .home-page {
        .container {
            max-width: 1160px;
        }
    }
    overflow-y: scroll;
    .header-container {
        width: 100%;
        max-height: 612px;
        position: relative;
        height: 612px;
        padding-top: 40px;
        background: url('https://static2.weeloy.com/videos/banner/pluck/high/pluck.jpg');
        background-size: cover;
        video {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            width: 100%;
        }
        .custom-form-search-bar {
            margin-top: 412px;
            .form-search {
                @extend %search_form;
            }
            #center-search-btn {
                width: 75%;
                margin: auto!important;
                display: block;
            }
        }
        .view-all-restaurant {
            background: transparent linear-gradient(
                 rgba(10, 10, 10,  0.05), 
                 rgba(10, 10, 10,  0.1), 
                 rgba(10, 10, 10, 0.2),
                rgba(10, 10, 10, 0.3), 
                rgba(10, 10, 10,  0.4), 
                rgba(10, 10, 10,  0.45), 
                rgba(10, 10, 10, 0.5), 
                rgba(10, 10, 10, 0.6), 
                rgba(10, 10, 10, 0.7)
                ) repeat scroll 0 0;
            height: 113px;
            width: 100%;
            div {
                padding-top:20px;
                a {
                    color: #ffffff;
                    font-family: 'proximanova';
                    font-size: 18px;
                    line-height: 18px;
                }
            }
        }
    }
    .background-gray {
        background-color: $book_restaurant_bg_color;
    }

    #top-restaurant {
        background-color: white !important;
        margin-bottom: 40px;
    }
    #blog-articles {
        background-color: $book_restaurant_bg_color !important;
        margin-bottom: 40px!important;
    }
    #event-list {
        background-color: white !important;
        margin-bottom: 40px!important;
        #event-conatiner {
            background-color: #efefef!important;
        }
        .more-restaurant {
            text-align: center;
            margin-top: 40px;
            margin-bottom: 65px;
            a {
                background: #808080;
                font-size: 14px;
                padding: 8px 12px;
                border-radius: 32px;
                color: #fff;
                font-family: 'proximanova';
                cursor: pointer;
            }
            a:hover {
                color: #2AA8CF;
            }
        }
    }
    @media screen and (max-width: 700px) {
        .header-image {
            top: 35px!important;
            .title_home_page {
                margin-top: 80px;
                h1 {
                    font-size: 41px!important;
                    color: white!important;
                }
            }
            .custom-form-search-bar {
                margin-top: 80px!important;
                #search-input-group {
                    display: none;
                }
                #dd_city {
                    display: none;
                }
                #submit_search_home {
                    width: 75%;
                    margin: auto!important;
                    display: block;
                }
                .search-bar {
                    margin-bottom: 5px;
                }
                nf-search {
                    padding: 0px;
                    .form-search {
                        margin-top: 20px;
                        .input-group {
                            display: block;
                        }
                    }
                }
                .view-all-restaurant {
                    a {
                        font-size: 18px!important;
                    }
                }
            }
        }
        .early_book_restaurant {
            .container {
                .title_home_page {
                    margin-top: 80px;
                }
                #articleimg {
                    height: 215px!important;
                }
                .img-eventabsolute {
                    position: absolute;
                    top: 0px;
                    left: 20px;
                    background-color: #efefef;
                    overflow: hidden;
                    border: 1px solid #efefef;
                    .img-transparent {
                        width: 100%;
                        display: block!important;
                        margin: 0 auto!important;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 670px) {
        .header-image {
            top: 35px!important;
            .title_home_page {
                margin-top: 0px;
                h1 {
                    font-size: 41px!important;
                    color: white!important;
                }
            }
            .custom-form-search-bar {
                margin-top: 80px!important;
                #search-input-group {
                    display: none;
                }
                #dd_city {
                    display: none;
                }
                #submit_search_home {
                    width: 75%;
                    margin: auto!important;
                    display: block;
                }
                .search-bar {
                    margin-bottom: 5px;
                }
                nf-search {
                    padding: 0px;
                    .form-search {
                        margin-top: 20px;
                        .input-group {
                            display: block;
                        }
                    }
                }
                .view-all-restaurant {
                    a {
                        font-size: 18px!important;
                    }
                }
            }
        }
        .early_book_restaurant {
            .container {
                .title_home_page {
                    margin-top: 80px;
                }
                #articleimg {
                    height: 215px!important;
                }
                .img-eventabsolute {
                    position: absolute;
                    top: 0px;
                    left: 20px;
                    background-color: #efefef;
                    overflow: hidden;
                    border: 1px solid #efefef;
                    .img-transparent {
                        width: 100%;
                        display: block!important;
                        margin: 0 auto!important;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 500px) {
        .header-image {
            top: 35px!important;
            .title_home_page {
                margin-top: 80px;
                h1 {
                    font-size: 41px!important;
                    color: white!important;
                }
            }
            .custom-form-search-bar {
                margin-top: 80px!important;
                #search-input-group {
                    display: none;
                }
                #dd_city {
                    display: none;
                }
                #submit_search_home {
                    width: 75%;
                    margin: auto!important;
                    display: block;
                }
                .search-bar {
                    margin-bottom: 5px;
                }
                .nf-search {
                    padding: 0px;
                    .form-search {
                        margin-top: 20px;
                        .input-group {
                            display: block;
                        }
                    }
                }
                .view-all-restaurant {
                    a {
                        font-size: 18px!important;
                    }
                }
            }
        }
        .early_book_restaurant {
            .container {
                .title_home_page {
                    margin-top: 0px;
                }
                #articleimg {
                    height: 215px!important;
                }
                .img-eventabsolute {
                    position: absolute;
                    top: 0px;
                    left: 20px;
                    background-color: #efefef;
                    overflow: hidden;
                    border: 1px solid #efefef;
                    .img-transparent {
                        width: 100%;
                        display: block!important;
                        margin: 0 auto!important;
                    }
                }
            }
        }
        #top-restaurant {
            background-color: white none repeat scroll 0 0!important;
        }
    }
}

.icon-find {
    background-image: url(https://static2.weeloy.com/images/sprites/hiw_sprite.jpg);
    background-position: 0px 0px;
    width: 350px;
    height: 193px;
}

.icon-spin {
    background-image: url(https://static2.weeloy.com/images/sprites/hiw_sprite.jpg);
    background-position: -350px 0px;
    width: 350px;
    height: 193px;
}

.icon-win {
    background-image: url(https://static2.weeloy.com/images/sprites/hiw_sprite.jpg);
    background-position: 0px -193px;
    width: 350px;
    height: 193px;
}

#popular {
    padding-bottom: 113px;
    background-image: url('../images/popular/background.jpg');
    padding-top: 90px;
    .header {
        h2 {
            color: #2aa8cf;
            font-family: "proximanova-semibold";
            font-size: 42px;
            margin-bottom: 0px;
        }
        p {
            color: #ffffff;
            font-size: 26px;
            margin-bottom: 40px;
            font-family: proximanova-light;
            font-style: Italic;
        }
    }
    ul {
        padding-left: 0px;
        li {
            @extend %transition;
            cursor: pointer;
            position: relative;
            padding: 1px;
            list-style-type: none;
            a {
                img {
                    width: 100%;
                }
            }
            a:after {
                background-color: #bcc170;
                position: absolute;
                content: "";
                top: 1px;
                left: 1px;
                right: 1px;
                bottom: 1px;
                z-index: 1;
                opacity: 0.5;
                // display: none;
            }
            p {
                // display: none;
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
                color: white;
                font-family: "proximanova-bold";
                text-transform: uppercase;
                font-size: 21px;
                z-index: 10;
            }
        }
        li:hover {
            opacity: 0.9;
            //     a:after {
            //         display: block;
            //     }
            //     p {
            //         display: block;
            //     }
        }
    }
}

@media screen and (max-width: 768px) {
    #popular {
        padding-left: 0px;
        padding-right: 0px;
        div {
            float: none;
        }
    }
}

#amazing {
    background-color: #2aa8cf;
    h2 {
        color: white;
        font-size: 42px;
        margin-top: 110px;
        margin-bottom: 48px;
        font-family: "proximanova-semibold";
    }
    .img {
        background-color: white;
        padding: 7px;
        position: relative;
    }
    .zen-amazing {
        overflow: auto;
        > div {
            margin-bottom: 20px;
        }
        .img-zen {
            img {
                width: 100%;
                background-size: cover;
            }
        }
        h3 {
            font-family: "proximanova-bold";
            font-size: 20px;
            color: #013440;
            margin-top: 7px;
            margin-bottom: 0px;
        }
        .text {
            .amazing-info {
                min-height: 135px;
                p {
                    font-size: 14px;
                    font-family: "proximanova";
                    color: #808080;
                    line-height: 22px;
                }
                .title {
                    margin-bottom: 0px;
                    font-weight: bold;
                }
            }
            #btn_book {
                color: #fff;
                font-size: 14px;
                padding: 7px;
                margin: 0;
                width: 120px;
                background: #FF872C;
                border: 1px solid #FF872C;
                bottom: 5px;
            }
        }
    }
    .more-restaurant {
        padding-top: 35px;
        padding-bottom: 120px;
        display: block;
        clear: both;
        a {
            background: transparent;
            font-size: 14px;
            padding: 7px 20px;
            border-radius: 32px;
            border: 1px solid #ffffff;
            color: #ffffff;
            font-family: 'proximanova';
            cursor: pointer;
            text-decoration: none;
        }
        a:hover {
            color: #D8D8D8;
        }
    }
}

@media screen and (max-width: 768px) {
    #amazing {
        padding-left: 0px;
        padding-right: 0px;
        div {
            .zen-amazing {
                padding-left: 0px;
                padding-right: 0px;
                .text {
                    .amazing-info {
                        min-height: 240px;
                    }
                }
            }
        }
    }
}

.zen-month {
    background-color: #ececec;
    padding-bottom: 79px;
    h2 {
        color: #2aacd2;
        font-family: "proximanova-semibold";
        font-size: 42px;
        padding-top: 100px;
        margin-bottom: 0;
    }
    .zen-text {
        font-size: 26px;
        color: #013440;
        font-family: "ProximaNovaLightIt";
        margin-bottom: 50px;
    }
    .zen-column {
        margin-bottom: 33px;
        @extend %new-restaurant-item;
    }
    .introduction{
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 1020px) {
    body {
        .header-container {
            max-height: 475px;
            .custom-form-search-bar {
                margin-top: 325px;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .zen-month {
        .zen-content {
            .content {
                .wheel {
                    img {
                        left: 0px!important;
                    }
                    .zen-hover {
                        left: -50px!important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    body {
        .header-container {
            max-height: 366px;
            .custom-form-search-bar {
                margin-top: 215px;
            }
        }
        .early_book_restaurant {
            .container {
                .title_home_page {
                    margin-top: 0px!important;
                }
            }
        }
    }
    .zen-month {
        .zen-content {
            .content {
                .wheel {
                    .zen-hover {
                        left: -50px!important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .zen-month {
        .zen-content {
            .content {
                .wheel {
                    img {
                        left: 10px!important;
                    }
                }
            }
        }
    }
}

#blog {
    background-color: #2aa8cf;
    padding-bottom: 115px;
    margin: auto;
    .zen-blog {
        .content {
            .img {
                img {
                    width: 100%;
                }
            }
        }
    }
    h2 {
        margin-top: 110px;
        // margin-bottom: 15px;
        margin-bottom: 0;
        font-family: "proximanova-semibold";
        font-size: 42px;
        color: #ffffff;
    }
    .blog-text {
        font-size: 26px;
        color: #013440;
        margin-bottom: 40px;
        font-family: 'ProximaNovaLightIt';
    }
    .article-content {
        background-color: #ffffff;
        .img {
            img {
                width: 100%;
                background-size: cover!important;
            }
        }
        .text {
            // padding-left: 20px;
            min-height: 130px;
            position: relative;
            .title {
                font-family: "proximanova-semibold";
                font-size: 18px;
                font-weight: bold;
                color: #013440;
                margin-top: 20px;
                padding: 0 25px;
            }
            .read {
                font-family: "proximanova";
                font-size: 16px;
                color: #2aa8cf;
                position: absolute;
                bottom: 20px;
                left: 25px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #blog {
        padding-left: 0px;
        padding-right: 0px;
        .zen-blog {
            float: none;
            padding-right: 0px;
            padding-left: 0px;
            .blog-col {
                float: none;
            }
        }
    }
}

#zen-location {
    padding-top: 95px;
    padding-bottom: 95px;
    margin: auto;
    ul {
        padding: 0px;
        li {
            @extend %transition;
            cursor: pointer;
            position: relative;
            padding: 1px;
            list-style-type: none;
            a {
                img {
                    width: 100%;
                }
                p {
                    // display: none;
                    margin: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-right: -50%;
                    transform: translate(-50%, -50%);
                    color: white;
                    font-family: "proximanova-bold";
                    text-transform: uppercase;
                    font-size: 17px;
                    z-index: 10;
                }
            }
            a:after {
                background-color: #bcc170;
                position: absolute;
                content: "";
                top: 1px;
                left: 1px;
                right: 1px;
                bottom: 1px;
                z-index: 1;
                opacity: 0.5;
                // display: none;
            }
        }
        li:hover {
            opacity: 0.9;
            //     a:after {
            //         display: block;
            //     }
            //     a {
            //         p {
            //             display: block;
            //             font-size: 25px;
            //         }
            //     }
        }
    }
}

@media screen and (max-width: 768px) {
    #zen-location {
        padding-left: 0px;
        padding-right: 0px;
    }
}

#zen-social {
    background-color: #9d9d9d;
    padding: 60px 0px;
    text-align: center;
    h3 {
        font-family: proximanova;
        margin-right: 5px;
        font-size: 24px;
        color: #f3f3f3;
        display: inline-block;
    }
    ul {
        margin: 0;
        padding-left: 0;
        list-style: none;
        display: inline-block;
        li {
            display: inline-block;
            width: 70px;
            height: 70px;
            background-color: #fff;
            border-radius: 100%;
            text-align: center;
            margin: 0 5px;
            a {
                color: #9d9d9d;
                font-size: 32px;
                background-color: transparent;
                text-decoration: none;
                span {
                    line-height: 70px;
                    transition: all 500ms ease;
                }
            }
        }
        li:hover {
            span {
                -ms-transform: rotate(360deg);
                /* IE 9 */
                -webkit-transform: rotate(360deg);
                /* Chrome, Safari, Opera */
                transform: rotate(360deg);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #zen-social {
        padding-left: 0px;
        padding-right: 0px;
    }
}

#zen-footer {
    background-color: #013440;
    padding-top: 105px;
    padding-bottom: 105px;
    overflow: auto;
    .zen-col {
        h2 {
            color: #caced0;
            font-family: "proximanova-bold";
            text-transform: uppercase;
            margin-bottom: 30px;
            font-size: 14px;
            span {
                color: #00a9d2;
                padding-right: 10px;
            }
        }
        ul {
            padding: 0px;
            li {
                list-style-type: none;
                padding-bottom: 5px;
                a {
                    font-family: "proximanova-bold";
                    font-size: 14px;
                    color: #9ca6a9;
                }
            }
        }
    }
    .app {
        ul {
            li {
                padding-bottom: 10px;
                img {
                    max-width: 80%;
                }
            }
        }
    }
    .form {
        padding: 0px;
        form {
            .email {
                padding: 8px;
                border: 0px;
                outline: none;
            }
            .submit {
                background-color: #00aad2;
                font-family: "proximanova-bold";
                padding: 9px 21px 7px 21px;
                border: 0px;
                color: #fff;
            }
        }
    }
}

@media (min-width:1200px) {
    .category-item-info {
        .location-icon {
            .location-text {
                padding: 0 57px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #zen-social {
        padding-left: 0px;
        padding-right: 0px;
    }
}

#zen-footer {
    section {
        display: block;
        clear: both;
    }
}

@media screen and (max-width: 768px) {
    #zen-footer {
        text-align: center;
    }
}


@media screen and (max-width: 550px) {
    .view-all-restaurant{
        height: 81px!important;
    }
}
@media (min-width: 550px)  and (max-width: 768px) {
    .view-all-restaurant{
        height: 64px!important;
    }
}
@media (min-width: 768px) and (max-width: 1020px) {
    .view-all-restaurant{
        height: 64px!important;
    }
}
