.bootstrap-datetimepicker-widget table td.disabled,
.bootstrap-datetimepicker-widget table td.disabled:hover {
    opacity: 0.2;
}

.section-booking {
    overflow-x: hidden;
    margin-top: 40px;
    .section-container {
        background: #FFF;
        text-align: left;
        padding: 2px;
        position: relative;
        .section-background {
            border: 1px solid;
            border-radius: 8px;
            .section {
                .section-item {
                    padding: 0 30px;
                    &:nth-child(1) {
                        margin-top: 15px;
                    }
                    .section-title {
                        margin-left: 50px;
                        input[type="radio"] {
                            margin-right: 5px;
                        }
                    }
                    .section-desc {
                        margin: 15px 0;
                        height: initial;
                    }
                }
            }
            .pax-dinner,
            .book-order {
                width: 100%;
                margin: auto;
                .datetime-picker {
                    margin: auto;
                }
            }
            .pax-dinner {
                background: #f5f5f5;
                padding: 20px 0;
                border-top: 1px solid;
                border-bottom: 1px solid;
            }
            .book-order {
                padding: 20px;
            }
            .hour-picker-container {
                position: relative;
                margin-bottom: 20px;
                &:before {
                    content: ' ';
                    position: absolute;
                    background: #FFF url(../../../client/assets/images/section-booking-icons.png) no-repeat;
                    width: 24px;
                    height: 19px;
                    top: 2px;
                    right: 4px;
                    background-position: -107px -2px;
                    z-index: 2;
                }
                select {
                    height: 22px;
                    z-index: 1;
                    padding: 0 12px;
                }
            }
            .book-button {
                button {
                    padding: 8px;
                    text-transform: uppercase;
                    background: #ff872c;
                    font-size: 14px;
                    border-radius: 0;
                    &:hover {
                        background: #ff872c;
                        color: #FFF;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .section-booking {
        .section-container {
            .section-background {
                .pax-dinner {
                    .pax {
                        margin-bottom: 15px;
                    }
                }
                .book-button {
                    text-align: center;
                    margin: 0;
                    width: 100%!important;
                }
            }
        }
    }
}
