<table style='width:100%; line-height: 20px'><tr>
        <td>
            <p>Dear {[{data.salutation|capitalize}]} {[{data.firstname|capitalize}]} {[{data.lastname|capitalize}]},<br/>
                We are pleased to confirm your reservation. </p>

            <p><b>Booking details:</b><br/>
                Date: {[{data.rdate_date_only}]}<br/>
                Time: {[{data.rdate_time_only}]}<br/>
                No. of guest(s): {[{data.cover}]}<br/>
                Guest special requests: {[{data.specialrequest}]}<br/>
            </p>

            <p><b>Restaurant details:</b><br/>
                <b>{[{data.restaurantinfo.title}]}</b><br/>
                {[{data.restaurantinfo.address}]},<br/>
                {% if data.restaurantinfo.address1|default%}{[{data.restaurantinfo.address1}]},<br/>{%endif%}
                {[{data.restaurantinfo.city}]} {[{data.restaurantinfo.zip}]}<br/>
                {[{data.restaurantinfo.tel}]}<br/>
                
                Location: <a href='https://www.google.com/maps/place/{[{data.restaurantinfo.map}]}'>map</a></p>
                {% if data.restaurantinfo.URLrestaurant != '' %}Website: {[{data.restaurantinfo.URLrestaurant}]}<br/>{% endif %}
                
                Have an enjoyable meal at {[{data.restaurantinfo.title}]}
        </td>
    </tr>
</table>