<div id="checkout-info" class="event-booking">
    <div class="container">
        <div id="" class='col-xs-12 col-sm-12  hidden-md  hidden-lg' ng-class="{'col-xs-12 col-sm-12  hidden-md  hidden-lg':true}" >
            <div class="sidebar-contant">
                <div class="img-logo">
                    <img ng-src="{{restaurant.getLogoImage()}}" />
                </div>
                <h3 class="text-center" ng-bind="restaurant.getTitle()"></h3>
                <p class="text-center" ng-if="false">
                    <span ng-bind="restaurant.getAddress()"></span>, <span ng-bind="restaurant.getZip()"></span>
                </p>

                <hr/>
                <cart ng-show="items | lengthMoreThan:0" items="items" ng-attr-cx="false" ng-attr-minorder="restaurant.getMinOnlineOrder()" ng-attr-tax="restaurant.getOnlineOrderTax()"></cart>
            </div>
        </div>

        <div id="main-form" ng-class="{'col-xs-12 col-sm-12 col-md-8 col-lg-8':true}" class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
<!--            <a rel="nofollow" ng-href="{{restaurant.getInternalPath()}}">
                <p class="back-to-cart" ng-if="bktracking !== 'WEBSITE'">
                    <i class="fa fa-chevron-left"></i>
                    <span>Back to restaurant page</span>
                </p>
            </a>-->
            <div id="contant-main-form">
                <div class="col-xs-12">
                    <div class="cnt">
                        <h2 ng-bind="RestaurantEvent.getTitle()"></h2>
                        <!--<span ng-if="RestaurantEvent.getStartTime('MMM DD, YYYY') === RestaurantEvent.getEndTime('MMM DD, YYYY')">{{RestaurantEvent.getStartTime('MMM DD, YYYY')}} to {{RestaurantEvent.getEndTime('MMM DD, YYYY')}} in {{RestaurantEvent.getCity()}}</span>-->
                        <p ng-bind="RestaurantEvent.description"></p>
                    </div>
                    <div ng-if="RestaurantEvent.hasPicture()" class="img-block">
                        <a href="{{ RestaurantEvent.getPicture()}}" class="fresco" data-fresco-caption="{{ RestaurantEvent.getTitle()}} - weeloy.com" data-fresco-group="event">
                            <img ng-src="{{ RestaurantEvent.getPicture()}}" class="img-responsive" alt="{{ RestaurantEvent.getTitle()}} - weeloy.com">
                        </a>
                    </div>
                </div>
                <div id="main-form" class="col-xs-12 col-sm12 col-md-12 col-lg-12" ng-show="balPax <= 0">
                    <h1>This event is full.</h1>
                </div>
                <form id="form-border" name="OrderForm" ng-show='balPax > 0' ng-submit="SaveOrderRequest(OrderForm, Order, RestaurantEvent, DeliveryDate)" novalidate" >
                    <div class="title col-xs-12 col-sm12 col-md-12 col-lg-12">
                        <div class="numberCircle">1</div>
                        <h4>Personal Details</h4>
                    </div>
                    <p ng-if="!loggedin && bktracking !== 'WEBSITE'">Have an account width us? <a data-toggle="modal" data-target="#loginModal">Log in</a> to checkout faster!</p>
                    <div class="form-group col-xs-12 col-sm12 col-md-6 col-lg-6">
                        <label>First name*</label>
                        <input type="text" class="form-control" name="first_name" ng-model="Order.first_name" required>
                        <div class="error">
                            <span ng-show="OrderForm.$submitted && OrderForm.first_name.$error.required">Please enter your first name</span>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm12 col-md-6 col-lg-6">
                        <label>Last name*</label>
                        <input type="text" class="form-control" name="last_name" ng-model="Order.last_name" required>
                        <div class="error">
                            <span ng-show="OrderForm.$submitted && OrderForm.last_name.$error.required">Please enter your last name</span>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm12 col-md-6 col-lg-6">
                        <label>Email*</label>
                        <input type="email" class="form-control" name="email" ng-model="Order.email" required>
                        <div class="error">
                            <span ng-show="OrderForm.$submitted && OrderForm.email.$error.required">Please enter your email</span>
                            <span ng-show="OrderForm.$submitted && OrderForm.email.$error.email">Please enter a valid email</span>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm12 col-md-6 col-lg-6">
                        <label>Phone*</label>
                        <input type="text" class="form-control" name="phone" ng-model="Order.phone" ng-pattern="/[+|0-9|\s]+$/" required>
                        <div class="error">
                            <span ng-show="OrderForm.$submitted && OrderForm.phone.$error.required">Please enter your phone number</span>
                            <span ng-show="OrderForm.$submitted && OrderForm.phone.$error.pattern">Please enter a valid phone number</span>
                        </div>
                    </div>

                    <div class="form-group col-xs-12 col-sm12 col-md-6 col-lg-6">
                        <label>Number of people*</label>
                         <select class="form-control" ng-model="Order.pax" required style='line-height:5px; overflow-x: hidden; '>
                            <option mg-selected="{{pax == Order.pax }}" ng-repeat="pax in range"  value="{{pax}}"  ng-bind="pax"  >
                            </option>
                        </select>
                        
  
<!--                        <select class="form-control" ng-model="Order.pax" required>
                            <option mg-selected="{{pax.pax == Order.pax }}" ng-repeat="pax in tableSize"  value="{{pax.pax}}" ng-if="pax.pax < balPax + 1" ng-bind="pax.pax" >
                            </option>
                        </select>-->
                        <div class="error">
                            <span ng-show="OrderForm.$submitted && Order.pax == '' || OrderForm.$submitted && OrderForm.pax.$error.required">Please enter number of people</span>

                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm12 col-md-6 col-lg-6">
                        <label>Company name(Optional)</label>
                        <input type="text" class="form-control" ng-model="Order.company">
                    </div>
                    <div class="title col-xs-12 col-sm12 col-md-12 col-lg-12">
                        <div class="numberCircle">2</div>
                        <h4>Event date and time</h4>
                    </div>
                    <div class="title col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-8">
                                    <div id="datetimepicker"></div>
                                </div>
                                
                                <div class="col-sm-12 col-md-4">
                                    <ul class="delivery-time col-sm-12 col-xs-12">
                                        <li ng-click="SelectTime(time)" ng-repeat="time in DeliveryTimeRange" >
                                            <p ng-class="time.selected ? 'selected' : ''"><span class="fa fa-clock-o"></span><span ng-bind='time.time' style="font-size: 13px;"></span></p>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
<!--                    <div class="title col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-8">
                                    <div id="timepicker"></div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <div class="title col-xs-12 col-sm12 col-md-12 col-lg-12">
                        <div class="numberCircle">3</div>
                        <h4>Special requests</h4>
                        <textarea class="form-control remarks" ng-model="Order.special_request"></textarea>
                    </div>
                    
                    <div class="title col-xs-12 col-sm12 col-md-12 col-lg-12" ng-show="RestaurantEvent.getEventOrderTnc() != ''">
                        <div class="numberCircle">4</div>
                        <h4>Terms and conditions</h4>
                        <div class=" col-xs-12 col-sm12 col-md-12 col-lg-12">
                            <p><span ng-bind="RestaurantEvent.getEventOrderTnc()"></span></p>
                        </div>
                    </div>
                    <div class="title col-xs-12 col-sm12 col-md-12 col-lg-12">
                        <div class="numberCircle" ng-show="RestaurantEvent.getEventOrderTnc() != ''">5</div>

                        <div class="numberCircle" ng-show="RestaurantEvent.getEventOrderTnc() == ''">4</div>
                        <h4>Payment method</h4>
                        <div class="form-group checkbox col-xs-12 col-sm12 col-md-12 col-lg-12">
                            <label>
                                <input type="radio" name="optionsPaymentRadios" id="optionsPaymentRadios1" value="creditcard" checked> Credit card
                            </label>
                            <label  ng-if ='restaurant.paypalflg' >
                                 <input  type="radio" name="optionsPaymentRadios" id="optionsPaymentRadios2"  value="paypal"> Paypal
                             </label>
                        </div>
                    </div>
                    <div class="title col-xs-12 col-sm12 col-md-12 col-lg-12">
                        <div class="form-group checkbox col-xs-12 col-sm12 col-md-12 col-lg-12">
                            <label>
                                <input type="checkbox" name="optionsRadios_tnc" id="optionsRadios1" value="option1" ng-model="Order.optionsRadios_tnc" required  > I accept the terms & conditions
                            </label>
                        </div>
                        <div class="form-group checkbox col-xs-12 col-sm12 col-md-12 col-lg-12">
                            <label>
                                <input type="checkbox" name="optionsRadios" id="optionsRadios2" value="option2" checked> I want to receive email & newsletter
                            </label>
                            <div class="error">
                                <span ng-show="OrderForm.$submitted && OrderForm.optionsRadios_tnc.$error.required" ng-bind="Str.template.TextPleaseAcceptTnc"></span>
                            </div>
                        </div>
                    </div>

                    <div class="title col-xs-12 col-sm12 col-md-12 col-lg-12">
                        <button type="submit" class="btn btn-default">Submit Order</button>
                    </div>
                </form>
            </div>
        </div>

        <div id="sidebar-right" class='hidden-xs hidden-sm col-md-4 col-lg-4 sidebar' ng-class="{'hidden-xs hidden-sm col-md-4 col-lg-4 sidebar':true}" >
            <div class="sidebar-contant">
                <div class="img-logo">
                    <img ng-src="{{restaurant.getLogoImage()}}" />
                </div>
                <h3 class="text-center" ng-bind="restaurant.getTitle()"></h3>
                <p class="text-center" ng-if="false">
                    <span ng-bind="restaurant.getAddress()"></span>, <span ng-bind="restaurant.getZip()"></span>
                </p>
                <span>Event Address</span>
                <p><span ng-bind="restaurant.getAddress()"></span>, <span ng-bind="restaurant.getZip()"></span></p>
                <span>Event Date</span>
                <p ng-bind="DeliveryDate | timeFormat:'DD - MM - YYYY'"></p>

                <span ng-show='Order.time'>Time</span>
                <p ng-bind="Order.time"></p>
                <div ng-show="balPax > 1">
                    <p><span>Number of people</span>: <span ng-bind="Order.pax"></span></p>
                    <p><span>Price</span>: SGD <span ng-bind="RestaurantEvent.getPrice()"></span></p>
                    <p ng-if="isperbookingflg === 15 "><span>Total</span>: SGD <span ng-bind="Order.pax * RestaurantEvent.getPrice()"></span></p>
                </div>
                <hr/>
                <cart ng-show="items | lengthMoreThan:0" items="items" ng-attr-cx="false" ng-attr-minorder="restaurant.getMinOnlineOrder()" ng-attr-tax="restaurant.getOnlineOrderTax()"></cart>
            </div>
        </div>
    </div>
</div>

