<script type="text/ng-template" id="calendar.html">
<div class="modal-header"><h3 class="modal-title" style='font-family:Dosis;color:blue;font-weight:bold'>{{modalOptions.headerText}}</h3> </div>
<form ng-submit="modalOptions.submit(modalOptions.mydata)">
<div class="modal-body" style="width='550'">

<div class="input-group xls"  style='padding:10px 10px 10px 10px;'>
<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i>&nbsp; &nbsp;</span>
<input type='text' ng-model='modalOptions.mydata.title' class='form-control input' placeholder="event name">
</div>

<div class="input-group xls" style='padding:10px 10px 10px 10px;'>
<span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i>&nbsp; &nbsp;</span>
<textarea class="form-control input-sm" ng-model="modalOptions.mydata.notes" placeholder="your text" rows="3" ></textarea>
</div>
</div>

<div class='input-group' style='padding:10px 25px 10px 20px;'>
<div class='input-group-btn' uib-dropdown >
<button type='button' class='btn book-dropdown' uib-dropdown-toggle>
	&nbsp;<i class="glyphicon glyphicon-cutlery"></i>&nbsp; <span class='caret'></span>
</button>
<ul class='dropdown-menu scrollable-menu' uib-dropdown-menu >
	<li ng-repeat="p in modalOptions.mydata.daysAr"><a href ng-click="modalOptions.mydata.ndays=p;">{{p}}</a></li>
</ul>
</div>
	<input type='text' ng-model='modalOptions.mydata.ndays' class='form-control input' placeholder="how many days" readonly >
</div>

<div class="modal-footer">
    <button type="submit" class="btn btn-primary">{{modalOptions.actionButtonText}}</button>
    <button type="button" class="btn btn-warning" ng-click="modalOptions.myclose()" id='closewindow'>{{modalOptions.closeButtonText}}</button>
</div>
</script>
