.search-section {
    overflow: auto;
    min-height: 100%;
    background-color: #efefef;
    padding: 0px;
    .container-fluid {
        padding: 0px;
        .map-arrow-rotate {
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
        }
        #expand-map-content {
            position: absolute;
            left: 20px;
            top: calc(50%);
            z-index: 11;
            >div {
                vertical-align: middle;
                span {
                    border: 1px solid #333;
                    color: #333;
                    font-size: 20px;
                    padding: 10px;
                    z-index: 999;
                    border-radius: 100%;
                    cursor: pointer;
                    transition: all 0.8s;
                    -webkit-transition: all 0.8s;
                    -moz-transition: all 0.8s;
                    -o-transition: all 0.8s;
                    -ms-transition: all 0.8s;
                }
                span:hover {
                    box-shadow: 0 0 5px #333;
                }
            }
        }
        #search-bar-div {
            .form-search {
                @extend %search_form;
                margin-top: 50px;
                margin-bottom: 20px;
            }
        }
        .searchFilterHeight {
            height: calc(100% - 130px);
        }
        #search-filter {
            margin-top: 20px;
            margin-bottom: 20px;
            overflow: auto;
            background-color: #fff;
            padding: 16px;
            color: #555555;
            position: relative;
            font-family: 'proximanova-light';
            input,
            select {
                -webkit-appearance: none;
            }
            > div {
                padding: 0px;
            }
            .filter {
                float: left;
                padding: 0px 5px;
                select {
                    height: 47px;
                    border-radius: 0px;
                    border: medium none;
                    padding: 0px 5px;
                    text-transform: capitalize;
                    width: 100%;
                    option {
                        text-transform: capitalize;
                    }
                    border: 1px solid #ccc;
                }
                .inner-icon {
                    position: absolute;
                    top: 14px;
                    right: 12px;
                    span {
                        font-size: 16px;
                        color: #ccc;
                    }
                }
            }
            .filter-title {
                padding-left: 0px;
                color: #555555;
                line-height: 47px;
            }
            #cuisine-group {
                margin-top: 10px;
                .cuisine-title {
                    padding-left: 0px;
                    line-height: 47px;
                }
                .padding_0 {
                    padding: 0px 3px;
                    .main-cuisine {
                        border-bottom: 1px solid #ccc;
                    }
                    .cuisine {
                        .cuisine-panel {
                            display: inline-block;
                            overflow: hidden;
                            margin-top: 10px;
                            width: 100%;
                            margin-bottom: 0px;
                            padding: 10px 5px;
                            cursor: pointer;
                            label,
                            input[type="checkbox"] {
                                display: inline-block;
                            }
                            label {
                                text-transform: capitalize;
                                color: #565a5c;
                            }
                            input[type="checkbox"] {
                                position: relative;
                                -webkit-appearance: none;
                                height: 1.25em;
                                width: 1.25em;
                                margin-right: 5px;
                                vertical-align: top;
                                border: 1px solid #c4c4c4;
                                border-radius: 2px;
                                background-color: #fff;
                                color: #565a5c;
                                margin-top: 0px;
                            }
                            input[type="checkbox"]:checked::before {
                                display: block;
                            }
                            input[type="checkbox"]::before {
                                content: "\2713";
                                position: absolute;
                                font-size: 0.85em;
                                left: 1px;
                                text-align: center;
                                width: 1.25em;
                                color: #ff5a5f;
                                display: none;
                            }
                        }
                    }
                    #cuisineCollapse {
                        overflow-y: scroll;
                        float: left;
                        max-height: 350px;
                    }
                    #cuisineCollapse::-webkit-scrollbar {
                        width: 5px;
                    }
                    #cuisineCollapse::-o-scrollbar {
                        width: 5px;
                    }
                    #cuisineCollapse::-moz-scrollbar {
                        width: 5px;
                    }
                    #cuisineCollapse::-ms-scrollbar {
                        width: 5px;
                    }
                    /* Track */
                    #cuisineCollapse::-webkit-scrollbar-track {
                        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                        -webkit-border-radius: 10px;
                        border-radius: 10px;
                    }
                    #cuisineCollapse::-o-scrollbar-track {
                        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                        -webkit-border-radius: 10px;
                        border-radius: 10px;
                    }
                    #cuisineCollapse::-ms-scrollbar-track {
                        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                        -webkit-border-radius: 10px;
                        border-radius: 10px;
                    }
                    #cuisineCollapse::-moz-scrollbar-track {
                        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                        -webkit-border-radius: 10px;
                        border-radius: 10px;
                    }
                    /* Handle */
                    #cuisineCollapse::-webkit-scrollbar-thumb {
                        -webkit-border-radius: 10px;
                        border-radius: 10px;
                        background: #ddd;
                        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
                    }
                    #cuisineCollapse::-o-scrollbar-thumb {
                        -webkit-border-radius: 10px;
                        border-radius: 10px;
                        background: #ddd;
                        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
                    }
                    #cuisineCollapse::-ms-scrollbar-thumb {
                        -webkit-border-radius: 10px;
                        border-radius: 10px;
                        background: #ddd;
                        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
                    }
                    #cuisineCollapse::-moz-scrollbar-thumb {
                        -webkit-border-radius: 10px;
                        border-radius: 10px;
                        background: #ddd;
                        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
                    }
                    #cuisineCollapse::-webkit-scrollbar-thumb:window-inactive {
                        background: rgba(255, 0, 0, 0.4);
                    }
                    #cuisineCollapse::-o-scrollbar-thumb:window-inactive {
                        background: rgba(255, 0, 0, 0.4);
                    }
                    #cuisineCollapse::-ms-scrollbar-thumb:window-inactive {
                        background: rgba(255, 0, 0, 0.4);
                    }
                    #cuisineCollapse::-moz-scrollbar-thumb:window-inactive {
                        background: rgba(255, 0, 0, 0.4);
                    }
                }
            }
            #applyFilter {
                margin-top: 10px;
                .padding_0 {
                    padding: 0px 3px;
                    #applyFilterBtn {
                        @extend %btnSearch;
                        span {
                            font-size: 14px;
                        }
                    }
                    #applyFilterBtn:hover {
                        @extend %btnSearchHover;
                    }
                    #clearFilterBtn,
                    #moreFilter {
                        @extend %btnSearch;
                        background-color: #fff;
                        margin-right: 10px;
                        border: 1px solid #ccc;
                        span {
                            font-size: 14px;
                            color: #333;
                        }
                    }
                    #clearFilterBtn:hover,
                    #moreFilter:hover {
                        @extend %btnSearchHover;
                        background-color: #eee;
                    }
                    #moreFilter {
                        .fa-caret-down {
                            margin-right: 15px;
                            @extend %transition;
                        }
                        .rotate {
                            transform: rotate(180deg);
                            -webkit-transform: rotate(180deg);
                            -o-transform: rotate(180deg);
                            -ms-transform: rotate(180deg);
                            -moz-transform: rotate(180deg);
                        }
                    }
                    .filterButtonRight {
                        float: left!important;
                        margin-top: 10px!important;
                        margin-right: 0px!important;
                        width: 100%;
                    }
                }
            }
            .applyFilterFixBottom {
                background-color: #fff;
                border-top: 1px solid #ccc;
                padding-top: 10px;
            }
        }
        #result_search {
            margin-top: 0px;
            padding: 0px;
            .search-result-item {
                padding-left: 7px;
                padding-right: 7px;
                margin-bottom: 20px;
                restaurant-item {
                    @extend %new-restaurant-item;
                }
            }
        }
        .infoBox {
            width: 250px!important;
            padding-bottom: 0%;
            .border {
                @extend %item;
                margin-bottom: 0px;
                border: none;
                .custom-grid {
                    figure {
                        position: relative;
                        img {
                            width: 100%;
                        }
                        .offer-left {
                            position: absolute;
                        }
                        .offer-restau-name {
                            position: absolute;
                            bottom: 0px;
                            width: 100%;
                        }
                    }
                }
                .item {
                    overflow: auto;
                    .book {
                        z-index: 20;
                    }
                    .location-text {
                        padding-left: 10px;
                        padding-top: 5px;
                    }
                }
                .arrow {
                    z-index: 10;
                }
            }
            .arrow {
                width: 0px;
                height: 0px;
                position: absolute;
                padding: 0px !important;
                left: 70px;
                bottom: -20px;
                border: 20px solid rgba(255, 0, 0, 0);
                border-top: 10px;
                border-right-color: white;
            }
        }
        .noresult {
            font-family: 'proximanova';
            color: #8899a6;
            .all {
                span {
                    text-transform: capitalize;
                }
            }
        }
        #google-map {
            position: fixed;
            right: 0px;
            height: 1000px;
            padding: 0px;
            top: 40px;
            #map-canvas {
                height: 100%;
            }
        }
    }
    .final_box {
        background: #f6f6f6;
        padding-bottom: 30px;
        padding-top: 30px;
        width: 100%;
        overflow: auto;
        .showcase-image {
            img {
                max-width: 100%;
            }
        }
        h1 {
            color: #73bef5;
            display: inline-block;
            font-size: 25px;
            padding-bottom: 20px;
            padding-top: 10px;
        }
        .custom_button {
            background-color: #dddddd;
            background-image: linear-gradient(to bottom, #2aa8cf, #2aa8cf);
            border-radius: 0;
            color: #ffffff;
            padding: 3px 31px;
        }
        .dummy {
            color: #9d9d9d;
        }
        .sec_text {
            color: #6a6a6c;
            font-weight: bold;
        }
    }
}

@media screen and (max-width: 1500px) {
    .search-section {
        .zen-content {
            .item-content {
                .wheel {
                    .wheel-group {
                        img {
                            margin-left: 15px;
                        }
                        .zen-hover {
                            margin-left: -40px!important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .search-result-item {}
}

@media screen and (max-width: 900px) {
    .search-section {
        .search-result-item:nth-child(2n+1) {
            .zen-content {
                .item-content {
                    .wheel {
                        .wheel-group {
                            img {
                                margin-left: 15px;
                            }
                            .zen-hover {
                                margin-left: -90px!important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) and (max-width: 1450px) {
    .search-section {
        .search-result-item:nth-child(3n+1) {
            .zen-content {
                .item-content {
                    .wheel {
                        .wheel-group {
                            img {
                                margin-left: 15px;
                            }
                            .zen-hover {
                                margin-left: -90px!important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #search-bar-div {
        padding-left: 8px;
        padding-right: 8px;
    }
}

@media screen and (max-width: 480px) {
    #search-bar-div {
        .search-input {
            border-bottom: 1px solid #ddd!important;
        }
        .input-group {
            display: block;
        }
        .form-search {
            .search-bar {
                #dd_city {
                    border-left: none!important;
                }
            }
        }
    }
    .search-result-item {
        width: 100%;
    }
}
