<div class="restaurant-info-page" ng-if="restaurant != undefined">
    <div class="text-center" ng-style="restaurant.bannerStyleBookNow(bannerSizePath)" style="overflow: hidden;">
        <div class="container" style="padding: 60px 0 0; margin-bottom: -55px">
            <div id="breadcrumb" breadcrumb base-url="base_url" base-path="base_path" restaurant="restaurant"></div>
        </div>
        <book-iframe restaurant="restaurant"></book-iframe>
    </div>
</div>
