{% include 'header/callcenterheader_email.html.twig' ignore missing %}
<tr>
    <td align="center" valign="top" bgcolor="#ffffff" style="background-color:#ffffff; padding-top:35px;" class="container-indent">
        <table width="550" border="0" cellspacing="0" cellpadding="0" class="inner-container">
            <tr>
                <td align="center" valign="top" style="font-family:arial; color:#494949; font-size:39px; border-bottom:1px solid #e8e8e8; padding-bottom:16px;" class="welcome-head">{[{data.labelContent['review_reminder_content']}]}! </td>
            </tr>
            <tr>
                <td align="left" valign="top" style="font-family:arial; color:#494949; font-size:14px; border-bottom:1px solid #e8e8e8; padding-bottom:25px; padding-top:25px;"><strong> Dear {[{data.salutation}]} {[{data.firstname}]} {[{data.lastname}]},</strong><br />
                    <br />
                    {[{data.labelContent['review_reminder_content']}]} <a href ="https://www.weeloy.com/{[{data.restaurantinfo.internal_path}]}" target="_blank" >{[{data.restaurantinfo.title}]}</a>. <br /><br />
                   {# <a href="https://www.weeloy.com/post-review?f=review&bk={[{data.baseconfirmation}]}" style="text-decoration:none;color:#838383;cursor:pointer;" ><button style="background-color:#2ba8cf;border: 1px solid #2BA8CF;width:140px;height:40px;font-family:arial; color: #fff; font-size:16px;margin-left:30%;"> {[{data.labelContent['btn_writereview']}]}</button></a>#}
                </td>
            </tr>
             <tr>
                <td align="left" valign="top" style="font-family:arial; color:#494949; font-size:18px; padding-top:13px; padding-bottom:14px;padding-left:16px;">{[{data.labelContent['booking_details']}]}</td>
            </tr>
            <tr>
                <td align="left" valign="top"  >
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" >
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;" width="32%">{[{data.labelContent['data_time']}]}</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.rdate}]}</strong></td>
                        </tr>
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">{[{data.labelContent['confirmation_no']}]}.</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.confirmation}]}</strong></td>
                        </tr>
                    </table>
                </td>
           </tr>
            <tr>
                <td align="left" valign="top" style="font-family:arial; color:#494949; font-size:18px; padding-top:13px; padding-bottom:14px;padding-left:16px;">Rating</td>
            </tr>
            <tr>
                <td align="center" valign="top" class="share-icon-wrap">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="share-icons">
                         <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;" width='180px;' > <a href="{[{data.baseUrl}]}/modules/review/review_post.php?f=review&rt=ext-5&bk={[{data.baseconfirmation}]}" target="_blank" rel="nofollow" style="text-decoration:none;color:#838383;cursor:pointer;" ><img src="https://static.weeloy.com/images/icons/stars-rating/5stars_resize.jpg" /></a></td>
                                <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><a href="{[{data.baseUrl}]}/modules/review/review_post.php?f=review&rt=ext-5&bk={[{data.baseconfirmation}]}" target="_blank" rel="nofollow" style="text-decoration:none;color:#838383;cursor:pointer;" ><strong>Excellent</strong></a></td>
                        </tr>
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;" width='180px;' ><a href="{[{data.baseUrl}]}/modules/review/review_post.php?f=review&rt=very-4&bk={[{data.baseconfirmation}]}" target="_blank" rel="nofollow" style="text-decoration:none;color:#838383;cursor:pointer;" > <img src="https://static.weeloy.com/images/icons/stars-rating/4stars_resize.jpg"   /></a></td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><a href="{[{data.baseUrl}]}/modules/review/review_post.php?f=review&rt=very-4&bk={[{data.baseconfirmation}]}" target="_blank" rel="nofollow" style="text-decoration:none;color:#838383;cursor:pointer;" ><strong>Very Good</strong></a></td>
                        </tr>
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;" width='180px;' ><a href="{[{data.baseUrl}]}/modules/review/review_post.php?f=review&rt=good-3&bk={[{data.baseconfirmation}]}" target="_blank" rel="nofollow" style="text-decoration:none;color:#838383;cursor:pointer;" > <img src="https://static.weeloy.com/images/icons/stars-rating/3stars_resize.jpg" /></a></td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong><a href="{[{data.baseUrl}]}/modules/review/review_post.php?f=review&rt=good-3&bk={[{data.baseconfirmation}]}" target="_blank" rel="nofollow" style="text-decoration:none;color:#838383;cursor:pointer;" >Good</strong></a></td>
                        </tr>
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;"  width='180px;'> <a href="{[{data.baseUrl}]}/modules/review/review_post.php?f=review&rt=avg-2&bk={[{data.baseconfirmation}]}" target="_blank" rel="nofollow" style="text-decoration:none;color:#838383;cursor:pointer;" ><img src="https://static.weeloy.com/images/icons/stars-rating/2stars_resize.jpg"   /></a></td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><a href="{[{data.baseUrl}]}/modules/review/review_post.php?f=review&rt=avg-2&bk={[{data.baseconfirmation}]}" target="_blank" rel="nofollow" style="text-decoration:none;color:#838383;cursor:pointer;" ><strong>Average</strong></a></td>
                        </tr>
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;"  width='180px;'><a href="{[{data.baseUrl}]}/modules/review/review_post.php?f=review&rt=below-1&bk={[{data.baseconfirmation}]}" target="_blank" rel="nofollow" style="text-decoration:none;color:#838383;cursor:pointer;" > <img src="https://static.weeloy.com/images/icons/stars-rating/1stars_resize.jpg"  /></a></td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><a href="{[{data.baseUrl}]}/modules/review/review_post.php?f=review&rt=below-1&bk={[{data.baseconfirmation}]}" target="_blank" rel="nofollow" style="text-decoration:none;color:#838383;cursor:pointer;" ><strong>Below Expectation</strong></a></td>
                        </tr>
                        {#<tr>
                            <td align="left" width="38" valign="middle" style="padding-top:5px; padding-bottom:5px;"><a href="https://www.weeloy.com/post-review?f=review&bk={[{data.baseconfirmation}]}" target="_blank" rel="nofollow" style="text-decoration:none;color:#838383;cursor:pointer;" ><img src="https://static.weeloy.com/emails/calendar.jpg" width="34" height="32" alt=" " style="display:block; border:0" /></a></td>
                            <td align="left" valign="middle" style="font-family:arial; color:#838383; font-size:13px; padding-top:5px; padding-bottom:5px;"><a href="https://www.weeloy.com/post-review?f=review&bk={[{data.baseconfirmation}]}" target="_blank" rel="nofollow" style="text-decoration:none;color:#838383;cursor:pointer;" >Write a review </a></td>
                        </tr>#}
                    </table>
             </td>
           </tr>
           <tr>
               <td align="left" valign="top" style="font-family:arial; color:#494949; font-size:14px; border-bottom:1px solid #e8e8e8; padding-bottom:25px; padding-top:25px;padding-left:10px;">
                   {[{data.labelContent['review_reminder_message']}]} {[{data.restaurantinfo.title}]}.
               </td>
           </tr>
           <tr>
               <td align="left" valign="top" style="font-family:arial; color:#494949; font-size:14px; border-bottom:1px solid #e8e8e8; padding-bottom:25px; padding-top:25px;padding-left:10px;">
                   
               </td>
           </tr>
           


        </table>    
</td>
</tr> 
</table>
 </td>
  </tr>
</table>
</body>
</html>
