{% include 'header/callcenterheader_email.html.twig' ignore missing %}

<tr>
    <td align="center" valign="top" bgcolor="#ffffff" style="background-color:#ffffff; padding-top:35px;" class="container-indent">
        <table width="550" border="0" cellspacing="0" cellpadding="0" class="inner-container">
         <tr>
                <td align="center" valign="top" style="font-family:arial; color:#494949; font-size:25px; padding-bottom:16px;" class="welcome-head">
                    <img src="https://www.weeloy.com/images/Logo_New_bacc.png" width="160" height="42" alt=" " style="display:block; border:0" /></td>
            </tr>
            <tr>
                <td align="center" valign="top" style="font-family:arial; color:#494949; font-size:28px; border-bottom:1px solid #e8e8e8; padding-bottom:16px;" class="welcome-head">Thank you!</td>
            </tr>
            <tr>
                <td align="left" valign="top" style="font-family:arial; color:#494949; font-size:14px; border-bottom:1px solid #e8e8e8; padding-bottom:25px; padding-top:25px;"><strong> Dear {[{data.salutation}]} {[{data.firstname}]} {[{data.lastname}]},</strong><br />
                <br />
                It was our pleasure welcoming you and your guests at {[{data.restaurantinfo.title}]} on {[{data.rdate}]}</a> <br /><br />
                We hope that our cuisine and service was satisfactory and that you were pleased with  <br />having selected The Kitchen at Bacchanalia for {[{data.mealtype}]}.<br /><br />

                We are always looking for improvement and would appreciate your comments about <br /> your experience at our restaurant. Share it with us on <a href='https://www.tripadvisor.com.sg/Restaurant_Review-g294265-d10122095-Reviews-The_Kitchen_at_Bacchanalia-Singapore.html' target='_blank'>TripAdvisor</a>.<br /><br />
                <span style="font-family:arial; color:#494949;padding-bottom:25px; padding-top:25px;"> Stay connected and be the first to know about our latest activities by clicking <a href='https://www.facebook.com/BacchanaliaSG/' target='_blank'>here</a>. </span> <br /><br />
                Your sincerely,<br />
                Luke Armstrong.
            </td>
            </tr>
    </table> 
   
</td>
</tr> 
</table>
 </td>
  </tr>
</table>
</body>
</html>
     