/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-find {
  background-image: url(../hiw_sprite.png);
  background-position: 0px 0px;
  width: 350px;
  height: 193px;
}
.icon-spin {
  background-image: url(../hiw_sprite.png);
  background-position: -350px 0px;
  width: 350px;
  height: 193px;
}
.icon-win {
  background-image: url(../hiw_sprite.png);
  background-position: 0px -193px;
  width: 350px;
  height: 193px;
}
