.header--fixed {
	position:fixed;
	z-index:1000;
	right:0;
	left:0;
	top:0
}
.animated {
	-webkit-animation-duration:.5s;
	-moz-animation-duration:.5s;
	-o-animation-duration:.5s;
	animation-duration:.5s;
	-webkit-animation-fill-mode:both;
	-moz-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	animation-fill-mode:both
}
@-webkit-keyframes slideDown {
0% {
-webkit-transform:translateY(-14em)
}
100% {
-webkit-transform:translateY(0)
}
}
@-moz-keyframes slideDown {
0% {
-moz-transform:translateY(-14em)
}
100% {
-moz-transform:translateY(0)
}
}
@-o-keyframes slideDown {
0% {
-o-transform:translateY(-14em)
}
100% {
-o-transform:translateY(0)
}
}
@keyframes slideDown {
0% {
transform:translateY(-14em)
}
100% {
transform:translateY(0)
}
}
.animated.slideDown {
	-webkit-animation-name:slideDown;
	-moz-animation-name:slideDown;
	-o-animation-name:slideDown;
	animation-name:slideDown;
	/*background:none repeat scroll 0 0 rgba(39, 103, 136, 0.8) !important;*/

}
@-webkit-keyframes slideUp {
0% {
-webkit-transform:translateY(0)
}
100% {
-webkit-transform:translateY(-14em)
}
}
@-moz-keyframes slideUp {
0% {
-moz-transform:translateY(0)
}
100% {
-moz-transform:translateY(-14em)
}
}
@-o-keyframes slideUp {
0% {
-o-transform:translateY(0)
}
100% {
-o-transform:translateY(-14em)
}
}
@keyframes slideUp {
0% {
transform:translateY(0)
}
100% {
transform:translateY(-14em)
}
.animated.slideUp {
	-webkit-animation-name:slideUp;
	-moz-animation-name:slideUp;
	-o-animation-name:slideUp;
	animation-name:slideUp;
	background:none;
	
	
}
}
@-webkit-keyframes swingInX {
0% {
-webkit-transform:perspective(400px) rotateX(-90deg)
}
100% {
-webkit-transform:perspective(400px) rotateX(0deg)
}
}
@-moz-keyframes swingInX {
0% {
-moz-transform:perspective(400px) rotateX(-90deg)
}
100% {
-moz-transform:perspective(400px) rotateX(0deg)
}
}
@-o-keyframes swingInX {
0% {
-o-transform:perspective(400px) rotateX(-90deg)
}
100% {
-o-transform:perspective(400px) rotateX(0deg)
}
}
@keyframes swingInX {
0% {
transform:perspective(400px) rotateX(-90deg)
}
100% {
transform:perspective(400px) rotateX(0deg)
}
}
