.jumbotron-header {
  padding-bottom: 9px;
  margin: 20px 0 30px;
}

.modal-success {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dff0d8), to(#c8e5bc));
  background-image: -webkit-linear-gradient(#dff0d8 0%, #c8e5bc 100%);
  background-image: -moz-linear-gradient(#dff0d8 0%, #c8e5bc 100%);
  background-image: -o-linear-gradient(#dff0d8 0%, #c8e5bc 100%);
  background-image: linear-gradient(#dff0d8 0%, #c8e5bc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
  border-color: #b2dba1;
  border-radius: 6px 6px 0 0;
}

.modal-info {
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#d9edf7), to(#b9def0));
  background-image: -webkit-linear-gradient(#d9edf7 0%, #b9def0 100%);
  background-image: -moz-linear-gradient(#d9edf7 0%, #b9def0 100%);
  background-image: -o-linear-gradient(#d9edf7 0%, #b9def0 100%);
  background-image: linear-gradient(#d9edf7 0%, #b9def0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
  border-color: #9acfea;
  border-radius: 6px 6px 0 0;
}

.modal-warning {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcf8e3), to(#f8efc0));
  background-image: -webkit-linear-gradient(#fcf8e3 0%, #f8efc0 100%);
  background-image: -moz-linear-gradient(#fcf8e3 0%, #f8efc0 100%);
  background-image: -o-linear-gradient(#fcf8e3 0%, #f8efc0 100%);
  background-image: linear-gradient(#fcf8e3 0%, #f8efc0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
  border-color: #f5e79e;
  border-radius: 6px 6px 0 0;
}

.modal-danger {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2dede), to(#e7c3c3));
  background-image: -webkit-linear-gradient(#f2dede 0%, #e7c3c3 100%);
  background-image: -moz-linear-gradient(#f2dede 0%, #e7c3c3 100%);
  background-image: -o-linear-gradient(#f2dede 0%, #e7c3c3 100%);
  background-image: linear-gradient(#f2dede 0%, #e7c3c3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
  border-color: #dca7a7;
  border-radius: 6px 6px 0 0;
}

.modal-perso {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#55859f), to(#55859f));
  background-image: -webkit-linear-gradient(#55859f 0%, #55859f 100%);
  background-image: -moz-linear-gradient(#55859f 0%, #55859f 100%);
  background-image: -o-linear-gradient(#55859f 0%, #55859f 100%);
  background-image: linear-gradient(#55859f 0%, #55859f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ff55859f', GradientType=0);
  border-color: #55859f;
  border-radius: 6px 6px 0 0;
}
