body { background: #f5f5f5; font-family: 'proxima_nova_rgregular' ; font-size: 14px; line-height: 22px; }
h1, h2, h3 { padding: 0px; margin: 0px; }
p { padding: 0px; margin: 0px; }
ul, li { list-style: none; padding: 0px; margin: 0px; }
a { text-decoration: none !important; outline: none !important; }
::-webkit-input-placeholder { color: #000;}
:-moz-placeholder { /* Firefox 18- */ color: #000;}
::-moz-placeholder {  /* Firefox 19+ */ color: #000;}
:-ms-input-placeholder { color: #000;}
.header { display: block; padding: 10px 0 2px 0; background: #2aacd2; }
.search-outer { display: block; }
.search-outer .left { width: 76%; height: 30px; display: block; padding: 2px 6px; float: left; border: 1px #4084a9 solid; }
.search-outer .left .ico { width: 16px; height: 16px; margin-top: 2px; margin-right: 5px; display: block; float: left; }
.search-outer .left input { width: 90%; float: left; font-size: 13px; color: #000; background: none; border: none; }
.search { height: 30px; line-height: 30px; padding: 0 20px; background: #2386a5; color: #fff; font-size: 16px; border: none; }
.search:hover { background: #436476; transition: all 0.3s ease 0s; }
.sign-detail { display: block; float: right; }
.sign-detail span { display: block; margin-top: 10px; padding-right: 5px; float: left; font-size: 13px; color: #fff; }
.sign-detail img { display: block; float: left; }
.banner_restaurant { display: block; height: 522px; }
.trans-block { min-height:522px; position:relative; display: block; padding:40px 0 0 0; text-align: center; background-color: rgba(255, 255, 255, 0.5); }
.bar-logo { display: block; padding-bottom: 45px; }
.bar-logo img { margin: 0 auto; }
.trans-block h1 { display: block; font-family: 'proxima_novasemibold'; font-size: 36px; color: #222; }
.trans-block p { display: block; padding-bottom: 36px; font-size: 16px; color: #222; }
.circle-img { display: block; position:absolute; margin-left:auto; margin-right:auto; left:0; right:0; bottom: -56px; z-index: 1; }
.middle { display: block; padding-bottom: 40px; }
.middle .left { width: 63.667%; padding-right: 30px; display: block; padding-top: 32px; }
.middle .left h1 { display: block; padding-bottom: 10px; margin-bottom: 15px; border-bottom: 1px #c0c0c0 solid; font-family: 'proxima_novasemibold'; font-size: 20px; color: #2aacd2; }
.left .information { display: block; padding-bottom: 40px; }
.left .information p { padding-bottom: 15px; }
.left .information .video { display: block; padding-top: 20px; }
.left .information a { font-family: 'proxima_novasemibold'; color: #2aacd2; }
.left .information a:hover { font-family: 'proxima_novasemibold'; color: #2aacd2; }
.left .menu { display: block; padding-bottom: 20px; }
.left .menu p { padding-bottom: 14px; }
.panel-menu { background-color: #fff; }
.panel-menu-heading {border-radius: 0px; padding: 10px 15px;}
.panel-menu-default{ background: #2aacd2; position: relative; border-bottom: 0 none; color: #fff}
.panel-menu-default:after { position: absolute; right: 20px; top: 9px; position: absolute; display: block; font-family: 'FontAwesome'; font-size: 34px; color: #fff; content: "\f107"}
.panel-menu-default { border: none; border-bottom: 1px #e3e3e3 solid; }
.panel-menu-group { margin-bottom: 20px; }
.panel-menu-group .panel-menu { border-radius: 0; margin-bottom: 0;}
.panel-menu-group .panel-menu + .panel-menu { margin-top: 0px; }
.panel-menu-title { color: inherit; font-size: 16px; margin-bottom: 0; margin-top: 0; }
.panel-menu-default > a { font-family: 'proxima_novasemibold'; font-size: 18px; color: #fff; }
.panel-body { background-color: #fff; color:#111}
.panel-body h2 { font-family: 'proxima_novasemibold'; font-size: 14px; color: #000; }
.panel-body h3 { font-family: 'proxima_nova_rgregular'; font-size: 13px; color: #000;  padding-bottom: 10px;font-style: italic;}
.left .events { display: block; border-bottom: 1px #e3e3e3 solid; }
.left .events ul li { display: block; padding-bottom: 40px; }
.left .events ul li .cnt { width: 65%; float: left; padding-right: 20px; }
.left .events ul li .cnt h2 { font-family: 'proxima_novasemibold'; font-size: 16px; color: #000; }
.left .events ul li .cnt span { display: block; padding-bottom: 12px; }
.left .events ul li .img-block { width: 35%; float: left; }
.left .events ul li .img-block img { float: right; }
.left .gallery { display: block; }
.left .gallery ul { display: block; padding-bottom: 5px; }
.left .gallery ul li { display: block; float: left; border-bottom: 1px #fff solid; border-right: 1px #fff solid; }
.left .gallery ul li img { object-fit: cover; object-position: center; height: 100%;width: 100%;}
.left .gallery ul li.first { width: 50%; height:200px;}
.left .gallery ul li.second { width: 33.33%; height: 140px}
.left .gallery a.view-all { display: inline-block; float: right; font-size: 16px; color: #66aacf; text-decoration: underline !important; }
.right { width: 36.333%; display: block; margin-top: -522px; }
.inner { display: block; position:relative; padding: 60px 5px 8px 10px; background: #fff; border-left: 1px #bababa solid; border-right: 1px #bababa solid; border-bottom: 1px #bababa solid; }
.style { display: block; padding: 10px 0px; border-bottom: 1px #bababa solid; }
.style h2 { display: block; padding-bottom: 5px; font-family: 'proxima_novasemibold'; font-size: 14px; color: #2aacd2; }
ul.business-hours { display: block; padding-bottom:10px; }
ul.business-hours li { display: block; }
ul.business-hours li:first-child { font-size: 12px; }
ul.business-hours li .day { width: 55px; float: left; padding: 2px 5px }
ul.business-hours li .lunch { width: 82px; float: left; padding: 2px 5px; font-size:0.9em }
ul.business-hours li .dinner { width: 86px; float: left; padding: 2px 5px; font-size:0.9em }
.style.last { border-bottom: none; }
.book-now { width:100%; display: block; padding: 12px 0; background: #2aacd2; border: 1px #5490b0 solid; font-size: 26px; color: #fff; border-radius: 2px; }
.book-now:hover { background: #333; border: 1px #333 solid; transition: all 0.5s ease 0s; }
.right .chef { display: block; padding: 40px 0 20px 20px; }
.right .chef .img-block { display: block; padding-bottom: 30px; text-align: center; }
.right .chef .img-block h2 { display: block; padding-top: 5px; font-family: 'proxima_novasemibold'; font-size: 16px; color: #000; }
.right .chef h3 { display: block; padding-top: 5px; font-family: 'proxima_novasemibold'; font-size: 14px; color: #000; }
.right .chef p { padding-bottom: 8px; }
.right .g-map { display: block; border-top: 1px #bababa solid; border-bottom: 1px #bababa solid; }
.reviews { display: block; padding: 40px 0px;}
.reviews .col-sm-8 { width: 61.667%; }
.reviews h1 { display: block; padding-bottom: 5px; font-size: 24px; color: #5d5d5d; border-bottom: 1px #bfbfbf solid; }
.reviews ul { display: block; padding: 30px 0; }
.reviews ul li { display: block; padding-top: 25px; }
.reviews ul li .img-block { width: 26%; float: left; padding-right: 30px; }
.reviews ul li .cnt { width: 74%; padding-bottom: 40px; border-bottom: 1px #bfbfbf solid; float: left; }
.reviews ul li .cnt.last { border-bottom: none; }
.reviews ul li .cnt span { font-family: 'proxima_novasemibold'; color: #666; }
.reviews ul li .cnt p { line-height: 18px; }
.footer { display: block; padding: 58px 0 36px 0; background: #2b2b2b; }
.footer .col-sm-3 { width: 20%; }
.footer h1 { display: block; padding-bottom: 20px; font-family: 'proxima_novasemibold'; font-size: 14px; color: #fff; }
ul.foot-nav { display: block; }
ul.foot-nav li { display: block; line-height: 20px; }
ul.foot-nav li a { font-size: 12px; color: #fff; }
ul.foot-nav li a:hover { color: #2386a5; transition: all 0.5s ease 0s; }
.footer .col-sm-3:nth-child(4) { width: 17%; }
.footer .col-sm-3:nth-child(5) { width: 23%; }
ul.mobile li { margin-bottom: 4px; }
ul.follow-us li { display: block; float: left; margin-right: 8px; line-height: 28px; text-align: center; border-radius: 50%; }
ul.follow-us li a { display: block; color: #2b2b2b; width: 28px; height: 28px; background: #fff; border-radius: 50%; }
ul.follow-us li a i { margin-top: 4px; font-size: 22px; }
ul.follow-us li a:hover { background: #2386a5; transition: all 0.5s ease 0s; }
.newsletter { display: block; }
.newsletter input { width: 73%; height: 30px; line-height: 30px; margin-right: 1px; padding: 0 8px; float: left; border: none; font-size: 14px; }
.newsletter .join { width: 26%; height: 30px; line-height: 30px; background: #818181; padding: 0 8px; float: left; border: none; font-family: 'proxima_novasemibold'; font-size: 14px; color: #fff; }
.newsletter .join:hover { background: #2386a5; transition: all 0.3s ease 0s; }
.copyright { display: block; padding-top: 30px; text-align: center; font-size: 12px; color: #fff; }
.fixed{ position:fixed; top:40px; padding: 0px 5px 8px 10px; background:#fff; border:1px solid #bababa !important;z-index:3;}
.hide-desk{ display:none;}
.moveup{ top :-195px}
.moveup_24{ top :-40px}
.movedown{ margin-top :300px}
.movedown_24{ margin-top :165px}
ul.additional-info{ display:block; margin-top:27px; border-top:1px #bababa solid;}
ul.additional-info li{ display:block; border-bottom:1px #bababa solid; padding:10px 0;}
ul.additional-info li .head{ display:block; color:#66aacf;}
ul.additional-info li .ico{ display:block; margin-right:4px; float:left;}
ul.additional-info li p{ display:block; padding-top:6px; color:#000;}
ul.payment{ display:block; padding-top:12px;}
ul.payment li{ display:block; padding:0px; margin-right:1px; margin-bottom:1px; border:1px #d7d7d7 solid; float:left;}
ul.payment li a{ display:block;}



.reviews-menu{
                    display: block;
                    
                    min-height: 15px;
                    width: 80px;
                }
.reviews-menu-right{
                    float: right;
                    margin-left: 20px;
                }

                .review-05{
                    background: rgba(0, 0, 0, 0) url('../images/grey_bullets_sprite_small.png') no-repeat scroll 1px 1px;
                }
                .review-10{
                    background: rgba(0, 0, 0, 0) url('../images/grey_bullets_sprite_small.png') no-repeat scroll -124px 1px;
                }
                .review-15{
                    background: rgba(0, 0, 0, 0) url('../images/grey_bullets_sprite_small.png') no-repeat scroll 1px -26px;
                }
                .review-20{
                    background: rgba(0, 0, 0, 0) url('../images/grey_bullets_sprite_small.png') no-repeat scroll -124px -26px;
                }
                .review-25{
                    background: rgba(0, 0, 0, 0) url('../images/grey_bullets_sprite_small.png') no-repeat scroll 1px -52px;
                }
                .review-30{
                    background: rgba(0, 0, 0, 0) url('../images/grey_bullets_sprite_small.png') no-repeat scroll -124px -52px;
                }
                .review-35{
                    background: rgba(0, 0, 0, 0) url('../images/grey_bullets_sprite_small.png') no-repeat scroll 1px -79px;
                }
                .review-40{
                    background: rgba(0, 0, 0, 0) url('../images/grey_bullets_sprite_small.png') no-repeat scroll -124px -79px;
                }
                .review-45{
                    background: rgba(0, 0, 0, 0) url('../images/grey_bullets_sprite_small.png') no-repeat scroll 1px -106px;
                }
                .review-50{
                    background: rgba(0, 0, 0, 0) url('../images/grey_bullets_sprite_small.png') no-repeat scroll -124px -106px;
                }

/* Large desktop */
@media (min-width: 1200px) {
	
.container { width: 1000px; }

}
.right{padding-left:5%;}		
		
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {
	
.search-outer .left { width: 74%; }
.footer .col-sm-3:nth-child(4) { width: 19%; }
.footer .col-sm-3:nth-child(5) { width: 21%; }
.reviews .col-sm-8 { width: 100%; }
.reviews ul li .img-block { width: 18%; }
.reviews ul li .cnt { width: 82%; }

}
	
     
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

.search-outer .left { width: 76%; }
.search-outer .left input { width: 88%; font-size: 12px; }
.search { padding: 2px 10px; }
.middle .left { width: auto; padding-right: 15px; }
.left .information .video img { width: 100%; }
.right { width:auto; margin-top:0px;}
.trans-block { min-height:inherit; padding-top: 30px; margin-top: 15px; border-top: 1px solid #bababa; border-left: 1px solid #bababa; border-right: 1px solid #bababa; }
.circle-img{ position:relative; bottom:15px;}
.inner{ padding-top:10px;}
.reviews .col-sm-8 { width: 100%; }
.reviews ul { padding: 0px; }
.reviews ul li .cnt { padding-bottom: 20px; }
.footer { padding: 30px 0 30px; }
.copyright { padding-top: 0px; }
.footer .col-sm-3 { width: 100%; padding-bottom: 20px; }
.footer .col-sm-3:nth-child(4) { width: 100%; }
.footer .col-sm-3:nth-child(5) { width: 100%; }
.hide-mob{ display:none;}
.hide-desk{ display:block;}
.fixed{ position:relative; top:0px; border:none !important;z-index:3;}
.moveup{ top :0px}
.movedown{ margin-top :0px}
.left .gallery ul li.first { width: 50%; height:300px;}
.left .gallery ul li.second { width: 33.33%; height: 210px}
}
 
	   
/* Landscape phone to portrait tablet */
@media (max-width: 640px) {
	
.header .col-xs-3 { width: 100%; padding-bottom: 10px; }
.header .col-xs-6 { width: 80%; }
.left .gallery ul li.first { width: 50%; height:200px;}
.left .gallery ul li.second { width: 33.33%; height: 140px}

.moveup{ top :0px}
.movedown{ margin-top :0px}
}
	
   
/* Landscape phones and down */
@media (max-width: 480px) {
	
.header .col-xs-3 { width: 100%; padding-bottom: 10px; }
.header .col-xs-6 { width: 100%; }
.banner_restaurant{ height:320px;}
.sign-detail { padding-top: 10px; }
.left .gallery ul li.first { width: 50%; height:200px;}
.left .gallery ul li.second { width: 33.33%; height: 140px}

.moveup{ top :0px}
.movedown{ margin-top :0px}

}