@import url(https://fonts.googleapis.com/css?family=Unkempt|Roboto:400,900,700italic,700,500italic,500,400italic);

body {
    color: #333333;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
}
img {
    max-width: 100%;
}
.map-canvas{
    height: 100%; 
    margin: 0; 
    padding: 0;
}
.map-canvas img{
    max-width: none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, #hormenu ul.level-0 > li.menu-item > a.menu-item, .msilders_caption {
    font-family: Lucida Grande, sans-serif, Roboto, Arial, Helvetica, sans-serif;
}
h3 {
    font-size: 18px;
    line-height: normal;
    margin: 0 0 10px;
    padding: 0 0 13px;
}
#cpanel_container .mx-inner {
    padding: 15px 0;
}
#cpanel_container h5 {
    font-weight: bold;
}
.strong{
    font-weight: bold;
}
/*
#header {
        background: #000;
}*/
.logo {
    margin: 0;
    padding: 0;
    font-size: 25px;
}
.login-register-link{
    font-family: roboto!important;
    font-size: 15px!important;
    font-weight: lighter!important;
    padding: 3px 10px!important;
    text-shadow: none!important;
    text-transform: none!important;
    outline: 0;
}
a:hover, a:active, a:focus {
    outline: 0;
}
.custom_navbar {
    box-shadow: none;
}
#mx-top-header {
    margin-top: 11px;
    color: #999;
    font-size: 12px;
}
#mx-top-header-new {
    margin-top: 4px;
    color: #999;
    font-size: 12px;
}
.navigation {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    position: relative;
}
/* new navbar */

.custom_navbar .navbar-toggle {
    background:  rgb(31, 162, 225) !important;
    border: 0 none;
    box-shadow:none;
}
.custom_navbar .navbar-toggle .icon-bar {
    background: none repeat scroll 0 0 rgb(255, 255, 255);
}


/*
.slider {
        margin-top: 65px;
}*/
.tp-simpleresponsive img {
    max-width: none;
}
/*************************
        -	CAPTIONS	-
**************************/

.tp-hide-revslider, .tp-caption.tp-hidden-caption {
    visibility: hidden !important;
    display: none !important;
}
.tp-caption {
    z-index: 1;
}
.tp-caption.big_white {
    position: absolute;
    color: #fff;
    text-shadow: none;
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    font-family: 'BreraCondensedLight', sans;
    padding: 3px 4px;
    padding-top: 1px;
    margin: 0px;
    border-width: 0px;
    border-style: none;
    background-color: #000;
    letter-spacing: 0px;
}
.tp-caption.big_black {
    position: absolute;
    color: #000;
    text-shadow: none;
    font-weight: 800;
    font-size: 36px;
    line-height: 36px;
    font-family: 'BreraCondensedLight', sans;
    padding: 0px 4px;
    margin: 0px;
    border-width: 0px;
    border-style: none;
    background-color: #fff;
    letter-spacing: -1.5px;
}
.tp-caption.very_big_white {
    position: absolute;
    color: #fff;
    text-shadow: none;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    font-family: 'BreraCondensedLight', sans;
    margin: 0px;
    border-width: 0px;
    border-style: none;
    white-space: nowrap;
    padding: 3px 4px;
    padding-top: 1px;/*background-color: #444;*/
}
.tp-caption.modern_small_text_dark {
    position: absolute;
    color: #fff;
    padding: 3px 15px;
    /*background-color: #f1f1f1;*/
    text-shadow: none;
    font-size: 14px;
    line-height: 22px;
    font-family: Arial;
    margin: 0px;
    border-width: 0px;
    border-style: none;
    white-space: nowrap;
}
.tp-caption.boxshadow {
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.tp-caption.black {
    color: #000;
    text-shadow: none;
    font-weight: 300;
    font-size: 19px;
    line-height: 19px;
    font-family: 'BreraCondensedLight', sans;
}
.tp-caption.noshadow {
    text-shadow: none;
}
.tp-caption a {
    color: #ff7302;
    text-shadow: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
}
.tp-caption a:hover {
    color: #ffa902;
}
.tp_inner_padding {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    max-height: none !important;
}
.tp-caption .frontcorner {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 0px solid transparent;
    border-top: 40px solid #00A8FF;
    position: absolute;
    left: -40px;
    top: 0px;
}
.tp-caption .backcorner {
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid #00A8FF;
    position: absolute;
    right: 0px;
    top: 0px;
}
.tp-caption .frontcornertop {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 40px solid #00A8FF;
    position: absolute;
    left: -40px;
    top: 0px;
}
.tp-caption .backcornertop {
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid #00A8FF;
    poition: absolute;
    right: 0px;
    top: 0px;
}
.fullwidthbanner-container {
    background: none repeat scroll center center rgba(255, 255, 255, 0.6);
    max-height:522.319px !important;
    overflow: hidden;
    padding: 0;
    /*position: relative;*/
    width: 100% !important;
}
#headershow {
}
.tp-simpleresponsive > ul > li {
    position: absolute;
    visibility: hidden;
}
/*	BUTTON COLORS	*/
.tp-caption.buttons a {
    position: absolute;
    color: #fff !important;
    background: #c00;
    text-shadow: none;
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;
    font-family: 'BreraCondensedLight';
    margin: 0px;
    border-width: 0px;
    border-style: none;
    white-space: nowrap;
    padding: 3px 14px;
    padding-top: 1px;
}
.button.green, .button:hover.green, .purchase.green, .purchase:hover.green {
    background-color: #21a117;
    -webkit-box-shadow: 0px 3px 0px 0px #104d0b;
    -moz-box-shadow: 0px 3px 0px 0px #104d0b;
    box-shadow: 0px 3px 0px 0px #104d0b;
}
.button.blue, .button:hover.blue, .purchase.blue, .purchase:hover.blue {
    background-color: #1d78cb;
    -webkit-box-shadow: 0px 3px 0px 0px #0f3e68;
    -moz-box-shadow: 0px 3px 0px 0px #0f3e68;
    box-shadow: 0px 3px 0px 0px #0f3e68;
}
.button.red, .button:hover.red, .purchase.red, .purchase:hover.red {
    background-color: #cb1d1d;
    -webkit-box-shadow: 0px 3px 0px 0px #7c1212;
    -moz-box-shadow: 0px 3px 0px 0px #7c1212;
    box-shadow: 0px 3px 0px 0px #7c1212;
}
.button.orange, .button:hover.orange, .purchase.orange, .purchase:hover.orange {
    background-color: #ff7700;
    -webkit-box-shadow: 0px 3px 0px 0px #a34c00;
    -moz-box-shadow: 0px 3px 0px 0px #a34c00;
    box-shadow: 0px 3px 0px 0px #a34c00;
}
.button.darkgrey, .button.grey, .button:hover.darkgrey, .button:hover.grey, .purchase.darkgrey, .purchase:hover.darkgrey {
    background-color: #555;
    -webkit-box-shadow: 0px 3px 0px 0px #222;
    -moz-box-shadow: 0px 3px 0px 0px #222;
    box-shadow: 0px 3px 0px 0px #222;
}
.button.lightgrey, .button:hover.lightgrey, .purchase.lightgrey, .purchase:hover.lightgrey {
    background-color: #888;
    -webkit-box-shadow: 0px 3px 0px 0px #555;
    -moz-box-shadow: 0px 3px 0px 0px #555;
    box-shadow: 0px 3px 0px 0px #555;
}
/****************************************************************

        -	SET THE ANIMATION EVEN MORE SMOOTHER ON ANDROID   -

******************************************************************/

.tp-simpleresponsive .slotholder *, .tp-simpleresponsive img {
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}
/************************************************
          - SOME CAPTION MODIFICATION AT START  -
*************************************************/
.tp-simpleresponsive .caption, .tp-simpleresponsive .tp-caption {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    position: absolute;
    visibility: hidden;
}
.tp-simpleresponsive img {
    max-width: none;
}
.tp-leftarrow {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../images/large_left.png) no-Repeat top left;
    width: 40px;
    height: 40px;
}
.tp-rightarrow {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../images/large_right.png) no-Repeat top left;
    width: 40px;
    height: 40px;
}
.tp-leftarrow.round {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../images/small_left.png) no-Repeat top left;
    width: 19px;
    height: 14px;
    margin-right: 0px;
    float: left;
    margin-top: -7px;
}
.tp-rightarrow.round {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../images/small_right.png) no-Repeat top left;
    width: 19px;
    height: 14px;
    margin-right: 0px;
    float: left;
    margin-top: -7px;
}
.tp-leftarrow.round-old {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../images/arrow_left.png) no-Repeat top left;
    width: 26px;
    height: 26px;
    margin-right: 0px;
    float: left;
    margin-top: -13px;
}
.tp-rightarrow.round-old {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../images/arrow_right.png) no-Repeat top left;
    width: 26px;
    height: 26px;
    margin-right: 0px;
    float: left;
    margin-top: -13px;
}
.tp-leftarrow.navbar {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../images/small_left_boxed.png) no-Repeat top left;
    width: 20px;
    height: 15px;
    float: left;
    margin-right: 6px;
    margin-top: 12px;
}
.tp-rightarrow.navbar {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../images/small_right_boxed.png) no-Repeat top left;
    width: 20px;
    height: 15px;
    float: left;
    margin-left: 6px;
    margin-top: 12px;
}
.tp-leftarrow.navbar-old {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../images/arrowleft.png) no-Repeat top left;
    width: 9px;
    height: 16px;
    float: left;
    margin-right: 6px;
    margin-top: 10px;
}
.tp-rightarrow.navbar-old {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../images/arrowright.png) no-Repeat top left;
    width: 9px;
    height: 16px;
    float: left;
    margin-left: 6px;
    margin-top: 10px;
}
.tp-leftarrow.navbar-old.thumbswitharrow {
    margin-right: 10px;
}
.tp-rightarrow.navbar-old.thumbswitharrow {
    margin-left: 0px;
}
.tp-leftarrow.square {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../images/arrow_left2.png) no-Repeat top left;
    width: 12px;
    height: 17px;
    float: left;
    margin-right: 0px;
    margin-top: -9px;
}
.tp-rightarrow.square {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../images/arrow_right2.png) no-Repeat top left;
    width: 12px;
    height: 17px;
    float: left;
    margin-left: 0px;
    margin-top: -9px;
}
.tp-leftarrow.square-old {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../images/arrow_left2.png) no-Repeat top left;
    width: 12px;
    height: 17px;
    float: left;
    margin-right: 0px;
    margin-top: -9px;
}
.tp-rightarrow.square-old {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../images/arrow_right2.png) no-Repeat top left;
    width: 12px;
    height: 17px;
    float: left;
    margin-left: 0px;
    margin-top: -9px;
}
.tp-leftarrow.default {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../images/large_left.png) no-Repeat 0 0;
    width: 40px;
    height: 40px;
}
.tp-rightarrow.default {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../images/large_right.png) no-Repeat 0 0;
    width: 40px;
    height: 40px;
}
.tp-leftarrow:hover, .tp-rightarrow:hover {
    background-position: bottom left;
}
/****************************************************************************************************
        -	TP THUMBS 	-
*****************************************************************************************************

 - tp-thumbs & tp-mask Width is the width of the basic Thumb Container (500px basic settings)

 - .bullet width & height is the dimension of a simple Thumbnail (basic 100px x 50px)

 *****************************************************************************************************/


.tp-bullets.tp-thumbs {
    z-index: 1000;
    position: absolute;
    padding: 3px;
    background-color: #fff;
    width: 500px;
    height: 50px; 			/* THE DIMENSIONS OF THE THUMB CONTAINER */
    margin-top: -50px;
}
.fullwidthbanner-container .tp-thumbs {
    padding: 3px;
}
.tp-bullets.tp-thumbs .tp-mask {
    width: 500px;
    height: 50px;  			/* THE DIMENSIONS OF THE THUMB CONTAINER */
    overflow: hidden;
    position: relative;
}
.tp-bullets.tp-thumbs .tp-mask .tp-thumbcontainer {
    width: 5000px;
    position: absolute;
}
.tp-bullets.tp-thumbs .bullet {
    width: 100px;
    height: 50px; 			/* THE DIMENSION OF A SINGLE THUMB */
    cursor: pointer;
    overflow: hidden;
    background: none;
    margin: 0;
    float: left;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /*filter: alpha(opacity=50);	*/
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
}
.tp-bullets.tp-thumbs .bullet:hover, .tp-bullets.tp-thumbs .bullet.selected {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.tp-thumbs img {
    width: 100%;
}
/************************************
                -	TP BANNER TIMER		-
*************************************/
.tp-bannertimer {
    width: 100%;
    height: 10px;
    background: url(../images/timer.png);
    position: absolute;
    z-index: 200;
    top: 0px;
}
.tp-bannertimer.tp-bottom {
    bottom: 0px;
    height: 5px;
    top: auto;
}
.mx-cpanel-wrap {
    position: relative;
    display: none;
    z-index: 99999
}
#mx-cpanel {
    margin: 0
}
#cpanel_container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999
}
#cpanel-handler, .cpnl-left, .cpnl-right, .cpnl-mid {
    height: 26px
}
#cpanel-handler {
    width: 120px;
    display: block;
    cursor: pointer;
    position: absolute;
    left: 50%;
    margin-left: -70px;
    bottom: -26px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.cpnl-left {
    background: url(../images/tpnl_l.png) no-repeat 0 0
}
.cpnl-right {
    background: url(../images/tpnl_r.png) no-repeat 100% 0;
    padding: 0 16px
}
.cpnl-mid {
    background: url(../images/tpnl_m.png) repeat-x 0 0
}
#mx-topcp {
    color: #bbb;
    background: url(../images/bg.png) repeat 0 0;
    min-height: 150px;
}
#mx-topcp a {
    color: #a5a5a5;
}
.tp-simpleresponsive ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#headershow .mx-inner {
    padding: 0;
}
.tp-bannershadow.tp-shadow3 {
    background: url(../images/shadow3.png) no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
    bottom: -60px;
    height: 60px;
    width: 890px;
    position: absolute;
}
.four-col {
    background: #3399CC;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}
.four-col img {
    border: 0px solid #ffffff;
    max-width: 75px;
    transition: all 200ms linear 0s;
    outline: 0px solid #b5b5b5;
    margin: 5px 0;
}
.profPeople {
    border-bottom: 1px solid transparent;
}
.row {
    margin: 0px;
}
.profPeople:hover {
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    -ms-transform: all 0.35s ease;
    transition: all 0.35s ease;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.myNews .imagesPeople {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}
.myNews .imagesPeople .overlay, .myNews .imagesPeople .media-overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2
}
.myNews .imagesPeople .overlay {
    background: rgba(0,0,0,.4);
    -webkit-transition: opacity 600ms ease-in-out;
    -moz-transition: opacity 600ms ease-in-out;
    transition: opacity 600ms ease-in-out
}
.myNews .imagesPeople .media-overlay {
    text-align: center;
    margin-top: 65%;
    -webkit-transition: 400ms ease-in-out;
    -webkit-transition-property: opacity, top;
    -moz-transition: 400ms ease-in-out;
    -moz-transition-property: opacity, top;
    transition: 400ms ease-in-out;
    transition-property: opacity, top
}
.myNews .imagesPeople .media-overlay, .myNews .imagesPeople:hover .overlay {
    opacity: 0;
}
.myNews .imagesPeople:hover .media-overlay {
    top: -50%;
    opacity: 1;
}
.myNews .imagesPeople .media-overlay ul {
    text-align: center;
    background-color: #fff;
}
.myNews .imagesPeople .media-overlay ul, .myNews .imagesPeople .media-overlay ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}
.myNews .imagesPeople .media-overlay ul li {
    display: inline-block;
    *zoom:1;
    *display:inline-block
}
.myNews .imagesPeople .media-overlay ul li a {
    color: #232323;
    display: block;
    padding: 1px 10px;
    text-align: center;
    -webkit-transition: color .1s ease-in-out;
    -moz-transition: color .1s ease-in-out;
    transition: color .1s ease-in-out;
    line-height: 28px;
    font-size: 12px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.5);
}
.myNews .imagesPeople .media-overlay ul li a:hover {
    color: #369;
}
.myNews .imagesPeople img {
    min-width: 100%;
    vertical-align: top
}
.myNews .imagesPeople:hover img {
    -webkit-filter: none;
    -moz-filter: none
}
.myNews .profile {
    padding: 10px 0;
    text-align: center;
    line-height: 1.4;
    background: #fff;
}
.mask-loaded .myNews .span4:nth-child(2n) .profile, .mask-loaded .myNews .span4:nth-child(2n) .profile {
    -webkit-mask-position: center top
}
.mask-loaded .myNews .span4:nth-child(3n) .profile, .mask-loaded .myNews .span4:nth-child(3n) .profile {
    -webkit-mask-position: right bottom
}
.myNews .profile .name, .myNews .profile .job {
    display: block
}
.myNews .profile .name {
    text-transform: uppercase;
    font-size: 20px;
}
.myNews .profPeople:hover .profile {
    background: #232323;
    color: #fff;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.profile .job {
    font-family: Open Sans, sans-serif;
    font-size: 16px;
}
.profile > p {
    display: block;
    font-size: 12px;
    margin-top: 2px;
    padding: 0 10px;
}
.myNews .imagesPeople img {
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic
}
.content-sec {
    margin-top: 50px;
}
.green{
    background-color: #438C4F;
    color: #dddddd;
    padding: 2px;
}
.gray{
    background-color: #444444;
    color: #dddddd;
    padding: 2px;
}
.dark {
    background-color: #444444;
    color: #dddddd;
    padding: 2px;
}
.rightwidget > p{
    margin:3px;
}

.white {
    background-color: #ffffff;
    border: 1px solid #f1f1f1;
    color: #333333;
    padding: 5px;
}
.tabmenu {
    margin: 0;
    padding: 0 10px;
    list-style: none;
    border-bottom: 4px solid #a30d0b;
    width: 100%;
    float: left;
}
.tabmenu li {
    float: left;
    background: url(../images/tab-l.png) 0 100% no-repeat;
    color: #666666;
    padding: 0 0 0 5px;
    margin: 0 5px;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
}
.tabmenu li span {
    display: block;
    padding: 0 10px 0 5px;
    background: url(../images/tab-r.png) 100% 100% no-repeat;
    cursor: pointer;
    font-weight: 700;
}
.tabmenu li.TabbedPanelsTabSelected {
    background: url(../images/tab-red-active-l.png) 0 100% no-repeat;
    color: #fff;
}
.tabmenu li.TabbedPanelsTabSelected span {
    background: url(../images/tab-red-active-r.png) 0 100% no-repeat;
}
.tab-content {
    width: 100%;
    /*float: left;*/
    padding: 10px;
    border-radius: 2px;
}
#map_canvas {
    margin: 0;
    padding: 0;
    height: 250px;
    width: 100%;
}

.events ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.events ul li h5 {
    font-size: 13px;
    font-weight: bold;
    color: #b20000;
}
.events-content {

    clear: left;
    color: #333333;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 10px;
    line-height: 160%;
    margin: 1.1em 0;
    overflow: hidden;
    padding: 0 15px;
    position: relative;
    font-weight: bold;
}
.footer {
    background-color: #333333;
    color: #f1f1f1;
    //margin-top: 30px;
}
.footer-col {
    float: left;
    width: 20%;
    padding: 10px 15px 10px 15px;
    font-size: 12px;
}
.footer-bottom {
    padding: 10px 0;
    font-size: 12px;
}
.title-sec {
    background: #3399CC;
    padding: 20px 0;
    color: #fff;
    margin-top: 152px;
}







/*   INFO pages          */

.title{
    font-size: 18px;  
    font-family: helvetica;
    text-transform: uppercase;
}
.title > span{
    font-size: 22px;  

}
.desc{
    font-size: 11px;  
    font-family: helvetica;
    text-transform: uppercase;
}
.countryss{   
    height: 33%;
    margin-bottom: 50px;
    position: relative;
    text-align: center;
    width: 100%;
}
.country_title{ 
    float: right;
}
.carousel-home{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.carousel-home li{
    display: inline;
}

.title_home_page
{color: #2aabd2;
 font-family: Lucida Grande, sans-serif;
 font-size: 40px;
 text-align: center;
 font-variant: small-caps;

}

.sub_title_home_page
{color: #2aabd2;
 font-family: Lucida Grande, sans-serif;
 font-size: 26px;
 font-variant: small-caps;
 margin-top: 0;
 text-align: center;
}

.sub_title_info_page
{color: #2aabd2;
 font-family: Lucida Grande, sans-serif;
 font-size: 18px;
 font-variant: small-caps;
 margin-top: 0;
 text-align: left;
}

.text_home_page
{
    font-size:21px;
    font-family: Helvetica;
    transform: scale(1, 1) rotate(0deg); 
    color:#444; 
    padding: 0px 10px 15px 13px; 
    width:100%; 
    text-align:center; 
    margin: 0px; 
    border-width: 0px; 
    line-height: 22px; 
    white-space: word-wrap; 
    min-width: 0px; 
    min-height: 0px; 
    visibility: visible; 
    opacity: 1; 
    left:0; 
    position: relative;
}
.countryss > img {
    position: relative;
    top: -22px;
    z-index: -11111;
    width: 100%;
}
.decription{
 color: #67676c;
    font-family: Lucida Grande,sans-serif;
    font-size: 18px;
}

.row-description{
    margin-bottom: 20px;
}

.title_info_page{
    color:#3399CC; 
    font-family: Helvetica; 
    font-size:25px;
    font-weight: bold;
    font-variant: small-caps;
    text-transform: none;
}
.h3_title{
    color:#3399CC; 
    font-family: Helvetica; 
    font-size:20px;
    font-weight: bold;
    font-variant: small-caps;
    text-transform: none;
}
.links{
    text-align :center;
    color:#3399CC;
    font-family: Helvetica;
    font-weight: Bold;
    font-size:18px;
}

.header_title {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}
.bigicon {
    font-size: 35px;
    color: #36A0FF;
}
.error-message-hidden, .control-label {
    display: none;
}
.error-message-shown {
    display: none;
}
.form-group.required .control-label:after { 
    content:"*";
    color:red;
}







/*----restaurant page------*/
.social-bookmarks {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.social-bookmarks ul li, #social-bookmarks ul li {
    list-style-type: none;
    margin-right: 1px;
    padding: 0;
}
.social-bookmarks li a {
    display: block;
    float: left;
    height: 34px;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
    transition: all 0.3s ease 0s;
    width: 34px;
}
.social-bookmarks li.googleplus a {
    background: url(../images/icon-googleplus.png) no-repeat;
}
.social-bookmarks li.facebook a {
    background: url(../images/icon-facebook.png) no-repeat;
}
.social-bookmarks li.pinterest a {
    background: url(../images/pinterest.png) no-repeat;
}
.social-bookmarks li.twitter a {
    background: url(../images/icon-twitter.png) no-repeat;
}
.social-bookmarks li.flickr a {
    background: url(../images/flickr.png) no-repeat;
}
.social-bookmarks li.googleplus a:hover {
    background-color: #d94a39;
}
.social-bookmarks li a:hover {
    background-position: 0 -40px;
}
.social-bookmarks li.facebook a:hover {
    background-color: #3b5998;
}
.social-bookmarks li a:hover {
    background-position: 0 -40px;
}
.social-bookmarks li.pinterest a:hover {
    background-color: #cb2027;
}
.social-bookmarks li a:hover {
    background-position: 0 -40px;
}
.social-bookmarks li.twitter a:hover {
    background-color: #48c4d2;
}
.social-bookmarks li a:hover {
    background-position: 0 -40px;
}
.social-bookmarks li.flickr a:hover {
    background-color: #f1628b;
}
.social-bookmarks li a:hover {
    background-position: 0 -40px;
}
.mx-block {
    display: inline;
    float: left;
}
.restaurant-img-list {
    list-style: none;
    margin: 0 0 50px 0;
    padding: 0;
}
.restaurantImage {
    text-align: center;
    margin: 0 0 50px 0;
}
.restaurantImage img {
    border:solid 4px #B1B1B1;
}
.restaurant-right {
    text-align: center;
    margin: 0 0 50px 0;
}
.restaurant-right h4 {
    color: #4b4e4e;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto' !important;
    text-align: center;
    font-weight: normal;
    font-size: 16px;
}
.restaurant-right h4 i {
    font-size: 16px;
    font-weight: normal;
}
.restaurant-right h3 {
    font-size: 24px;
    font-weight: bold;
    color: #800000;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}
.restaurant-right p {
    font-size: 10px;
}
.restaurant-info {
}
.restaurant-menu {
}
.restaurant-menu h3 {
    color: #0f9de8;
    line-height: normal;
    margin: 25px 0 8px !important;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
}
.restaurant-menu ul {
    margin: 10px 0;
    padding: 0;
    font-size: 12px;
}
.restaurant-menu ul li {
    margin: 15px 0 15px 16px;
}
.restaurant-reviews {
    background: #ffffff;

    padding: 1.5em 15px;
}
.restaurant-reviews ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.restaurant-reviews ul li {
    background: #ffffff;
    border:solid 1px #d5d5d5;
    padding: 1.5em 15px;
    margin:5px 0;
}
.restaurant-reviews ul li span {
    color:#800000;
}
.imgshadow {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:20px;
}
.imgshadow:hover {
    filter: none; /* IE6-9 */
    -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
}
.imgtimeling {
    vertical-align: middle;
}
.imgtimeling-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
.imgtimeling-rounded {
    border-radius: 3px;
}
.imgtimeling-thumbnail {
    background-color: #fff;
    border: 1px solid #ededf0;
    border-radius: 3px;
    display: inline-block;
    height: auto;
    line-height: 1.428571429;
    max-width: 100%;
    moz-transition: all .2s ease-in-out;
    o-transition: all .2s ease-in-out;
    padding: 2px;
    transition: all .2s ease-in-out;
    webkit-transition: all .2s ease-in-out;
}
.imgtimeling-circle {
    border-radius: 50%;
}
.timeline-centered {
    position: relative;
    margin-bottom: 30px;
}
.timeline-centered:before, .timeline-centered:after {
    content: " ";
    display: table;
}
.timeline-centered:after {
    clear: both;
}
.timeline-centered:before, .timeline-centered:after {
    content: " ";
    display: table;
}
.timeline-centered:after {
    clear: both;
}
.timeline-centered:before {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    background: #f5f5f6;
    /*left: 50%;*/
    top: 20px;
    bottom: 20px;
    margin-left: 30px;
}
.timeline-centered .timeline-entry {
    position: relative;
    /*width: 50%;
    float: right;*/
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 10px;
    clear: both;
}
.timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
    content: " ";
    display: table;
}
.timeline-centered .timeline-entry:after {
    clear: both;
}
.timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
    content: " ";
    display: table;
}
.timeline-centered .timeline-entry:after {
    clear: both;
}
.timeline-centered .timeline-entry.begin {
    margin-bottom: 0;
}
.timeline-centered .timeline-entry.left-aligned {
    float: left;
}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
    margin-left: 0;
    margin-right: -18px;
}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
    left: auto;
    right: -100px;
    text-align: left;
}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
    float: right;
}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
    margin-left: 0;
    margin-right: 70px;
}
.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: -9px;
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.timeline-centered .timeline-entry .timeline-entry-inner {
    position: relative;
    margin-left: -10px;
}
.timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
    content: " ";
    display: table;
}
.timeline-centered .timeline-entry .timeline-entry-inner:after {
    clear: both;
}
.timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
    content: " ";
    display: table;
}
.timeline-centered .timeline-entry .timeline-entry-inner:after {
    clear: both;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
    position: absolute;
    left: -100px;
    text-align: right;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
    display: block;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
    font-size: 15px;
    font-weight: bold;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
    font-size: 12px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
    background: #fff;
    color: #737881;
    display: block;
    width: 20px;
    height: 20px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    -moz-box-shadow: 0 0 0 5px #f5f5f6;
    -webkit-box-shadow: 0 0 0 5px #f5f5f6;
    box-shadow: 0 0 0 5px #f5f5f6;
    line-height: 20px;
    font-size: 15px;
    float: left;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
    background-color: #303641;
    color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
    background-color: #ee4749;
    color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
    background-color: #00a651;
    color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
    background-color: #21a9e1;
    color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
    background-color: #fad839;
    color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger {
    background-color: #cc2424;
    color: #fff;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
    position: relative;
    background: #f5f5f6;
    padding: 1em;
    margin-left: 35px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    border-color: transparent #f5f5f6 transparent transparent;
    left: 0;
    top: 2px;
    margin-left: -9px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
    color: #737881;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    margin: 0;
    line-height: 1.428571429;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
    margin-top: 15px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
    font-size: 16px;
    margin-bottom: 10px;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
    color: #303641;
}
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
    -webkit-opacity: .6;
    -moz-opacity: .6;
    opacity: .6;
    -ms-filter: alpha(opacity=60);
    filter: alpha(opacity=60);
}
/* custom*/
.title-sec > img {
    width: 100%;
}
.content-sec h1 {
    color: #69686d;
    font-size: 50px;
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: center;
}
.accordion-heading a {
    /*background: url("../images/round.png") no-repeat scroll center top rgba(0, 0, 0, 0);*/
    display: inline-block;
    padding-bottom: 8px;
    text-align: center;
    /*text-indent: -99999px;*/
    width: 100%;
    font-size:19px;
    margin-top: 32px;
    color:#727272;
    text-decoration:none;
}
.accordion-body {
    background: #ffffff;
    height: auto;
}
.accordion-inner p {
    padding: 15px;
    margin:0;
}
.additional {
    /*background: url(../images/round.png) no-repeat;*/
    margin: 0;
    padding-top: 16px;
    padding-bottom: 10px;
    text-align: center;
    text-transform: capitalize;
    background-position:center bottom
}
.main_content {
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}
.main_content h4 {
    color: #6db9eb;
    font-size: 22px;
    line-height: 30px;
}
.free {
    font-size: 26px;
    font-weight: bold;
}
.item {
    border: 1px solid #ccc;
    font-size: 13px;
    margin-top: 5px;
    padding: 0;
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: 16px;
}
.round_img > img {
    border: 4px solid #ffffff;
    border-radius: 100%;
    bottom: -41px;
    display: inline-block;
    left: 50%;
    margin-left: -48.5px;
    max-width: 30%;
    position: absolute;
    z-index: 9;
}
.item h5 {
    /*background: url(../images/line.png) no-repeat scroll center bottom rgba(0, 0, 0, 0);*/
    color: #111;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 18px;
    /*padding-bottom: 21px;
    padding-top: 20px;*/
    /*text-transform: capitalize;*/
    text-overflow:clip;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}
.item-first {
    position:relative
}
.japan_text {
    font-size: 12px;
}
.item > p {
    background: url(../images/line.png) no-repeat scroll center bottom rgba(0, 0, 0, 0);
    padding-bottom: 21px;
    padding-top:1px;
    text-transform: capitalize;
}
.item p {
    font-size: 12px;
    text-overflow:ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}
.item h6 {
    font-size: 11px;
    line-height: 14px;
    text-transform: capitalize;
    text-overflow:ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}
.item a {
    padding-left: 11px;
    text-transform: uppercase;
    text-decoration:none;
}
.item .book {
    font-size: 13px;
    text-align: right;
}
.custom_button {
    background:0 #d2453f;
    background-image: linear-gradient(to bottom, #e85b54, #d2453f);
    border-radius: 0;
    color: #ffffff;
    padding: 3px 31px;
}
.custom_button:hover {
    background: linear-gradient(to bottom, #e35342, #e35342);;
    color: #ffffff;
    transition: all 0.4s ease-out 0s;
}
.custom_button_book_soon {
    background:0 #ccc;
    border-radius: 0;
    color: #ffffff;

    padding: 3px 31px;
    cursor:default;
}
.custom_button_book_soon:hover {
    background: #ccc;
    color: #ffffff;
    transition: all 0.4s ease-out 0s;
}
.three_border {

    display: inline-block;
    padding: 5px 0px 0px;
    width: 100%;
}
.three_border figcaption {
    position: absolute;
}
.three_border figcaption.offer-left{
    background: rgba(66, 139, 202, 0.8) none repeat scroll 0 0;
    color: #fff;
    font-size: 15px;
    left: 0;
    padding: 5px 20px;
    top: 25px;
}

.right_sidebar h1 {
    color: #6a696f;
    font-size: 26px;
    font-weight: bold;
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
}
.sidebar_item {
    background: url(../images/Bangkok.png) no-repeat;
    background-size:contain;
    margin-bottom: 40px;
}
span.Most a {
    background: url(../images/arrow-round.png) no-repeat 90% center rgba(109, 185, 235, 0.8);
    display: inline-block;
    font-weight: bold;
    margin-top: 130px;
    padding: 10px 15px;
    width: 100%;
    color:#fff;
    text-decoration:none;
}
span.Most a:hover {
    background: url(../images/arrow-round.png) no-repeat 90% center rgba(0, 0, 0, 0.7);
    transition: all 0.4s ease-out 0s;
}
.offers {
    background: rgba(0, 128, 0, 0.8);
    bottom: -18px;
    color: #ffffff;
    font-size: 11px;
    left: 63px;
    padding: 3px 10px;
    position: absolute;
    width: auto;
    z-index: 99999;
}
.final_box {
    background: #f6f6f6;
    padding-bottom: 30px;
    padding-top: 30px;
    width: 100%;
}
.col-md-6.center_fix {
    text-align: center;
}
.final_box h1 {
    color: #73bef5;
    display: inline-block;
    font-size: 25px;
}
.final_box span {
    font-size: 32px;
}
.stars {
    margin-left: 50px;
}
.sec_text {
    color:#6a6a6c;
    font-weight:bold;
}
.dummy {
    color:#9d9d9d;
}
.custom_footer {
    background: #d2453f;
    border-radius: 0;
    color: #ffffff;
    float: right;
    padding: 3px 31px;
}
.custom_footer:hover {
    background: #be0000;
    color: #ffffff;
    transition: all 0.4s ease-out 0s;
}
.slides ul {
    list-style:none;
}
.slides li {
    float:left;
}
.slides {
    clear: both;
    float: right;
    margin-top: 10px;
}
.fix_center {
    margin:0 auto;
    float:none;
}
.final_round {
    position: absolute;
    right: -55px;
    top: -75px;
}
.image-preview > img {
    width: 100%;
}
.banner {
    clear: both;
    float: left;
    width: 100%;
}
.banner_right {
    font-family: Helvetica;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.75);
    height: auto;
    padding: 100px 20px 56px;
    position: absolute;
    right: 0;
    top: 0px;
    width: 28%;
    height: 100%;

}

.banner_right > div h2 {
    color: #3399CC;
    font-size: 40px;
    float:left;
    padding-bottom: 20px;
    width: 100%;
}

.banner_right_logo{
    padding-right: 20px;
    text-align: right;
    width: 100%;
}

.banner_right_logo img{
    max-width: 100%;
}

.banner_right_address{
    padding-left:20px;	
}
.banner_right_address > span {
    color: black;
    font-size: 20px;
    font-weight:lighter;	
}
.banner h2 {
    color: #3399CC;
    font-size: 45px;
    float:left
}
.banner p {
    color: #3399CC;
    float: left;
    font-size: 29px;
    text-transform: capitalize;
}
.banner_round {
    bottom: -23px;
    left: 50%;
    margin: 0 0 0 -131px;
    position: absolute;
    z-index: 99999;
}
.banner_round > img {
    background: none repeat scroll 0 0 #ffffff;
    border: 3px solid #ffffff;
    border-radius: 100%;
    width: 60%;
}
.content_inner {
    float: left;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}
footer {
    float: left;
    width: 100%;
}
.bs-docs-example.my_customtab {
    margin-top: 4px;
}
.starsss {
    padding-bottom: 20px;
    padding-left: 15px;
    padding-top: 34px;
}
.my_customtab .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #5285A0;
    border: 1px solid #5285A0;
    border-radius: 0;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}
.my_customtab p {
    line-height: 24px;
}
.my_customtab .nav-tabs {
    border-bottom: 4px solid #5285A0;
}
.dinner_section {
    background: #f6f6f6;
    padding: 0;
    text-align: center;
    float:left;
    width: 100%;
}
.dinner_section > h2 {
    background: url("../images/sidebar_img.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    font-size: 20px;
    padding-left: 15px;
    margin-top: 17px;

    text-align:left;
    padding-top: 15px;
}
.dinner_section strong {
    color: #65646a;
    text-transform: uppercase;
}
.dinner_section > ul {
    list-style: outside none none;
    margin: 0;
    padding: 0 15px;
    text-align: right;
}
.dinner_section li {
    float: left;
    width: 100%;
}
.dinner_section span {
    float: right;
    text-align: right;
}
.dinner_section li b {
    float: left;
    text-align: left;
}
.btn.btn-primary.custom_visit {
    background: #ee1c25;
    border: 0 none;
    border-radius: 0;
    font-size: 24px;
    margin-top: 10px;
    padding-top: 8px;
    width: 100%;
}
.my_customtab .nav-tabs > li > a {
    color: #000000;
}
.container.grey_border {
    border:5px solid #e4e4e4;
    padding-top:30px;
}
.cook_section > img {
    width: 100%;
}
.cook_section {
    background: url("../images/cook.png") no-repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
    float: left;
    text-align: center;
    width: 100%;
}
.cook_section > h2 {
    background: none repeat scroll 0 0 rgba(69, 182, 92, 0.5);
    color: #ffffff;
    font-size: 37px;
    line-height: 57px;
    margin-bottom: 0;
    margin-top: 136px;
    padding-top: 0;
}
.green_text {
    background: #30b54c;
    float: left;
    padding: 10px;
}
.green_text h2 {
    color: #ffffff;
    font-size: 20px;
}
.green_text em {
    color: #ffffff;
    font-size: 17px;
    line-height: normal;
}
.green_text p {
    color:#fff;
}
.green_text ol {
    padding: 0 18px;
    color:#fff;
}
.green_text li {
    padding-bottom: 8px;
}
#map {
    float: left;
    width: 100%;
    margin-top: 40px;
}
#map > img {
    width: 100%;
}
.my_customtab .nav-tabs > li {
    margin-left: 13px;
}
/* custom End */


/*header*/

#menu-light {
    font-size: 18px;
    margin-left: 250px;
    margin-top: 2px;
    position: absolute;
}
#menu-light li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    padding: 30px;
}
/*header*/


/* LIST RESTAURANT */  

.row-fixed > div {
    margin: 0;
    padding: 0;
}
#map-content {
    z-index: 10;
}
#search_bar_div {
    background: none repeat scroll 0 0 white;
    top: 30px;
    width: 100%;
    z-index: 11;
}
#search-title {
    font-family: unkempt;
    margin: 15px;
    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
}
.thumbs {
    width: 100%;
    height: 90px;
    /*height: 152px;
width: 243px;*/
}
/* LIST RESTAURANT */

#headershow img {
    width: 100% !important;
    left: 0 !important;
}
.custom_text h1 {
    color: #2aabd2;
    font-size: 40px;
    line-height: 40px;
    margin:0 0 11px;
    font-variant:small-caps;
    font-family:Lucida Grande, sans-serif;
}
.custom_text span {
    color: #545454;
    font-size: 30px;
    line-height: 37px;
    text-transform:uppercase;
    word-spacing: 1px;
}
.custom_text .uppercase {
    text-transform: capitalize;
}
.banner1-wheel {
    text-align:left;
}
.banner1-wheel > img {
    width: 55%;
}
.logo img {
    margin-top: 7px;
    width: 25%;


}


.two-col {

    background-color: #2aabd2;

    padding-bottom: 30px;
    width: 100%;
    clear:both;
}
.captizle {
    text-transform:uppercase;
    font-weight:bold
}
.tp-bullets.tp-thumbs.round {
    display: none;
}
.custom_form {
    background:rgba(39, 103, 136, 0.8);
    bottom:104px;
    padding-bottom: 23px;
    padding-top: 35px;
    position: relative;
    width: 100%;
    z-index: 999;
}

.custom_form_search_bar{
    background: none repeat scroll 0 0 rgba(39, 103, 136, 0.8);
    bottom: 61px;
    padding-top: 15px;
    position: relative;
    width: 100%;
    z-index: 999;
}

.tp-caption.sfl.modern_small_text_dark.start.text_fix {
    font-size: 18px;
}
.accordion-group {
    float: left;
    width: 100%;
}
.three-col {

    padding-bottom: 50px;
    padding-top: 50px;
    width: 100%;
}
.three-col p {
    color:  #2aabd2;
    font-size: 44px;
    text-align: center;
    margin-bottom: 35px;
}
.item-first {
    position: relative;
    clear:both;
    min-height: 100px;
}
.title {
    color: #2aabd2;
    float:left;
    width:100%
}
.desc {
    color: #fff;
    float:left;
    width:100%
}
.three-col .col-md-4.col-sm-4 {
    text-align: center;
}
/* 
        jQuery Logo Slider Ticker 
        by http://webdesignandsuch.com
        build with code from http://bxslider.com
*/



#slider {
    list-style:none;
    padding:0px
}
.logo-container {
    background:#dddddd;
    width:100%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
#slider img {
    width:200px;
    height:125px;
    display:inline-block
}
#slider li {
    margin: 20px 0;
    width: 210px;
}
.logo_carousel {
    width: 100%;
    float: left;
}
.bx-wrapper {
    width: 100% !important;
}
.bx-window {
    width: 100% !important;
}
.custom_text > a {
    text-decoration: none;
}
.timeline-label small {
    font-size: 13px;
    line-height: normal;
}

.wheel_picture > img {
    /*margin-left: 100px;
                    margin-top: 165px;
                    max-height: 30%;
                    max-width: 30%;*/
    bottom: -18px;
    left: 50%;
    margin-left: -15%;
    position: absolute;
    width: 30%;
}



.custom_navbar {
    background: none;
    border: 0;
    margin:0;
    margin: 5px 0 0;
    min-height: 40px;
}
.custom_navbar.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
}
.btn.btn-default.header_button {
    color: #53af5c;
    padding: 4px 6px;
    font-size: 12px;
}
.btn-green{
    background-color: #438C4F;
    color: #FFF;
    padding: 3px 20px 3px 20px;
    border-radius: 0px;
}
.btn-green:hover{
    background-color: #438C4F;
    color: #DDD;
    padding: 3px 20px 3px 20px;
    border-radius: 0px;
}



.navbar-fixed-top {
    background: none repeat scroll 0 0 #5285a0;
}

.navbar-fixed-top-index {
    background: none repeat scroll 0 0 rgba(39, 103, 136, 0.8) !important;
}

.navbar-fixed-top .container {
    width: 100%;
    height: 40px;
    margin:0px;

}

.best-offer-listing{
    background: none repeat scroll 0 0 rgba(66, 139, 202, 0.85);
    color: #fff;
    font-size: 1.1em;
    padding: 5px 20px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

}



////////////////  MULTIDIM  CSS  //////////////////

.navbar-fixed-top.navbar-fixed-top-index .container {
    height: auto !important;
}

.clear-fix:after {
    content: '';
    display: table;
    clear: both;
}

.baner--fix:after {
    content: '';
    display: table;
    clear: both;
}


/*      .pull-right {
            float: right!important;
            width: 92%;
        }
*/
.iflogged {
    width: 65% !important; 
}

.logged-in--fix {
    display: inline-block;
    vertical-align: middle;
    width: 6%;

}

.navbar-header {
    margin: 0 !important;
}

.dropdown {
    margin-top: 9px !important;
    color: #FFF;
    margin: 3px -22px 0 0;
    width: 32px !important;
    position: relative;
    height: 21px !important;
    text-align: left;
}


.dropdown li a 
{
    color: #555555;
    display: block;
    font-family: arial;
    font-weight: bold;
    padding: 6px 15px;
    cursor: pointer;
    text-decoration:none;
}

.dropdown li a:hover
{
    background:#155FB0;
    color: #FFFFFF;
    text-decoration: none;
}


a.account {
    font-size: 11px;
    line-height: 16px;
    color: #FFF;
    position: absolute;
    z-index: 110;
    display: block;
    padding: 0px 0 0 0px !important;
    margin-left: 10px;
    height: 28px;
    width: auto !important;
    margin: -11px 0 0 -10px;
    text-decoration: none;
    cursor: pointer;
}
.account > img
{
    width: 32px;
}
.root
{
    list-style:none;
    margin:0px;
    padding:0px;
    font-size: 11px;
    padding: 11px 0 0 0px;
    border-top:1px solid #dedede;
}

.submenu {
    background: #fff;
    position: absolute;
    top: -12px;
    left: -116px !important;
    z-index: 100;
    width: 135px;
    display: none;
    margin-left: 10px;
    padding: 40px 0 5px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}

.navbar-nav .simple--menu {
    float: right !important;
}

.search--input {
    width: 50%;
    float: left;
}

.search--button {
    float: left;
}

.menu--content {
    float: right !important;
}

.chosen-container {
    /*width: 100% !important;*/
}

.container-fluid {
    margin: 0 !important;
    padding: 0;
}

.special--fix {
    margin-top: 0;
}

.width-fix {
    width: 60%;
    display: block;
    margin: 0 auto;
}

#search_bar_div {
    background: none repeat scroll 0 0 white;
    top: 40px;
    width: 100%;
    z-index: 11;
}

.search-inline {
    display: inline-block;

    vertical-align: top;

}

.search-inline button {
    margin: 0 0 3px 3px!important;
    float: none !important;
}

.search-inline2 {
    display: inline-block;
    width: 70%;
    vertical-align: top;
}



.navbar-nav {
    margin: 0;
    padding: 5px 0px;
}

.form-control.search-bar--topnav {
    font-size: 12px;
    height: 29px;
    max-width: 100%;
    border-radius: 2px !important;
}

.margin--fix {
    margin-right: 10px !important;
    margin-left: 10px;
}

.logo-container--fix {
    width: 25%;
    display: inline-block;
    vertical-align: middle;
}

.logo-container--fix .logo img {
    margin: 0 !important;
    min-width: 120px;

}

.nav-container--fix {
    width: 73%;
    display: inline-block;
    vertical-align: middle;
}

.nav-container--fix .navbar-toggle {
    position: static;
    float: right;
    padding: 9px 10px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 0;
}

.nav-container--fix .navbar-collapse {
    position: static;

    margin-top: 0px;
}

.banner--fix {
    margin-top: 0 !important;
}


.banner--fix .main_picture {
    margin-top: 0; 
}


.cuisinerestaurant___chosen {
    width: 100% !important;
}

.cityrestaurant_chosen {
    width: 100% !important;  
}

.media-images {
    //margin-top: 40px;
}

.media-images .right {
    display: inline-block;
    width: 48%;
    vertical-align: top;
}

.media-images .custom-grid:first-child {
    margin-right: 3%;
}

.media-images .left {
    display: inline-block;
    width: 48%;
    vertical-align: top;
}

.media-images article figure img {
    width: 100%;
}

.media-images article {
    position: relative;
}

.media-images figcaption {
    position: absolute;
}

.media-images figcaption.offer-left {
    top: 25px;
    left: 0;
    padding: 5px 20px;
    //background: #428BCA;
    //background: rgba(66,139,202,0.8);
    background: #2aacd2;
    background: rgba(42,172,210,0.8);
    font-size: 17px;
    color: #fff;
}

.media-images figcaption.offer-right {
    top: 25px;
    right: 0;
    padding: 10px 20px;
    //background: #428BCA;
    //background: rgba(66,139,202,0.8);
    background: #2aacd2;
    background: rgba(42,172,210,0.8);
    font-size: 22px;
    color: #fff;
}

.media-images figcaption.center-title {
    bottom: 25px;


    text-align: center;
    font-size: 45px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
}

.media-images figcaption.right-title {
    top: 25px;
    right: 0;
    padding: 10px 20px;
    font-size: 22px;
    color: #fff;
}

.media-images figcaption.left-title {
    top: 25px;
    left: 0;
    padding: 10px 20px;
    font-size: 22px;
    color: #fff;
}

.media-images .ribbon_holder {
    position: relative;
    overflow: hidden;
    //margin-bottom: 15px;
}

.media-images .ribbon-left {
    position: absolute;
    bottom: -33px;
    left: -14px;
    width: 27%;
}

.media-images .ribbon-right {
    position: absolute;
    bottom: -33px;
    right: -13px;
    width: 27%;
}

.longer-placeholder {
    width: 66%;
    display: inline-block;
    vertical-align: top;
}

.shorter-placeholder {
    width: 30%;
    display: inline-block;
    vertical-align: top;
}
.offer-restau-name{
    bottom: 0;
    color: white;
    font-size: 18px;
    padding: 10px 0 10px 20px;
    text-align: left;
    width: 100%;

    background-image: -webkit-gradient(linear, left top, left bottom, from( rgba(80, 80, 80, 0)), to(rgba(30, 30, 30, 0.9)));
    background-image: -webkit-linear-gradient(top,  rgba(80, 80, 80, 0), rgba(30, 30, 30, 0.9));
    background-image:    -moz-linear-gradient(top,  rgba(80, 80, 80, 0), rgba(30, 30, 30, 0.9));
    background-image:      -o-linear-gradient(top,  rgba(80, 80, 80, 0), rgba(30, 30, 30, 0.9));
    background-image:         linear-gradient(to bottom,  rgba(80, 80, 80, 0), rgba(30, 30, 30, 0.9));
}
.early_book_restaurant .container .title_home_page{
    margin-top: 10px;
}

@media screen and (min-width: 768px) and (max-width: 990px) { 
    .early_book_restaurant .container{   
        width: 100%;
    }

    .media-images .ribbon-right {
        bottom: -32px;
        right: -22px;
    }  
    .media-images .ribbon-left {
        bottom: -32px;
        left: -22px;
    } 
    .media-images figcaption.right-title {
        top: 10px;
    } 
    .media-images figcaption.left-title {
        top: 10px;
    } 

    .navbar-nav {
        margin: 0;
        padding: 5px 0px;
    }

    .search--input {
        width: 45%;
        float: left;
    }


}

@media screen and (max-width: 767px){

    .main_content {
        padding-bottom: 10px;
        //padding-top: 210px;
        width: 100%;
    }

    .banner--fix {
        margin-top: 0 !important;
    }


    .banner--fix .main_picture {
        margin-top: 0; 
    }


    .container-fluid {
        margin: 0 !important;
        padding: 4px 0;
    }

    .special--fix {
        margin-top: 10px;
    }


    .navbar-nav {
        margin: 0;
        padding: 5px 10px;
    }


    .nav-container--fix .navbar-collapse li {
        margin-bottom: 10px;
        float: right;
        margin-left: 0 ;
        width: 100%;
        text-align: right;
    }

    .nav-container--fix .navbar-collapse li input{
        float: right;
        margin-right: 0 !important;
    }

    .nav-container--fix .navbar-collapse li:last-child {
        margin-bottom: 0;
    }

    .nav-container--fix .navbar-collapse li:after {
        content: '';
        display: table;
        clear: both;
    }


    .nav-container--fix .navbar-collapse {
        position: absolute;
        right: 0;
        margin-top: 14px;
        background: none 0px 0px repeat scroll rgba(39, 103, 136, 0.8);
        padding: 0;
    }


    /*.btn.btn-info.btn-sm {
        display: block;
        margin-bottom: 15px;
        float: right;
        margin-right: 15px;
    }*/

    .custom_form_search_bar {
        background: none repeat scroll 0 0 rgba(39, 103, 136, 1) !important;
        padding-top: 15px;
        width: 100%;
        position: static !important;
        margin-top: 0 !important;
    }

    .chosen-container {
        /* display: none !important;*/
    }

    #idFormsQuery .col-sm-2, .col-sm-3 {
        margin-bottom: 0px !important;
    }


    .media-images .shorter-placeholder,.media-images .longer-placeholder, .media-images .left, .media-images .right {
        display: block;
        width: 100%;
    }
}

@media screen and (min-width: 507px) and (max-width: 767px){ 

    .banner--fix {
        margin-top: 0 !important;
    }


    .banner--fix .main_picture {
        margin-top: 0; 
    }


    .width-fix {
        width: 80%;
        display: block;
        margin: 0 auto;
    }


    .special--fix {
        margin-top: 10px;
    }
    .media-images .ribbon-left {
        bottom: -52px;
        right: -33px;
    }   
    .media-images .ribbon-right {
        bottom: -52px;
        right: -33px;
    }   


    .banner {
        /*margin-top: 90px !important;*/
    }

    .navbar-nav {
        margin: 0;
        padding: 5px 10px;
    }

}

@media screen and (max-width: 507px) { 

    .navbar-nav {
        margin: 0;
        padding: 5px 10px;
    }

    .special--fix {
        margin-top: 10px;
    }

    .width-fix {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    .tp-caption.sfr.very_big_white.start {
        font-size: 18px !important;
    }

    .tp-caption.sfl.modern_small_text_dark.start.text_fix {
        font-size: 12px !important;

    }

    .captizle {
        font-size: 10px !important;
    }

    /*  .navbar-fixed-top-index {
           background: rgba(39, 103, 136, 1) !important;
      }*/


    .banner {
        /*margin-top: 90px !important;*/
    }



    .media-images .ribbon-right {
        bottom: -29px;
        right: -22px;
    }   

    .media-images .ribbon-left {
        bottom: -29px;
        right: -22px;
    }   


    .media-images figcaption {
        font-size: 16px;
    }  

    .media-images figcaption.right-title {
        top: 0px;
    } 
    .media-images figcaption.left-title {
        top: 0px;
    } 

    .media-images figcaption.offer-left {
        top: 10px;
    }
    .media-images figcaption.offer-right {
        top: 10px;
    }
} 



/*==================
        Responsive
==================*/

@media (max-width:1200px) {
    .banner h2 {
        font-size: 45px;
    }
    .banner p {
        font-size: 29px;
    }
    .title {
        width: 100%!important;
        text-align: center!important;
    }
    .wheel_value{
        max-width: 90%!important;
    }
    .early_book_restaurant .container{   
        width: 100%;
    }
}

@media (max-width:1024px) {
    .title {
        width: 100%!important;
    }
    .banner_right {

    }
    .wheel_value{
        max-width: 99%!important;
    }
    .banner_right > img {
        padding-top: 0;
    }
    .banner_right > div h2 {
        font-size: 25px;
    }
    .banner_right_address > span {
        font-size: 16px;	
    }
    .banner h2 {
        font-size: 35px;
    }
    .banner p {
        font-size: 26px;
    }
    .custom_text h1 {
        font-size: 35px;
        //margin: -31px 0 14px;
    }
    .whell_picture > img {
        left:54%;
    }
    .country_title > span {
        right: 11px;
        top: 175px;

    }
    .best-offer-listing{
        font-size: 0.8em;
    }
}
@media (max-width:980px) {
    .country_title > span {
        right: 3px;
        top: 131px;
    }
    .round_img > img {
        margin-left: -29.5px;
    }
    .best-offer-listing{
        font-size: 0.8em;
    }

}
@media only screen and ( min-width: 768px ) and ( max-width: 999px ) {
    .sidebar_item {
        background-size:cover
    }
    .title {
        width: 100%!important;
    }
    #one .book .custom_button
    {
        padding:6px 6px;
    }
}
@media (max-width:768px) {
    .wheel_value{
        max-width: 45% !important;
    }
    .banner {

    }
    .banner_right {
        padding: 50px 20px 8px;
        width: 35%;

    }
    .banner_right > img {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .banner_right h2 {
        font-size: 25px;
    }
    .banner_right_logo img{
        max-width: 60%;
    }

    .banner_right_address > span{
        font-size: 0.9em;
    }
    .wheel_value_header_restau{
        bottom: -14%!important;
    }
    .banner h2 {
        font-size: 32px;
        margin: 0;
    }
    .banner p {
        font-size: 18px;
    }
    .dinner_section {
        width: 100%;
    }
    .footer-sec h3 {
        font-size: 13px;
    }
    .custom_text h1 {
        font-size: 26px;
        //margin: -54px 0 0;
    }
    .custom_text span {
        font-size: 24px;
    }
    .banner1-wheel {
        margin-top: -49px;
    }
    .banner1-wheel > img {
        width: 50%;
    }
    .title {
        font-size: 12px !important;
    }

    .timeline-label small {
        font-size: 11px;
        line-height: normal;
    }
    .country_title > span {
        right: 2px;
        top: 130px;
    }
    .round_img > img {
        margin-left: -28.5px;
    }
}
@media (max-width:767px) {
    .my_customtab .nav-tabs > li {
        margin-left: 0;
    }
    .my_customtab .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        font-size: 12px;
    }
    .banner_right > img {
        padding-bottom: 10px;
        padding-top: 62px;
        width: 94%;
    }
    .banner_right {
        padding: 10px 20px 5px;
    }
    .banner_right h2 {
        font-size: 25px;
    }
    .banner h2 {
        font-size: 12px;
        margin: 0;
    }
    .banner {
        margin-top: 100px;
    }
    .banner_right {
        width: 40%;
    }
    .banner p {
        font-size: 9px;
    }
    .custom_navigation .nav.navbar-nav.pull-right {
        //	width: 100%;
    }
    .custom_navbar {
        box-shadow: none;
    }

    .very_big_white.start {
        font-size: 22px !important;
    }
    #idFormsQuery .col-sm-2, .col-sm-3 {
        margin-bottom: 10px;
    }
    .custom_text h1 {
        font-size: 21px;
        //margin: -50px 0 10px;
        line-height:normal;
    }
    .custom_text span {
        font-size: 21px;
        line-height: 26px;
    }
    .banner1-wheel {
        margin-top: 15px;
        text-align: center;
    }
    .three-col p {
        font-size: 38px;
    }
    .desc {
        margin-bottom: 30px;
    }
    .timeline-entry {
        margin: 0 !important;
    }
    .tp-bannershadow.tp-shadow3 {
        width: 100%!important;
    }
    .custom_navbar .navbar-toggle {
        bottom: 45px;
    }
    .tp-caption.sfl.modern_small_text_dark.start.text_fix {
        font-size: 9px;
    }
    .captizle {
        font-size: 12px;
    }
    .two-col {
        margin-top: -75px;
        padding-top: 60px;
    }
    .best-offer-listing{
        font-size: 1.2em;
    }
}
@media only screen and ( max-width: 767px ) {
    .footer-col {
        width: 33%;
    }
    .sidebar_item {
        background: url("../images/Bangkok.png") no-repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
        margin-bottom: 40px;
    }
    .over {
        width:100%;
    }
    .custom_footer {
        margin-left: 200px;
    }
    .banner_round {
        bottom: 29px;
    }
    .wheel_value_header_restau img{
        max-width:80%!important;
    }
}
@media (max-width:640px) {
    .banner_round {
        bottom: 0px;
    }
    .banner h2 {
        font-size: 27px;
    }
    .banner p {
        font-size: 14px;
    }
    .tp-caption.sfl.modern_small_text_dark.start.text_fix {
        display: block;
        font-size:15px;
    }
    .item-first > img {
        max-width: 100%;
        width: 100%;
    }
    .round_img > img {
        margin-left: -68.5px;
    }
    .country_title > span {
        right: 52px;
        top: 389px;
    }
    .banner1-wheel > img {
        width: 40%;
    }
    .two-col {
        padding-top: 60px;
    }
    .custom_text h1 {
        font-size: 31px;
    }
    .custom_text span {
        font-size: 29px;
        line-height: 34px;
    }
    .custom_form {
        bottom: 164px;
    }
    .wheel_value{
        max-width:70%!important;

    }
    .wheel_value_header_restau img{
        max-width:70%!important;

    }
}
@media only screen and ( max-width: 480px ) {
    .footer-col {
        width: 50%;
    }
    .wheel_value{
        max-width:90%!important;
    }
    .wheel_value_header_restau img{
        max-width:50%!important;
    }
}
@media (max-width:480px) {
    .banner_right > img {
        padding-top: 56px;
        width: 84%;
    }
    .banner_right h2 {
        font-size: 25px;
    }
    .country_title > span {
        right: 40px;
        top: 269px;
    }
    .custom_text h1 {
        font-size: 28px;
    }
    .wheel_value_header_restau img{
        max-width:50%!important;
    }
    .best-offer-listing{
        font-size: 0.8em;
    }
}
@media (max-width:360px) {
    .banner_round {
        left: 51%;
        border-bottom:8px;
    }
    .banner_round > img {
        width: 37%;
    }
    .navbar-collapse.collapse.in {
        clear: both;
    }
    .banner h2 {
        font-size: 21px;
    }
    .banner_right > img {
        padding-top: 52px;
    }
    .banner_right h2 {
        font-size: 25px;
    }
    .banner p {
        font-size: 11px;
        margin-bottom: 10px;
    }
    .country_title > span {
        right: 12px;
        top: 188px;
    }
    .round_img > img {
        margin-left: -48.5px;
    }
    .tp-caption.sfl.modern_small_text_dark.start.text_fix {
        font-size: 8px;
    }
    .wheel_value_header_restau img{
        max-width:50%!important;
    }

}
@media (max-width:320px) {
    .custom_text h1 {
        font-size: 21px;
    }
    .custom_text span {
        font-size: 16px;
        line-height: 21px;
    }
    .country_title > span {
        right: 14px;
        top: 162px;
    }
    .round_img > img {
        margin-left: -40.5px;
    }
    .custom_text span {
        font-size: 27px;
        line-height: 34px;
    }
    .wheel_value_header_restau img{
        max-width:50%!important;
    }
}
@media only screen and ( max-width: 320px ) {
    .footer-col {
        width: 100%;
    }
    .banner_right > img {
        padding-top: 52px;
        width: 98%;
    }
    .banner_right h2 {
        font-size: 25px;
    }
    .banner h2 {
        font-size: 18px;
    }
    .banner p {
        font-size: 10px;
        margin-bottom: 0;
    }
    .wheel_value_header_restau img{
        max-width:50%!important;
    }
}


.media-event {
    //margin-top: 40px;
}


////////////////  MULTIDIM  CSS  //////////////////

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

