<div id="myorders-page">
    <div ng-include="'client/app/shared/partial/_menu_user.tpl.html'"></div>
      
    <div class="container" >
         <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 left-menu">
         </div>
        
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
        <span class="no-data-available" ng-show="shownoData==false" >
                <h4>
                <p >
                        No new orders available. <br /><br />
                        Make a new order <a href ="https://www.weeloy.com/search/singapore">here</a>.
                </p>
                </h4>
         </span>
       <div ng-show="orders | lengthMoreThan:0" ng-if="showListOrders">
        <div id="orders">
            <div class="order col-xs-12">
                <div class="order-restaurant">
                    <p><strong>Restaurant</strong></p>
                </div>
                <div class="order-amount text-center">
                    <p><strong>Total (<span ng-bind="orders[0].currency"></span>)</strong></p>
                </div>
                <div class="order-total-items text-center">
                    <p><strong>Number items</strong></p>
                </div>
                <div class="order-total-items">
                    <p><strong>Delivery date</strong></p>
                </div>
            </div>
            <div class="order" ng-repeat="order in orders">
                <div class="order-restaurant">
                    <p>
                        <a ng-href="myorders?id={{order.ID}}" ng-bind="order.title"></a>
                    </p>
                </div>
                <div class="order-amount text-center">
                    <p ng-bind="order.total"></p>
                </div>
                <div class="order-total-items text-center">
                    <p ng-bind="order.total_items"></p>
                </div>
                <div class="order-total-items">
                    <p ng-bind="order.time"></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12" ng-if="showPagination">
            <ul class="pagination pull-right">
                <li ng-repeat="p in pages" ng-class="page == p ? 'active':''"><a ng-href="myorders?page={{p}}" ng-bind="p"></a></li>
            </ul>
        </div>
    </div>
 </div>
 </div>
    <div class="container" id="order-detail" ng-if="showOrderDetail">
        <a href="myorders">
            <button class="btn btn-default back"><span class="fa fa-arrow-left"></span>My Orders</button>
        </a>
        <!--<p><strong>Restaurant: {{items[0].restaurant}}</strong></p>
        <p><strong>Delivery Time: {{items[0].delivery_time}}</strong></p>
        <p><strong>Order date: {{items[0].time}}</strong></p>-->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Item</td>
                    <td>Restaurant</td>
                    <td>Quantity</td>
                    <td>Price ({{items[0].currency}})</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items">
                    <td ng-bind="item.item_title"></td>
                    <td ng-bind="item.restaurant"></td>
                    <td ng-bind="item.quantity"></td>
                    <td ng-bind="item.price"></td>
                </tr>
            </tbody>
        </table>
        <p><strong class="pull-right">Total: {{items[0].currency}} {{items[0].total}}</strong></p>
    </div>
</div>
