<div id="booking-page">
    <div ng-include="'client/app/shared/partial/_menu_user.tpl.html'"></div>
    <div class="container">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 left-menu">
            <ul>
                <li>
                    <a href="mybookings?f=today" class="{{ (MyBookingPage == 'today') ? 'mybooking-menu-selected' : ''}}">Today</a>
                </li>
                <li>
                    <a href="mybookings?f=coming" class="{{ (MyBookingPage == 'coming') ? 'mybooking-menu-selected' : ''}}">Coming Soon</a>
                </li>
                <li>
                    <a href="mybookings?f=past" class="{{ (MyBookingPage == 'past') ? 'mybooking-menu-selected' : ''}}">Past bookings</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 my-booking">
            <div  class="panel-group" ng-repeat="item in bookings" ng-show="showBookingList" id="member-bklist">
                
                <div class="item"> 
                  
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 vignette_picture">
                        <a class="res-path" ng-href="{{ item.restaurantinfo.internal_path}}">
                            <img id="img_logo_1" ng-src="{{ item.restaurantinfo.defImg}}">
                        </a>
                    </div>
                    <div class="col-md-6 infos">
                        <h4 class="res-title" ng-bind="item.restaurantinfo.title"></h4>
                        <p class="time" ng-bind="item.timeStr"></p>
                        <p >Time :{{ item.rtime }}</p>
                    
                        <p>Covers: {{ item.cover}}</p>
                            <p  ng-if = "item.payment===1 && (item.status == 'cancel' || item.status == 'noshow')  && item.amount >0  " >Payment Id : {{item.deposit_id}}</p>
                            <p  ng-if = "item.payment===1 && (item.status == 'cancel' || item.status == 'noshow') && item.amount >0  && item.paystatus!=='REFUNDED'" >Cancelled Charge : {{item.currency}} {{item.amount}}</p>
                            <p  ng-if = "item.paystatus==='REFUNDED' && item.refundamount >0 " > Refund Amount :  {{item.currency}} {{item.refundamount}}</p>

                    </div>
                    <div class="col-md-3 action_controls">
                        <p class="spin_wheel_info">
                            <!-- <a target='_blank' href='wheel/rotation/rotation_always_ndb.php?confirmation={[{booking.confirmation}]}&membCode={[{booking.membcode}]}&guestname={[{booking.firstname}]}' >Spin the wheel</a> -->
                        </p>
          
                        <div class="cancel_container" ng-if=" MyBookingPage == 'today' || MyBookingPage == 'coming' ">
                        
                            <div id="booking_depsoit_{{$index}}" class="depsoit-details" ng-if="(item.status ==='pending_payment' && item.time_left<=20 && item.passed==false)"  >

                                <p><a  href="{{item.paymentUrl}}" target = "_blank"  > Pending Payment</a></p>
                              
                            </div>
               
                            <div id="booking_status_{{$index}}" ng-if=" (item.status != 'cancel' && item.status != 'pending_payment' && item.passed==false) && (item.wheelwin == null || item.wheelwin == '')"  class="cancel-details" >
<!--                                <p><a id="bookingcancel" class="btn btn-blue"  data-target="targetSection_{{$index}}" ng-click="cancel($index, item, $event)"  style="border-radius:2px;">Update/Cancel </a></p>-->
                                <p>
                                    <a id="bookingcancel"  ng-if = "item.bkObject==='nodeposit'" class="btn btn-blue"  data-target="targetSectionmodif_{{$index}}" ng-click="modif($index, item, $event)"  style="border-radius:2px;">Update/Cancel </a>
                                    <a id="bookingcancel"  ng-if = "item.bkObject==='deposit'" class="btn btn-blue"  data-target="targetSection_{{$index}}" ng-click="cancel($index, item, $event)"  style="border-radius:2px;">Cancel </a>
                                </p>
                                
                               <!-- <p ng-if='localhost'><a id="bookingmodif" class="btn btn-blue"  data-target="targetSectionmodif_{{$index}}" ng-click="modif($index, item, $event)"  style="border-radius:2px;">Modify </a></p>-->
                            </div>
                            <div  ng-if=" (item.status != 'cancel' && item.status === 'pending_payment' && item.passed==false && item.time_left>20)"  class="cancel-details" >
                                {{item.status}}
                            </div>
                        </div>
                        <p class="booking-status text-center" ng-if= "item.status == 'cancel' ||  item.status == 'noshow' ">
                                   {{ (item.status == 'cancel') ? 'Booking cancelled' : 'noshow'}}
                        </p>
                        <p class="booking-status text-center" ng-if= "item.status != 'cancel' ||  item.status != 'noshow' ">
                                   {{ item.wheelwin }}
                        </p>

<!--                        <div class="spin_wheel_info text-center" ng-if="(item.reviewgrade == null || item.reviewgrade == '') && item.wheelwin != null && item.wheelwin != '' && item.status != 'cancel'">

                            <button id="reviewCancel" type="button" class="btn btn-blue btn-review" data-target="targetSectionRev_{{$index}}" ng-click="Review($index,item,$event)">Review Now</button>
                        </div>-->
                        <div class="spin_wheel_info text-center" ng-if="(item.reviewgrade == null || item.reviewgrade == '') && (item.status != 'cancel' && item.status != 'noshow') ">
<!--        
                            <div ng-if ="(item.wheelwin != null && item.wheelwin != '')" >
                                <button id="reviewCancel" type="button" class="btn btn-blue btn-review" data-target="targetSectionRev_{{$index}}" ng-click="Review($index,item,$event)">Review Now</button>
                            </div>-->
                         
                            <div ng-if="(item.passed ==true) ">
                                <button id="reviewCancel" type="button" class="btn btn-blue btn-review" data-target="targetSectionRev_{{$index}}" ng-click="Review($index,item,$event)">Review Now</button> 
                            </div>
                        </div>
                        <div class="spin_wheel_info text-center" ng-if="item.reviewgrade != null && item.status != 'cancel'">
                            <a href="myreviews?f=past" id="member-mybooking-reviews">
                                <span title="reviewScore:{{item.reviewgrade}}" class="reviews {{item.reviewgrade| get_review_class}} spin-info " > &nbsp</span> 
                                <span></span>
                            </a>
                        </div>
                    </div>
                    <div ng-if="(MyBookingPage == 'today' || MyBookingPage == 'coming') && item.status == 'cancel' && (item.wheelwin == null || item.wheelwin == '')" class="share-social text-right col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button class="btn btn-facebook text-left fbshare" ng-click="fbshare(item)"><i class="fa fa-facebook"></i> Share</button>
                        <button class="btn btn-twitter text-right twitte-share" ng-click="tws_click(item)"><i class="fa fa-twitter"></i> Twitter</button>
                    </div>
                    <div ng-if=" MyBookingPage == 'past' && item.status != 'cancel' && item.wheelwin !== null && item.wheelwin !== ''" class="share-social text-right col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button class="btn btn-facebook text-left fbshare" ng-click="fbshare(item)"><i class="fa fa-facebook"></i> Share</button>
                        <button class="btn btn-twitter text-right twitte-share" ng-click="tws_click(item)"><i class="fa fa-twitter"></i> Twitter</button>
                    </div>
                </div>
                   <div id="btncontainer" class="panel-body" >
                        <div id="targetSection_{{$index}}" class="currentpanel" ng-include="'client/app/shared/partial/_my_booking_page_cancel_section.html'" ng-show="showCancelSection_{{$index}}" ></div>
                        <div id="targetSectionmodif_{{$index}}" class="currentpanel" ng-include="'client/app/shared/partial/_my_booking_page_modif_section.html'" ng-show="showModifSection_{{$index}}" ></div>
                        <div id="targetSectionRev_{{$index}}" class="currentpanel review-section" ng-include="'client/app/shared/partial/_my_booking_page_review_section.html'" ng-show="showReviewSection_{{$index}}" ></div>
                       
<!--                        <review-section  id="targetSectionRev_{{$index}}" class="currentpanel"  id="{{$index}}" review-item="item" ng-show="showReviewSection_{{$index}}"></review-section>-->
                    </div>
           </div>
            <span ng-show="showBookingList == false" class="no-data-available">
                <h4>
                <p ng-if=" MyBookingPage == 'today' || MyBookingPage == 'coming'">
                        No new bookings available. <br /><br />
                        Make a new reservation <a href ="https://www.weeloy.com/search/singapore">here</a>.
                </p>
                <p ng-if="MyBookingPage == 'past' ">
                        "We are feeling a little lonely here." <br /><br />
                         Make a new reservation <a href ="https://www.weeloy.com/search/singapore">here</a>.
                </p>
                </h4>
            </span>
        </div>
    </div>
</div>

