<style>
    .introduction{
        margin: 50px 0px;
        font-weight: bold;
    }
</style>
<div  class="landing-page">
    <div class="container">
        <div class="left">
            <div class="banner_restaurant" style="background-image: url({{image}}); background-size: cover; background-position: 50% 50%; background-repeat: no-repeat no-repeat;">
            </div>
             <h1>{{landing.title}}</h1>
             <h2>{{landing.tag}}</h2>
            <p class='introduction'>
                {{landing.description}}
            </p>
            <p style='margin-top:30px;margin-left:120px;padding-left:50px; color: #2aacd2; display: block; font-family: proximanova-semibold;font-size: 20px;'> CNY Menus & Promos</p>
            <div class="events" >
                <ul style="max-width:600px; margin: auto; padding: 0px;">
                    <li class="clearfix" ng-repeat="evt in events">
                        
                        <a analytics-on="click"
                                        analytics-event="c_go_resto"
                                        analytics-category="c_go_resto_cny" 
                                        analytics-label="c_go_resto_cny_{{evt.restaurant}}"
                                        ng-href="{{getRestaurantLink(evt.restaurant)}}"  style="text-decoration:none;" title="Celebrate the CNY with {{evt.title}} - reserve your table with weeloy">
                            <h1>Celebrate the CNY with {{evt.title}}</h1>
                        </a>
                        <div class="cnt">
                            <h2 ng-bind="evt.name"></h2>
                            <span ng-if="evt.start === evt.end" ng-bind="evt.end | date : format : shortDate"></span>
                            <span  ng-if="evt.start !== evt.end">{{evt.start| date : format : shortDate}} to {{evt.end| date : format : shortDate}}, {{evt.area}}</span>
                            <p ng-bind="evt.description"></p>
                            
                            <a analytics-on="click"
                                        analytics-event="c_get_pdf"
                                        analytics-category="c_get_pdf_cny" 
                                        analytics-label="c_get_pdf_cny_{{evt.restaurant}}" href="{{ mediaServer}}/upload/restaurant/{{evt.restaurant}}/{{evt.pdf_link}}" target="_blank" ng-if="evt.pdf_link" title="{{evt.title}} Menu for chinese new year 2016">Download CNY menu</a>

                            <div style="margin-top:10px;">
                                <button analytics-on="click"
                                        analytics-event="c_book_resto"
                                        analytics-category="c_book_resto_cny" 
                                        analytics-label="c_book_resto_cny_{{evt.restaurant}}" ng-show="restaurant.status != 'comingsoon'" class="book-button-sm btn-leftBottom-orange" ng-click="btnBookNowEvent_click(evt.restaurant)" ng-bind="book_button_text"></button>
                            </div> 
                        </div>
                        <div class="img-block">
                            <a href="{{ image}}" class="fresco" title="Chinese New Year @ {{landing.title}} - reserve restaurant table now">
                                <img ng-src="{{ image}}" class="img-responsive" alt="{{landing.title}} Chinese New Year Menu - reserve restaurant table now" style='max-height: 300px;'>
                                
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div style="text-align: center;">
                <a href='search/singapore' style=" color: #555555;text-decoration: none;font-size: 17px;">View more restaurants</a>
            </div>
        </div>
    </div>
</div>
