<div id="checkout-info">
    <div class="container">
        <p class="checkout-header text-center">checkout cart</p>
        <div id="main-form" class="col-xs-12 col-md-8">
            <a rel="nofollow"  ng-href="{{restaurant.getInternalPath()}}/catering">
                <p class="back-to-cart">
                    <i class="fa fa-chevron-left"></i>
                    <span>Back to restaurant page</span>
                </p>
            </a>
            <div id="contant-main-form">
                <form id="form-border" name="OrderForm" ng-submit="OrderForm.$valid && SaveCart(OrderUser, remarks)">
                    <div class="title col-xs-12 col-sm12 col-md-12 col-lg-12">
                        <div class="numberCircle">1</div>
                        <h4>Personal Details</h4>
                    </div>
                    <p ng-if="OrderUser.email === undefined">Have an account width us? <a data-toggle="modal" data-target="#loginModal">Log in</a> to checkout faster!</p>
                    <div class="form-group col-xs-12 col-sm12 col-md-6 col-lg-6">
                        <label>First name*</label>
                        <input type="text" class="form-control" name="firstname" ng-model="OrderUser.firstname" required>
                        <span ng-show="OrderForm.$submitted && OrderForm.firstname.$error.required" ng-bind="Str.template.TextPleaseEnterYourFirstname"></span>
                    </div>
                    <div class="form-group col-xs-12 col-sm12 col-md-6 col-lg-6">
                        <label>Last name</label>
                        <input type="text" class="form-control" name="lastname" ng-model="OrderUser.lastname" required>
                        <span ng-show="OrderForm.$submitted && OrderForm.lastname.$error.required" ng-bind="Str.template.TextPleaseEnteYourLastName"></span>
                    </div>
                    <div class="form-group col-xs-12 col-sm12 col-md-6 col-lg-6">
                        <label>Email*</label>
                        <input type="email" class="form-control" name="email" ng-model="OrderUser.email" required>
                        <span ng-show="OrderForm.$submitted && OrderForm.email.$error.required" ng-bind="Str.template.TextPleaseEnterAValidEmail"></span>
                    </div>
                    <div class="form-group col-xs-12 col-sm12 col-md-6 col-lg-6">
                        <label>Phone*</label>
                        <input type="text" class="form-control" name="mobile" ng-model="OrderUser.mobile" required>
                        <span ng-show="OrderForm.$submitted && OrderForm.mobile.$error.required" ng-bind="Str.template.TextPleaseEnterYourPhoneNumber"></span>
                    </div>
                    <div class="form-group col-xs-12 col-sm12 col-md-6 col-lg-6">
                        <label>Company name(Optional)</label>
                        <input type="text" class="form-control" ng-model="OrderUser.company">
                    </div>
                    <!-- <div class="password-section" ng-if="!loggedin">
                        <div class="form-group col-xs-12 col-sm12 col-md-12 col-lg-12">
                            Sign up below to have a better checkout experience next time!
                        </div>
                        <div class="form-group col-xs-12 col-sm12 col-md-6 col-lg-6">
                            <label>Password(Optional)</label>
                            <input type="password" class="form-control" ng-model="OrderUser.password" required>
                        </div>
                        <div class="form-group col-xs-12 col-sm12 col-md-6 col-lg-6">
                            <label>Enter your password again</label>
                            <input type="password" class="form-control" ng-model="OrderUser.password_confirmation" required>
                        </div>
                    </div> -->
                    <div class="title col-xs-12 col-sm12 col-md-12 col-lg-12">
                        <div class="numberCircle">2</div>
                        <h4>Pickup date and time</h4>
                    </div>
                    <div class="title col-xs-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-8">
                                    <div id="datetimepicker"></div>
                                </div>
                            </div>
                        </div>
                        <div class="cart" >
                            <p class="cart-header">Select pickup time</p>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6" ng-repeat="rows in chunkedData">
                                    <ul class="delivery-time" class="cart col-sm-6 col-xs-12">
                                        <li ng-repeat="time in rows" ng-click="SelectTime(time)">
                                            <p ng-class="time.selected ? 'selected' : ''"><span class="fa fa-clock-o"></span><span ng-bind="time.time" style="font-size: 13px;"></span></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="title col-xs-12 col-sm12 col-md-12 col-lg-12">
                        <div class="numberCircle">3</div>
                        <h4>Special requests</h4>
                        <textarea class="form-control remarks" ng-model="remarks"></textarea>
                    </div>
                    <div class="title col-xs-12 col-sm12 col-md-12 col-lg-12">
                        <div class="numberCircle">4</div>
                        <h4>Terms and conditions</h4>
                        <div class=" col-xs-12 col-sm12 col-md-12 col-lg-12">
                            <p><span ng-bind="restaurant.getOnlineOrderTnc()"></span></p>
                        </div>
                    </div>
                    
                    <div class="title col-xs-12 col-sm12 col-md-12 col-lg-12">
                        <div class="numberCircle">5</div>
                        <h4>Payment method</h4>
                        <div class="form-group checkbox col-xs-12 col-sm12 col-md-12 col-lg-12">
                            <label>
                                <input type="radio" name="optionsPaymentRadios" id="optionsPaymentRadios1"  value="option1" required> Credit card
                            </label>
                            <label>
                                <input type="radio" name="optionsPaymentRadios" id="optionsPaymentRadios2" value="option2" required> Paypal
                            </label>
                        </div>
                    </div>
                    
                    <div class="title col-xs-12 col-sm12 col-md-12 col-lg-12">                        
                        <div class="form-group checkbox col-xs-12 col-sm12 col-md-12 col-lg-12">
                            <label>
                                <input type="checkbox" name="optionsRadios_tnc" id="optionsRadios1" value="option1" ng-model="OrderUser.optionsRadios_tnc" required> I accept the terms & conditions
                                <span ng-show="OrderForm.$submitted && OrderForm.optionsRadios_tnc.$error.required" ng-bind="Str.template.TextPleaseAcceptTnc"></span>
                            </label>
                        </div>
                        
                        <div class="form-group checkbox col-xs-12 col-sm12 col-md-12 col-lg-12">
                            <label>
                                
                                <input type="checkbox" name="optionsRadios" id="optionsRadios2" value="option2" checked> I want to receive email & newsletter
                            </label>
                        </div>
                    </div>

                    <div class="title col-xs-12 col-sm12 col-md-12 col-lg-12">
                        <button type="submit" class="btn btn-default">Submit Order</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="sidebar-right" class="col-xs-12 col-md-4 sidebar">
            <div class="sidebar-contant">
                <div class="img-logo">
                    <img ng-src="{{restaurant.getLogoImage()}}" />
                </div>
                <h3 class="text-center" ng-bind="restaurant.getTitle()"></h3>
                <p class="text-center" ng-if="false">
                    <span ng-bind="restaurant.getAddress()"></span>, <span ng-bind="restaurant.getZip()"></span>
                </p>
                <span>Pick up Address</span>
                <p><span ng-bind="restaurant.getAddress()"></span>, <span ng-bind="restaurant.getZip()"></span></p>
                <span>Pick up Date</span>
                <p ng-bind="DeliveryDateFormatted"></p>
                <span>Pick up Time</span>
                <p ng-bind="DeliveryTime"></p>
                <hr/>
                <cart ng-show="items | lengthMoreThan:0" items="items" 
                      ng-attr-cx="false" 
                      ng-attr-minorder="restaurant.getMinOnlineOrder()" 
                      ng-attr-tax="restaurant.getOnlineOrderTax()"></cart>
            </div>
        </div>
    </div>
</div>
