body {
	font-family: Roboto; 
	font-size: 14px;
}

.input-group {
	margin-bottom: 15px;
}

.row {
	margin-bottom: 15px;
}

img {
	display:block;
	margin:0 auto;
	padding-bottom:20px;
}

a#buttonterms {
	margin: 10px 30px 20px 55px;
}

.termsconditions {
	font-family: Roboto; 
	font-size: 12px;
}

.separation {
	vertical-align:middle;
	border-right:4px solid #5285a0;
	height:100%;
}

.separation-left {
	vertical-align:middle;
	border-left:4px solid #5285a0;
	height:100%;
}

.nomarginbottom {
	margin-bottom:0px
}

.panel{
	border-color:#5285a0 !important;
}

.panel-heading{
	background-image:none !important;
	background-color:#5285a0 !important;
	color:#fff !important;
	border-color:#5285a0 !important;
	border-radius:0;
}

.panel-body {
	padding: 10px 10px 10px 0;
	margin:0;
}

.slogan {
	font-family: Roboto; 
	font-size: 13px;
	padding-top:0px;
	margin:10px 20px 20px 20px; 
	}
	
.btn-default{
	background-image:linear-gradient(to bottom, #eee 0px, #e0e0e0 100%)!important;
}

.scrollable-menu {
	font-size:12px;
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
}

.scrollable-menu-all {
    height: auto;
    overflow-x: hidden;
}

.scrollable-menu::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;        
}  

.scrollable-menu::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #5285a0;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.75);        
}

.alert-info {
    color: #31708F;
    background: #31708F;
    border-color: #31708F;
	margin-bottom:0;
}

.checkmark {
	color: green;
	display: inline-block;
	font-size: 14px;
	vertical-align: top; 
	margin:0 0 0 0;
}

.pcheckmark {
	display: inline-block;
	font-family:times;
	font-size:12px;
	margin:0 0 0 5px;
}

.pcheckmarkcn {
	display: inline-block;
	font-family:times;
	font-size:12px;
	margin:0 0 0 5px;
}

ul {
	 list-style:none; 
	 padding:0;
}

.alert-label {
	text-align:center;
	padding: 5px 0 5px 0;
	color:white;
}