<!--
        <section id="top-restaurant" class="early_book_restaurant">
    <div class="container">
        <h1 class="title_home_page text-center" ng-bind="info.title"></h1>
        <h2 class="sub_title_home_page text-center" ng-bind="info.sub_title"></h2>
        <div id="best-restaurant">
            <div class="col-lg-4 col-md- col-sm-6 col-xs-12" ng-repeat="restaurant in restaurants track by $index"  > 
                <restaurant-item open-in-new-tab="true" media-server="mediaServer" restaurant="restaurant" indexcount="$index"></restaurant-item>
            </div>
            
            
        </div>
        
    </div>
</section>-->

<section class="zen-month">
<!--https://static4.weeloy.com/images/cny/book_restaurant_cny_2016.jpg-->
    <div class="container">
        <h1>
            <div title='info.h1_seo_tag' ng-if='info.banner_url' class="banner_restaurant" style="margin-top:50px;height: 300px;background-image: url('{{info.banner_url}}'); background-position: center center; background-repeat: no-repeat no-repeat;"></div>
        </h1>

        <div ng-if='!info.banner_url' style="height: 60px"></div>
        
        <h2 class="text-center" ng-bind="info.title" style="padding-top: 20px;"></h2>
        <p class="text-center zen-text" ng-bind="info.sub_title"></p>
        <p class='introduction' ng-bind="info.introduction"></p>
        <div class="css-creen">
            <div class="col-md-4 col-sm-4 col-xs-12 zen-column"  ng-repeat="restaurant in restaurants track by $index">
                <restaurant-item open-in-new-tab="true" media-server="mediaServer" restaurant="restaurant" indexcount="$index"></restaurant-item>
            </div>
        </div>
    </div>
</section>

