<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<base href='../../../' />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<meta name="author" content="weeloy. https://www.weeloy.com">
<meta name="copyright" content="2014 weeloy. All rights reserved. https://www.weeloy.com">  
<title>Weeloy - Skeleton</title>
<link rel="icon" href="favicon.ico" type="image/gif" sizes="16x16">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<style> 
</style>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<script src="js/selectivizr-min.js"></script>
<script src="js/modernizr.js"></script>
<link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" />
<![endif]-->

<script>
//, 'angularFileUpload', 'nvd3', 'vds.multirange', 'ngMaterial', 'ngMessages', 'ngMdIcons','app.api', 'materialCalendar'
var app = angular.module("myApp", []);
</script>
</head>

<body ng-app="myApp" ng-cloak >
<div ng-controller="myCtrl">
<div ng-include="'admin_tms/tmsreport/myModalModif.html'"></div>

First Name: <input type="text" ng-model="firstName"><br>
Last Name: <input type="text" ng-model="lastName"><br>
<br>
Full Name: {{firstName + " " + lastName}}

</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.firstName= "John";
    $scope.lastName= "Doe";
});
</script>
</body>
</html>