<style>
   
    .back-to-cart {
        .fa {
            span {
                margin-right: 5px;
            }
        }
    }
    .item {
          overflow: auto;
    }
    .item-name,
    .item-number,
    .item-price,
    .item-remove {
        float: left;
    }
    .cart-header {
            font-family: 'proximanova-bold';
            font-size: 16px;
            font-weight: bold;
        }
    .item-name {
                    width: 50%;
                }
     
    .item-number {
        width: 20%;

    }
    item-number .label {
        border-radius: 1px;
        color: #333;
        cursor: pointer;
      }
    .item-price {
                    width: 20%;
                }
    .item-remove {
        width: 10%;
        cursor: pointer;
    }
    .item-price p {
            width: 90%;
            font-family: 'proximanova-bold';
    }
 
    
        .delivery-time {
        list-style: none;
        padding-left: 0px;
        li {
            p {
                border: 1px solid #ddd;
                border-radius: 2px;
                padding: 10px 15px;
                @extend %transition;
                .fa {
                    margin-right: 10px;
                }
            }
            p:hover {
                cursor: pointer;
                background: #1abc9c;
                color: #fff;
            }
            .selected {
                background: #1abc9c;
                color: #fff;
            }
        }
    }
    #main-form > h3 >i {
        border: 1px solid #999999;
        border-radius: 50%;
        padding: 4px 7px 5px 5px;
        font-size: 10px;
    }
    #contant-main-form {
        background-color: #fff;
    }
    #contant-main-form form {
        padding: 10px 10px 10px 80px;
        display: block;
        overflow: auto;
    }
    #contant-main-form .numberCircle {
        border-radius: 50%;
        width: 36px;
        height: 36px;
        padding: 5px;
        background: #fff;
        border: 2px solid #999999;
        color: rgba(0, 0, 0, 0.73);
        text-align: center;
        font: 20px Arial, sans-serif;
        display: inline-block;
        position: absolute;
        left: -55px;
    }
    #form-border .form-group {
        padding-left: 0px;
    }
    #form-border .title {
        padding-left: 0px;
        margin-top: 20px;
    }
    #form-border .extra-red {
        color: #ff8066;
    }
    #form-border .scroll {
        overflow-y: scroll;
        height: 200px;
        border: 1px solid #ccc;
    }
    #form-border .btn {
        background-image: none;
        border-radius: 2px;
    }
    .sidebar{
        background-color: #eee;
        border-radius: 15px;
    }
    .sidebar-contant {
        margin-top: 60px;
        margin-bottom: 60px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .sidebar-contant .img-logo {
        text-align: center;
    }
    .sidebar-contant h3 {
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
    }
    .sidebar-contant hr {
        width: 100%;
        border-top: 1px solid #e3e3e3;
        margin-top: 0px;
        margin-bottom: 8px;
    }
    .sidebar-contant > p {
        color: #333333;
        font-weight: bold;
        font-size: 13px;
    }
    p.bold-1 {
        font-size: 15px;
    }
    p.bold-2 {
        font-size: 17px;
    }
    p.bold-1 span,
    p.bold-2 span {
        font-size: 14px;
    }
    p.bold-1 span {
        width: 100%;
    }
    p.total {
        font-size: 20px;
    }
    p.total span {
        font-weight: bold;
    }
    #sidebar-right {
        height: auto;
    }


</style>


<div id="shopping-cart">
    <div class="cart">
        <!--        <div class="cart-header">
                    <p>Your selection</p>
                </div>-->

        <div class="cart-items">
     
            <div class="" ng-class="" ng-repeat="menu in menus">

                <div class="cart-header"ng-if="menu.setmeal && menu.isShow && status === 'menu_built' ">
                    <!--                    <p ng-if='menu.totalprice > 0'>
                                            <span ng-bind="menu.notes"></span>
                                            <span style="font-weight: normal">    ---    {{ menu.qte}} x SGD {{menu.price}} = SGD {{menu.totalprice}}</span>
                                        </p>-->

                    <div  ng-if='menu.totalprice > 0'>
                        <div ng-bind="menu.notes" style="float:left;width: 50%"><p class="cart-header">TOTAL</p></div>
                        <div style="float:left;width: 20%;text-align:center">{{menu.qte}}</div>
                        <div style="text-align:right">SGD {{menu.totalprice}}</div>
                    </div>


                </div>
                <div class="cart-header" ng-if="menu.setmeal && menu.status ==='selected' && (status === 'menu_pre_selected' || status === 'menu_selected' || status === 'confirmed')">
                    <!--                    <p ng-if='menu.totalprice > 0'>
                                            <span ng-bind="menu.notes"></span>
                                            <span style="font-weight: normal">    ---    {{ menu.qte}} x SGD {{menu.price}} = SGD {{menu.totalprice}}</span>
                                        </p>-->

                    <div  ng-if='menu.totalprice > 0'>
                        <div ng-bind="menu.notes" style="float:left;width: 50%"><p class="cart-header">TOTAL</p></div>
                        <div style="float:left;width: 20%;text-align:center">{{menu.qte}}</div>
                        <div style="text-align:right">SGD {{menu.totalprice}}</div>
                    </div>


                </div>
                

                <div class="cart-header" ng-if="!menu.setmeal">
                    <p ng-if='menu.totalprice > 0'><span ng-bind="menu.notes"></span></p>
                </div>




                <div class="item" ng-repeat="item in menu.items" ng-if='item.qte > 0 && menu.menuID == item.displayID'>
                    <div ng-if="menu.setmeal">
                       
                        <div class="item-name" ng-if="menu.food && !menu.option">
                            <p style="font-style:italic; overflow:hidden;text-overflow: ellipsis;white-space: nowrap;">
                                <span style="font-style: italic; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" ng-bind="item.item_title"></span>
                            </p>
                        </div>

                        <div class="item-name" ng-if="!menu.food || menu.option">
                            <p style="font-style:italic; overflow:hidden;text-overflow: ellipsis;white-space: nowrap;"> 
                                <span ng-bind="item.item_title" style="text-decoration: underline"></span>
                            </p>
                        </div>


                        <div class="item-number text-center">
                            <span ng-bind="item.qte"></span> 
                               
                        </div>
                    </div>
                    <div ng-if="!menu.setmeal">
               
                        <div class="item-name" ng-if="menu.food && !menu.option">
                            <p> <span style="font-style: italic; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" ng-bind="item.item_title"></span></p>
                        </div>

                        <div class="item-name" ng-if="!menu.food || menu.option">
                            <p  > <span ng-bind="item.item_title" style="text-decoration: underline"></span></p>
                        </div>

                        <div class="item-number text-center">
                            <span ng-bind="item.qte"></span>
                        </div>
                        <div class=" ">
                            <p style="text-align:right"><span ng-bind="item.currency"></span> <span>{{item.price * item.qte}}</span></p>
                        </div>
                    </div>



                    <div class="item-remove text-center" style="float:right">
                        <span ng-if="status == 'request_sent'" class="fa fa-remove" ng-click="removeItem(item)"></span>
                    </div>
                </div>
            </div>
        </div>
        <hr/>

        <div class="pricing">
           
<!--            <p ng-if ="deposit === 'nodeposit'">
                <span>No deposit required  </span>
            </p>
             <p ng-if ="deposit !== 'nodeposit'">
                <span >{{deposit}}% Deposit Required </span>
            </p>-->
           
            <div style="font-size:12px;">
                <p>
                    <span>Sub-total</span>
                    <span style="float:right" >SGD {{(totalamount | number:2)}}</span>
                </p>
                <p>
                    <span>Service charge (10%)</span>
                    <span style="float:right" >{{(totalamount * 0.10 | number:2)*1|number:2}}</span>
                </p>
                <p>
                    <span>GST (7%)</span>
                    <span style="float:right">{{(totalamount * 0.07 | number:2)*1|number:2}}</span>
                </p>
            </div>
            <p>
                <span>TOTAL</span>
                <span style="float:right" >SGD {{((totalamount)+((totalamount * 0.10 | number:2)*1)+((totalamount * 0.07 | number:2)*1) | number:2) }}</span>
            </p>
<!--            <p ng-if =" deposit !== 'nodeposit' && totalamount >0 ">
                <span > Deposit amount </span>
                <span style="float:right" >SGD {{((totalamount * 1.10 * 1.07)*(deposit / 100) ) | number:2 }}</span>
            </p>-->

            <p ng-if ='minimumorder && minimumorder > 0 && (totalamount * 1.10 * 1.07) <= minimumorder ' style='color:red;'>
                <span>Minimum Order</span>
                <span style="float:right" >SGD {{minimumorder}}</span>
            </p>
    
        </div>

        <div class="order-now" >
            <button ng-if="selectioncomplete && status == 'request_sent'" class="btn-creditcard btn-leftBottom-orange pull-right" ng-click="saveEventMenu('selected')">Continue</button>
        </div>
    </div>
</div>