<div  class="restaurant-info-page" ng-if="restaurant != undefined" >
    <a href="https://media.weeloy.com/upload/restaurant/SG_SG_R_TheFunKitchen/1440/catering.jpg" class="fresco">
        <div class="banner_restaurant" ng-style="restaurant.bannerStyleCart()" style="background-position: center center">
        <div class="trans-block col-md-3"  style='margin-left:20px;'>
                <div class="bar-logo"><img ng-src="{{restaurant.getLogoImage()}}" class="img-responsive" alt=""></div>
                <h1 ng-bind="restaurant.getTitle()"></h1>
                <p><span ng-bind="restaurant.getAddress()"></span>, <span ng-bind="restaurant.getZip()"></span></p>
            </div>
            
        </div>
    </a>
<div id="catering" class="main">
    <div class="content">
           <!-- <h1>Catering menu of {{restaurant.getTitle()}} {{takeoutitle}}</h1>-->
            <div class="" ng-class="" ng-repeat="menu in cateringmenu">
                
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h1 ng-bind="menu.categorie.value"></h1>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 catering-vignette-parent " ng-class=""   ng-repeat="MenuItem in menu.items" ng-if="MenuItem.takeout == 1">
                        <div class="border catering-vignette" >
                            <div class="custom-grid">
                                <article class="ribbon_holder">
                                        <figure>
                                            <div class="img-absolute" >
                                                <img class="" style="width:100%; height: auto;"  ng-src="//media1.weeloy.com/upload/restaurant/{{restaurant.getRestaurantId()}}/300/{{MenuItem.mimage}}">
                                            </div>
                                        </figure>
                                </article>
                            </div>
                            <div class="category-item">
                                <div class="category-item-info">
                                    <div class="location-icon">
                                        <div class="location-text" style="margin-top: 5px;">
                                            <p style='font-weight: bold'><span>{{MenuItem.item_title}}</span></p>
                                            <p style='font-size: 12px'><span>{{MenuItem.item_description}}</span></p>
                                            <p><span>{{MenuItem.price}} {{restaurant.getCurrency()}}</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="category-link">
                                   
                                    <span ng-if="MenuItem.takeout == 1 && takeoutitle !== ''" style='cursor:pointer' class="cart-label label label-info" ng-click="addToCart(MenuItem, $event)">
                                        <i class="fa fa-plus"></i> 
                                        <span>Add to Cart</span>
                                    </span>
                                    <span class="added-to-cart" style="margin-left: 6px; display:none;"> Added</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="sidebar">
            <div class="inner cart-container" set-class-when-not-at-top="cart-container" set-class-when-at-top="fix-to-top" >
                <div >
                    <cart ng-show="ItemsInCart | lengthMoreThan:0" items="ItemsInCart" 
                          ng-attr-cx="true" 
                          ng-attr-minorder="restaurant.getMinOnlineOrder()" 
                          ng-attr-tax="restaurant.getOnlineOrderTax()" ></cart>
                    <span ng-show="ItemsInCart | lengthLessThan:1 " items="ItemsInCart"  >Your cart is empty</span>
                    <br><br>
                </div>
                <br>
                <br>
            </div>
    </div>
</div>
    
    
    
    
    <!--<div set-class-when-touch-footer="cart-container3" id="ttt" style="background: red;width: 100px; height: 100px;"></div>-->
</div>
