<div id="my-review">
    <div ng-include="'client/app/shared/partial/_menu_user.tpl.html'"></div>
    <div class="container">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <p>Your reviews</p>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <span class="no-data-available" ng-show="shownoData==false" >
                <h4>
                <p >
                        No  reviews  available. <br /><br />
                        Make a new booking <a href ="https://www.weeloy.com/search/singapore">here</a>.
                </p>
                </h4>
            </span>
               <div id='msg-alert' class="alert" style="display:none;">
                
               </div>
            <div class="review" ng-repeat="review in myReviews" ng-show="showreviewList==true">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 vignette_picture">
                    <a href="{{ review.internal_path }}"><img ng-src="{{ review.image }}"></a>
                   
       
                </div>
                <div class="col-lg-6 col-md-9 col-sm-9 col-xs-9 infos">
                  
                    <h4 ng-bind="review.restaurant_title"></h4>
                    <p ng-bind="review.timeStr"></p>
                    <div class="fb-jRate"></div>
       
                     <div title ="{{review.reviewgrade }}" class="reviewgrade" ><span class="reviews {{review.reviewgrade| get_review_class}} " style="line-height:10px;width:500px;padding-left:74px;">&nbsp</span>
                        <br /><span  ng-bind="review.review_desc" style="padding-top:0px;"></span></div>
                  
<!--                    <div class="form-group row">
                       
                        <label for="slider_food_1" class="col-sm-3" style="margin-bottom: 0px;">Food</label>
                        <div class="col-sm-9">
                            <div id="text_slider_food_1" name="text_slider_food_1" style="width:120px;"> <span class="reviews {{review.foodgrade| get_review_class}} " style="padding-left:74px;" >&nbsp</span></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="slider_ambiance_1" class="col-sm-3" style="margin-bottom: 0px;">Ambiance</label>
                        <div class="col-sm-9">
                            <div id="text_slider_ambiance_1" name="text_slider_ambiance_1"><span class="reviews {{review.ambiancegrade| get_review_class}} " style="padding-left:74px;" >&nbsp</span></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="slider_service_1" class="col-sm-3" style="margin-bottom: 0px;">Service</label>
                        <div class="col-sm-9">
                            <div id="text_slider_service_1" name="text_slider_service_1"><span class="reviews {{review.servicegrade| get_review_class}} " style="padding-left:74px;" >&nbsp</span></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="slider_price_1" class="col-sm-3" style="margin-bottom: 0px;">Price</label>
                        <div class="col-sm-9">
                            <div id="text_slider_price_1" name="text_slider_price_1"><span class="reviews {{review.pricegrade| get_review_class}} " style="padding-left:74px;" >&nbsp</span></div>
                        </div>
                    </div>-->
                    <div class="form-group row" style="margin-top: 15px;">
                        <label class="col-sm-3" for="review_comment">Comment</label>
                        <div class="col-sm-9">
                            <div readonly="" ng-bind="review.comment"></div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="pannel" ng-show="showreviewpostList" >
          
            <review-section  id="targetSectionRev" class="currentpanel" rdata-review="reviewList" ng-show="showreviewpostLists =true"></review-section>
<!--                 <div ng-include="'client/app/shared/partial/_my_review_page_reviewpost_section.html'"></div>-->
                
            </div>
        </div>
    </div>
</div>
