<div class="col-lg-1 col-md-3 col-sm-4 col-xs-12"></div> 
<div class="col-lg-6 col-md-6 col-sm-10 col-xs-12">
<form name="ChangePasswordForm" ng-submit="ChangePasswordForm.$valid && ChangePassword(old_password, new_password,new_password_confirmation)" novalidate>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon pwd-label"><i class="glyphicon glyphicon-user"></i></span>
            <input type="email" class="form-control simple-form-control" name="email" ng-model="UpdateUser.email" required>
        </div>
        <div class="error">
            <span ng-show="ChangePasswordForm.$submitted && ChangePasswordForm.email.$error.required">Please enter your email.</span>
            <span ng-show="ChangePasswordForm.$submitted && ChangePasswordForm.email.$error.type">Please enter a valid email.</span>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon pwd-label"><i class="glyphicon glyphicon-lock"></i></span>
            <input name="old_password" ng-model="old_password" type="password" class="form-control passtype simple-form-control" placeholder=" old password" required>
        </div>
        <div class="error">
            <span ng-show="ChangePasswordForm.$submitted && ChangePasswordForm.old_password.$error.required">Please enter your password.</span>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon pwd-label"><i class="glyphicon glyphicon-lock"></i></span>
            <input name="new_password" ng-model="new_password" type="password" class="form-control passtype simple-form-control" placeholder="new password" ng-minlength="8" ng-maxlength="12" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required>
        </div>
        <div class="error">
            <span ng-show="ChangePasswordForm.$submitted && ChangePasswordForm.new_password.$error.required">Please enter your new password.</span>
            <span ng-show="!ChangePasswordForm.new_password.$error.required && (ChangePasswordForm.new_password.$error.minlength || ChangePasswordForm.new_password.$error.maxlength) && ChangePasswordForm.new_password.$dirty">Passwords must be between 8 and 12 characters.</span>
            <span ng-show="!ChangePasswordForm.new_password.$error.required && !ChangePasswordForm.new_password.$error.minlength && !ChangePasswordForm.new_password.$error.maxlength && ChangePasswordForm.new_password.$error.pattern && ChangePasswordForm.new_password.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon pwd-label"><i class="glyphicon glyphicon-lock"></i></span>
            <input name="new_password_confirmation" ng-model="new_password_confirmation" type="password" class="form-control passtype simple-form-control" placeholder="retype password" required data-match="new_password_confirmation" ng-minlength="8" ng-maxlength="12" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/">
        </div>
        <div class="error">
            <span ng-show="ChangePasswordForm.$submitted && ChangePasswordForm.new_password_confirmation.$error.required">Please enter your new password confirmation.</span>
            <span ng-show="!ChangePasswordForm.new_password_confirmation.$error.required && (ChangePasswordForm.new_password_confirmation.$error.minlength || ChangePasswordForm.new_password_confirmation.$error.maxlength) && ChangePasswordForm.new_password_confirmation.$dirty">Passwords must be between 8 and 12 characters.</span>
            <span ng-show="!ChangePasswordForm.new_password_confirmation.$error.required && !ChangePasswordForm.new_password_confirmation.$error.minlength && !ChangePasswordForm.new_password_confirmation.$error.maxlength && ChangePasswordForm.new_password_confirmation.$error.pattern && ChangePasswordForm.new_password_confirmation.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
<!--            <span ng-show="ChangePasswordForm.$submitted && new_password_confirmation != '' && new_password != new_password_confirmation.$error.match">Please enter same password again.</span>-->
        </div>
    </div>
    <div class="form-group text-center">
       <a href="#" ng-show="showAccountForm == 'changePasswordForm'" ng-click="resetForm();" style="padding-right:10px;">Change Account Info</a>
        <input type="submit" class="book-button-sm btn-leftBottom-orange " value="Change Password" style="width:190px;">
    </div>

</form>
 </div>

