<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right" style='padding-top:15px;'>
        <li>
            <a analytics-on="click" analytics-event="c_header_menu_home" analytics-category="header_menu_home" href="/">Home</a>
        </li>
        <li>
            <a analytics-on="click" analytics-event="c_header_menu_search" analytics-category="header_menu_search" href="search/">Search</a>
        </li>
        <li>
            <a analytics-on="click" analytics-event="c_header_menu_how_it_works" analytics-category="header_menu_how_it_works" href="how-it-works/">How it works</a>
        </li>
         <li>
<!--            <a href="blog" title="food blog by weeloy" onclick="document.location.href = 'https://www.weeloy.com/blog';return false;" style="cursor: pointer" ng-bind="Str.template.FooterInformationBlog"></a>-->
            <a analytics-on="click" analytics-event="c_header_menu_blog" analytics-category="header_menu_blog" href="blog" onclick="document.location.href = 'https://www.weeloy.com/blog';return false;" ng-bind="Str.template.FooterInformationBlog"></a>
        </li>
        <li ng-show="loggedin === false">
            <a href="#" data-toggle="modal" data-target="#loginModal" ng-bind="Str.template.LoginBtnText" title="Login Weeloy restaurant reservation system"></a>
        </li>
        <li>
            <a analytics-on="click" analytics-event="c_header_menu_down_apple" analytics-category="header_menu_down_apple" href="https://itunes.apple.com/app/id973030193" target="_blank" rel="nofollow"><span class="download-apple" style="background: transparent url('client/assets/images/icons/mobile-icons.png') no-repeat scroll -1px 0;padding: 5px 10px"></span></a>
        </li>
        <li>
            <a analytics-on="click" analytics-event="c_header_menu_down_android" analytics-category="header_menu_down_android" href="https://play.google.com/store/apps/details?id=com.weeloy.client" target="_blank" rel="nofollow"><span class="download-android" style="background: transparent url('client/assets/images/icons/mobile-icons.png') no-repeat scroll -39px 0;padding: 5px 10px"></span></a>
        </li>
        <li ng-show="loggedin === true">
            <a class="account" id="user-profile-btn" ng-click="showLoggedin($event)" title="Your Weeloy account">
                <img width="36" height="36" class="icon-ico_user-36" src="https://static2.weeloy.com/images/sprites/transparent.png" alt="weeloy member section"></a>
        </li>
        <div class="nav navbar-nav navbar-right loggedin-menu submenu" ng-show="showLoggedinBox">
            <ul class="root">
                <li>
                    <a href="mybookings" ng-bind="Str.template.MenuBooking" title="Weeloy restaurant reservation - my bookings"></a>
                </li>
                <li>
                    <a href="myorders" ng-bind="Str.template.MenuMyOrder" title="Weeloy restaurant reservation - my  orders"></a>
                </li>
                <li>
                    <a href="myreviews" ng-bind="Str.template.MenuReview" title="Weeloy restaurant reservation - my reviews"></a>
                </li>
                <li>
                    <a href="myaccount" ng-bind="Str.template.MenuAccount" title="Weeloy restaurant reservation - my account"></a>
                </li>
                <li>
                    <a href="#" ng-click="logout()" ng-bind="Str.template.MenuLogout" title="Logout Weeloy restaurant reservation system"></a>
                </li>
            </ul>
        </div>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-show="cart | lengthMoreThan:0">
        <li>
            <a href="checkout/info"><span class="fa fa-shopping-cart"></span></a>
        </li>
    </ul>
</div>

<script>
    $('.nav a').on('click', function(){
        $('.btn-navbar').click(); //bootstrap 2.x
        $('.navbar-toggle').click() //bootstrap 3.x by Richard
    });
</script>