
<ul class="additional-info">
    <li ng-repeat="serviceCategory in RestaurantServices">
        <div class="head clearfix">
            <span class="ico category category_{{serviceCategory.category_css}}">
            <!--    <img ng-src="{{serviceCategory.category_icon}}" width="23" height="23" alt="">-->
            </span> 
            <span ng-bind="serviceCategory.category"></span>
        </div>
        <p class="service_payment">
            <span ng-repeat="service in serviceCategory.services">
                <span ng-if="serviceCategory.category_id != '3'">
                    <span ng-bind="service.name"></span><span ng-hide="$last">, </span>
                </span>
                <span ng-if="serviceCategory.category_id == '3'">
                    <span ng-if='service.service_icon_css' class="ico service service_{{service.service_icon_css}}"></span>
                    <span ng-if='service.name =="Cash/Nets"' ng-bind="service.name"></span>
                    <span ng-if='service.name' ng-hide="$last"> </span>
                    <!--<img ng-src="{{service.icon}}" style="cursor: pointer">-->
                </span>
            </span>
        </p>
    </li>
</ul>
<div class="style ">
    <h2> Share this restaurant with your friends</h2>
    <button class="btn btn-lg btn-social btn-facebook" ng-click="fbshare(restaurant)"><i class="fa fa-facebook"></i>Share On Facebook</button>
</div>
