<div class="img">
    <div class="img-zen">
        <a ng-href="{{event.internal_path}}">
            <img ng-src="client/assets/images/23x34.png" class="img-responsive img-transparent" style="background-image: url('client/assets/images/amazing/img1.jpg');">
        </a>
    </div>
    <div class="text">
        <div class="amazing-info">
            <h3 ng-bind="event.name"></h3>
            <p class="title" ng-bind="event.restaurant_name"></p>
            <p ng-bind="event.description"></p>
        </div>
        <div>
             <a ng-href="{{event.internal_path}}">
                <button id="btn_book" class="book-button-sm btn-leftBottom-orange">BOOK NOW</button>
             </a>
        </div>
    </div>
</div>
