  <div class="img" style='min-height:685px;' >
    <div class="img-zen">
        <a  ng-href="{{ mediaServer}}/upload/restaurant/{{event.restaurant}}/{{event.picture}}" class="fresco" title="{{event.title}} - reserve restaurant table now">
            <img ng-src="client/assets/images/23x34.png" class="img-responsive img-transparent" style="background-image: url({{mediaServer}}/upload/restaurant/{{event.restaurant}}/{{event.picture}});background-position:center;">
        </a>
    </div>
    <div class="text" >
        <div class="amazing-info" style='margin-top:5px;'>
            <h4 style='margin-bottom:0px;'><strong> {{event.name}}</strong></h4>
            <p style='color:black;margin-bottom:0px;'>{{event.end| date : format : shortDate}}</p>
            <p style='margin-top:0px;color:black'>{{event.title}}, {{event.area}}</p>
            <p id='evt-content' ng-maxlength="15" href ng-if="event.description !== ''" data-toggle="popover" data-placement="top" title="{{event.description}}" onmouseenter="$(this).popover('show')" onmouseleave="$(this).popover('hide')"  style='font-family: Roboto, Arial, Helvetica;font-size: 13px;'>{{event.description | limitTo:120}}... 
            </p>
            <a href="{{ mediaServer}}/upload/restaurant/{{event.restaurant}}/{{event.pdf_link}}" target="_blank" ng-if="event.pdf_link" title="{{event.title}}">Download menu</a>
             
<!--            <p ng-bind="event.description"></p>-->
        </div>
        <div class ='btn-cl'>
             <a target="_blank" ng-href="{{event.internal_path}}">
                <button ng-click="btnBookNowEvent_click(evt.restaurant)"  class="book-button-sm btn-leftBottom-blue">BOOK NOW</button>
             </a>
        </div>
    </div>
</div>