<form name="SignupForm" ng-submit="SignupForm.$valid && SignupUser.password == SignupUser.password_confirmation && Signup(SignupUser,mobile)" novalidate autocomplete="off">
    <div class="form-group">

            <input name="email" ng-model="SignupUser.email" type="text" class="form-control simple-form-control" value="" placeholder="{{Str.template.TextEmail}}" required>
        <div class="error">
            <span ng-show="SignupForm.$submitted && SignupForm.email.$error.required" ng-bind="Str.template.TextPleaseEnterYourEmail"></span>
            <span ng-show="SignupForm.$submitted && !SignupForm.email.$error.required && SignupForm.email.$error.email" ng-bind="Str.template.TextPleaseEnterAValidEmail"></span>
        </div>
    </div>
    <div class="form-group">
            <input name="first_name" type="text" class="form-control simple-form-control" ng-model="SignupUser.first_name" placeholder="{{Str.template.TextFirstName}}" required>
        <div class="error">
            <span ng-show="SignupForm.$submitted && SignupForm.first_name.$error.required" ng-bind="Str.template.TextPleaseEnterYourFirstname"></span>
        </div>
    </div>
    <div class="form-group">

        <input name="last_name" type="text" class="form-control simple-form-control" ng-model="SignupUser.last_name" placeholder="{{Str.template.TextLastName}}" required>

        <div class="error">
            <span ng-show="SignupForm.$submitted && SignupForm.last_name.$error.required" ng-bind="Str.template.TextPleaseEnteYourLastName"></span>
        </div>
    </div>
  
    <div class="form-group">
        <div class="input-group">
            <div class='input-group-btn '>
            <button type='button' id='itemdfcountry' style='height: 40px; border-radius: 2px;' class='btn btn-default dropdown-toggle' data-toggle='dropdown'>
                                               <i class="glyphicon glyphicon-earphone"></i><span class='caret'></span>
                                            </button>
            <ul class='dropdown-menu scrollable-menu' style='font-size:12px;height: auto;
    max-height: 250px;
    overflow-x: hidden;'>
             <li ng-repeat="s in countries"><a ng-if="s.b != '';" href="javascript:;" ng-click="listPhoneIndex(s.a);"  ><i class='famfamfam-flag-{{s.b}}'></i> {{s.a}}</a></li>
            </ul></div>
<!--            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>-->
            <input id="txt-mobile" name="mobile" type="text" class="form-control simple-form-control" ng-model="mobile" placeholder="{{Str.template.TextMobile}}"  ng-change='checkvalidtel();' ng-model-options="{updateOn: 'blur'}" required >
            
        </div>
        <div class="error">
            <span ng-show="SignupForm.$submitted && SignupForm.mobile.$error.required" ng-bind="Str.template.TextPleaseEnterYourPhoneNumber"></span>
        </div>
    </div>
    <div class="form-group">
            <input name="password" type="password" class="form-control simple-form-control passtype" ng-model="SignupUser.password" placeholder="{{Str.template.TextPassword}}" ng-minlength="8" ng-maxlength="12" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required>
        <div class="error">
            <span ng-show="SignupForm.$submitted && SignupForm.password.$error.required" ng-bind="Str.template.TextPleaseEnterYourPassword"></span>
            <span ng-show="!SignupForm.password.$error.required && (SignupForm.password.$error.minlength || SignupForm.password.$error.maxlength) && SignupForm.password.$dirty">Passwords must be between 8 and 12 characters.</span>
            <span ng-show="!SignupForm.password.$error.required && !SignupForm.password.$error.minlength && !SignupForm.password.$error.maxlength && SignupForm.password.$error.pattern && SignupForm.password.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
        </div>
    </div>
    <div class="form-group">
            <input name="password_confirmation" type="password" class="form-control simple-form-control passtype" ng-model="SignupUser.password_confirmation" placeholder="{{Str.template.TextRePassword}}" ng-minlength="8" ng-maxlength="12" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required>
        <div class="error">
            <span ng-show="SignupForm.$submitted && SignupForm.password_confirmation.$error.required" ng-bind="Str.template.TextPleaseEnterYourPasswordAgain"></span>
            <span ng-show="SignupForm.$submitted && !SignupForm.password_confirmation.$error.required && SignupUser.password != SignupUser.password_confirmation" ng-bind="Str.template.TextPleaseEnterYourPasswordAgain"></span>
            <span ng-show="!SignupForm.password_confirmation.$error.required && (SignupForm.password_confirmation.$error.minlength || SignupForm.password_confirmation.$error.maxlength) && SignupForm.password_confirmation.$dirty">Passwords must be between 8 and 12 characters.</span>
            <span ng-show="!SignupForm.password_confirmation.$error.required && !SignupForm.password_confirmation.$error.minlength && !SignupForm.password_confirmation.$error.maxlength && SignupForm.password_confirmation.$error.pattern && SignupForm.password_confirmation.$dirty">Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</span>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" class="book-button-sm btn-leftBottom-orange" value="{{Str.template.RegisterBtn}}">
    </div>
</form>
