<div class="vignette review_vignette review-container" id='vignette_review' style="display:none">
    <div class="col-md-3 vignette_picture">
        <a id="review_interPath" href=''>
            <img src='' />
        </a>
    </div>
    <div class="col-md-9 infos">
        <h4 id="res_title_review"></h4>
        <p id="bk-dt"></p>

        <div class="form-group row" style="margin-bottom: 15px;">
            <label for="slider_food" class="col-sm-3">Food</label>
            <div class="col-sm-6 food_grn">
                <div class="sliders noUi-target noUi-ltr noUi-horizontal noUi-background" id="slider_food">
                    <input type="hidden" value="0" class="form-control input-sm" id="text_slider_food" name="text_slider_food" placeholder="slider" readonly=""></div> 
            </div>
            <div id="test" class="col-sm-3">

            </div>
        </div>
        <div class="form-group row" style="margin-bottom: 15px;">
            <label for="slider_ambiance" class="col-sm-3">Ambiance</label>
            <div class="col-sm-6  ambiance_ylw">
                <div class="sliders noUi-target noUi-ltr noUi-horizontal noUi-background" id="slider_ambiance"> </div> 
            </div>
            <div class="col-sm-3">
                <input type="hidden" value="0" class="form-control input-sm" id="text_slider_ambiance" name="text_slider_ambiance" placeholder="slider" readonly="">
            </div>
        </div>
        <div class="form-group row" style="margin-bottom: 15px;">
            <label for="slider_service" class="col-sm-3">Service</label>
            <div class="col-sm-6 service_red">
                <div class="sliders noUi-target noUi-ltr noUi-horizontal noUi-background" id="slider_service"> </div> 
            </div>
            <div class="col-sm-3">
                <input type="hidden" value="0" class="form-control input-sm" id="text_slider_service" name="text_slider_service" placeholder="slider" readonly="">
            </div>
        </div>

        <div class="form-group row" style="margin-bottom: 15px;">
            <label for="slider_price" class="col-sm-3">Price</label>
            <div class="col-sm-6 price_grn">
                <div class="sliders noUi-target noUi-ltr noUi-horizontal noUi-background" id="slider_price"> </div> 
            </div>
            <div class="col-sm-3">
                <input type="hidden" value="0" class="form-control input-sm" id="text_slider_price" name="text_slider_price" placeholder="slider" readonly="">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3" for="review_comment">Comment</label>
            <div class="col-sm-9">
                <textarea rows="4" cols="50" style="width:100%; min-height:150px" name="review_comment" id="review_comment"></textarea>
            </div>
        </div>
        <div style="padding: 15px;text-align:center;" class="spin_wheel_info">
            <input type="button" id="" class="btn btn-info-grey btn_submit_review" value="Review now">
        </div>  
    </div>
</div>