{% include 'member/menu.html.twig' %}

{%if data.member is defined%}

    <form id="form_member_info" action="" method="POST"  enctype="multipart/form-data">

        <div class="container">
            <div class="row">
               
        
            </div>
            <div class="row">

                <div id="login-overlay" class="modal-dialog" >
                    <div class="modal-content">
        {% if data.info_message is defined %}
            <div class="alert alert-{[{data.info_message.type}]}"><a href="#" class="close" data-dismiss="alert">&times;</a><strong></strong> {[{data.info_message.message}]}</div>
        {% endif %} 
                        <div class="modal-body">
                            <fieldset>
                                <div class="col-md-2"></div>
                                <div class="col-md-8">

                                    <div class='row' style='margin-bottom:15px;'>
                                        <div class="input-group" id="div-email">
                                            <span class="input-group-addon input-group-addon75"><label for="email">e-mail</label></span>
                                            <input readonly id="email" name="email" type="text" class="form-control" value="{%if data.member.email is defined%}{[{data.member.email}]}{%endif%}">
                                        </div>
                                    </div>
                                    <div class='row' style='margin-bottom:15px;'>
                                        <div class="input-group" id="div-gender">
                                            <span class="input-group-addon input-group-addon75"><label for="gender">gender</label></span>
                                            <select id="gender" class="form-control" name="gender"  >
                                                <option id="empty"></option>
                                                <option value="m" {%if data.member.gender is defined and data.member.gender == 'm'%}selected{%endif%}>Male</option>
                                                <option value="f" {%if data.member.gender is defined and data.member.gender == 'f'%}selected{%endif%}>Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class='row' style='margin-bottom:15px;'>
                                        <div class="input-group" id="div-fname">
                                            <span class="input-group-addon input-group-addon75"><label for="firstname">firstname</label></span>
                                            <input id="fname" name="fname" type="text" class="form-control" value="{%if data.member.firstname is defined%}{[{data.member.firstname}]}{%endif%}">
                                        </div>
                                    </div>

                                    <div class='row' style='margin-bottom:15px;'>
                                        <div class="input-group" id="div-lname">
                                            <span class="input-group-addon input-group-addon75"><label for="name">name</label></span>
                                            <input id="lname" name="lname" type="text" class="form-control" value="{%if data.member.name is defined%}{[{data.member.name}]}{%endif%}">
                                        </div>
                                    </div>
                                    <div class='row' style='margin-bottom:15px;'>
                                        <div class="input-group" id="div-mobile">
                                            <span class="input-group-addon input-group-addon75"><label for="mobile">mobile</label></span>
                                            <input id="mobile" name="mobile" type="text" class="form-control" value="{%if data.member.mobile is defined%}{[{data.member.mobile}]}{%endif%}">
                                        </div>
                                    </div>
                                    <div class='row' style='margin-bottom:15px;'>
                                       <!-- <div class="input-group" id="div-picture">
                                            <span class="input-group-addon input-group-addon75"><label for="picture">Profile picture</label></span>
                                            <input id="picture" name="picture" type="file" class="form-control" >
                                        </div>-->
                                        {%if data.member.profile_picture is defined%}
                                            <img src="{[{data.member.profile_picture}]}" width="100" />
                                        {%endif%}
                                    </div>
                                    <div class="form-group required">
                                        <div class="col-md-12 text-center">
                                            <button type="button" onclick="verifForm(form_member_info);" class="btn btn-primary btn-lg">Update</button>
                                        </div>
                                    </div>
                            </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endif %}

<script type="text/javascript">
    function verifForm(formulaire)
    {
        var res = true;
        $("#div-lname").attr("class", "input-group");
        $("#div-fname").attr("class", "input-group");
        $("#div-email").attr("class", "input-group");
        $("#div-message").attr("class", "input-group");


        if ($("#fname").val().length < 3)
        {
            $("#div-fname").attr("class", "input-group has-error");
            res = false;
        }
        else jQuery("#div-fname").removeClass("has-error");

        if ($('#lname').val().length < 3)
        {
            $('#div-lname').attr("class", "input-group has-error");
            res = false;
        }
        else $('#div-lname').removeClass("has-error");

        if ($('#mobile').val().length < 5)
        {
            $('#mobile').attr("class", "input-group has-error");
            res = false;
        }
        else $('#div-phone').removeClass("has-error");

        if (!validateEmail($('#email').val()))
        {
             $('#div-email').attr("class", "input-group has-error");
             res = false;
        }
        else $('#div-email').removeClass("has-error");

        
        if(res === false){
            $("html, body").animate({scrollTop: "0px"});
            return false;
        }
        
        formulaire.submit();
        return true;
    }

    function validateEmail(email) {
        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }
</script>  