<section class="header-container">
    <video ng-if="screenWidth > 550" loop="loop" preload="none" muted="muted" id="pretzel-video" poster="https://static2.weeloy.com/videos/banner/pluck/high/pluck.jpg" class="video-playing">
<!--<video  loop="loop" preload="none" muted="muted" id="pretzel-video"  class="video-playing">-->
<!--        <source src="https://static2.weeloy.com/videos/banner/pluck/high/pluck.m4v" type="video/mp4">-->
<!--         <source src="https://static2.weeloy.com/videos/banner/pluck/high/pluck.m4v" type="video/mp4">-->
 
                <source home-page-video id='videoplayer' src="images/Sticky_pudding.mp4" type="video/mp4">

<!--        <source src="https://static2.weeloy.com/videos/banner/pluck/high/pluck.webm" type="video/webm" />
        <source src="https://static2.weeloy.com/videos/banner/pluck/high/pluck.ogv" type="video/ogg" />-->
    </video>
    <!-- search -->
    <div class="custom-form-search-bar container">
        <nf-search class="col-lg-12 col-md-12 col-sm-12 col-xs-12" hide-input-on-mobile="true" placeholder="Str.template.SearchInputPlaceHolder" button-text="Str.template.SearchBtnText" cities="cities"></nf-search>
    </div>
    <div class="view-all-restaurant text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div id='div_view_all_resto'>
            <a analytics-on="click" analytics-event="c_home_view_all1" analytics-category="home_view_all1" href="search/singapore" ng-bind="Str.homepage.ViewAllRestaurant" class="ng-binding">View all restaurants in Singapore</a>
        </div>
    </div>
</section>

<section id="blog" ng-if='isShowTag'>
    <div class="container">
        <h2 class="text-center" style="margin-bottom: 48px;">Daily Special Board</h2>
        
        <center>
            <div class="col-md-10 col-md-push-1 col-sm-10 col-sm-push-1 col-xs-12" >
                <a href="dailyspecials" style="background: 0 0;font-size: 14px;padding: 7px 20px;border-radius: 32px;border: 1px solid #fff;color: #fff;font-family: proximanova;cursor: pointer;text-decoration: none;">
                    + <span>more daily specials</span>
                </a>
            </div>
        </center>


    </div>
</section>
<section class="early_book_restaurant">
    <div class="ctn">
        <div id="best-restaurant" class="container">
            <h1 class="title_home_page text-center ng-binding">Book a table and win instant offers</h1>
            <h2 class="sub_title_home_page text-center ng-binding">Free Restaurants Booking & Reservation - Instant confirmation</h2>
            <div class="col-xs-12 col-sm-4" ng-repeat="category in Categories">
                <restaurant-category-item open-in-new-tab="true" media-server="mediaServer" category="category"></restaurant-category-item>
            </div>
            <div class="more-restaurant col-md-10 col-md-push-1 col-sm-10 col-sm-push-1 col-xs-12"><a ng-href="search/singapore" id="more-restau">+ <span ng-bind="Str.homepage.MoreRestaurant">more restaurants</span></a></div>
        </div>
    </div>
</section>
<section id="popular">
    <div class="container">
        <div class="header">
            <h2 class="text-center">Popular Cuisines</h2>
            <p class="text-center">Flavours from around the world</p>
        </div>
        <div class="col-xs-12">
            <ul>
                <li class="col-md-3 col-sm-3">
                    <a ng-href="/search/singapore/cuisine/buffet"><img width="279" height="177" src="client/assets/images/popular/image.png" class="img-responsive" style="background-image: url('client/assets/images/popular/img1.jpg'); background-position: center;background-size:cover;">
                        <p class="hover text-center">BUFFET</p></a>
                </li>
                <li class="col-md-3 col-sm-3">
                    <a ng-href="/search/singapore/cuisine/brunch"><img width="279" height="177" src="client/assets/images/popular/image.png" class="img-responsive" style="background-image: url('client/assets/images/popular/img2.jpg'); background-position: center;background-size:cover;">
                    <p class="hover text-center">BRUNCH</p></a>
                </li>
                <li class="col-md-3 col-sm-3">
                    <a ng-href="/search/singapore/cuisine/chinese"><img width="279" height="177" src="client/assets/images/popular/image.png" class="img-responsive" style="background-image: url('client/assets/images/popular/img3.jpg'); background-position: center;background-size:cover;">
                    <p class="hover text-center">CHINESE CUISINE</p></a>
                </li>
                <li class="col-md-3 col-sm-3">
                    <a ng-href="/search/singapore/cuisine/japanese"><img width="279" height="177" src="client/assets/images/popular/image.png" class="img-responsive" style="background-image: url('client/assets/images/popular/img4.jpg'); background-position: center;background-size:cover;">
                    <p class="hover text-center">JAPANESE CUISINE</p></a>
                </li>
                <li class="col-md-3 col-sm-3">
                    <a ng-href="/search/singapore/cuisine/italian"><img width="279" height="177" src="client/assets/images/popular/image.png" class="img-responsive" style="background-image: url('client/assets/images/popular/img5.jpg'); background-position: center;background-size:cover;">
                    <p class="hover text-center">ITALIAN CUISINE</p></a>
                </li>
                <li class="col-md-3 col-sm-3">
                    <a ng-href="/search/singapore/cuisine/french"><img width="279" height="177" src="client/assets/images/popular/image.png" class="img-responsive" style="background-image: url('client/assets/images/popular/img6.jpg'); background-position: center;background-size:cover;">
                    <p class="hover text-center">FRENCH CUISINE</p></a>
                </li>
                <li class="col-md-3 col-sm-3">
                    <a ng-href="/search/singapore/cuisine/western"><img width="279" height="177" src="client/assets/images/popular/image.png" class="img-responsive" style="background-image: url('client/assets/images/popular/img7.jpg'); background-position: center;background-size:cover;">
                    <p class="hover text-center">WESTERN CUISINE</p></a>
                </li>
                <li class="col-md-3 col-sm-3">
                    <a ng-href="/search/singapore/cuisine/bar"><img width="279" height="177" src="client/assets/images/popular/image.png" class="img-responsive" style="background-image: url('client/assets/images/popular/img8.jpg'); background-position: center;background-size:cover;">
                    <p class="hover text-center">BARS & LOUNGES</p></a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section id="amazing">
    <div class="container">
        <h2 class="text-center">Amazing deals to share</h2>
        <div>
            <div class="zen-amazing">
                <div class="col-xs-12 col-sm-3" ng-repeat="event in events">
                    <restaurant-event-item open-in-new-tab="true" media-server="mediaServer" event="event"></restaurant-event-item>
                </div>
            </div>
        </div>
        <div class="more-restaurant text-center col-md-12">
            <a ng-href="allevents" id="more-restau">+ <span>see more deals</span></a>
        </div>
    </div>
</section>
<section class="zen-month">
    <div class="container">
        <h2 class="text-center">Featured restaurants</h2>
        <p class="text-center zen-text">Selection of the month</p>
        <div class="css-creen">
            <div class="col-md-4 col-sm-4 col-xs-12 zen-column" ng-repeat="restaurant in TopRestaurants track by $index">
                <restaurant-item open-in-new-tab="true" media-server="mediaServer" restaurant="restaurant" indexcount="$index"></restaurant-item>
            </div>
        </div>
    </div>
</section>
<section id="blog">
    <div class="container">
        <h2 class="text-center">What's hot on the blog</h2>
        <p class="blog-text text-center">Read & Book</p>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-12 blog-col" ng-repeat="article in blogarticles">
                <restaurant-article-item open-in-new-tab="true" media-server="mediaServer" article="article"></restaurant-article-item>
            </div>
        </div>
    </div>
</section>
<section id="zen-location" class="row container">
    <div class="col-md-12 col-sm-12 col-xs-12 ">
        <ul>
            <li class="col-md-4 col-sm-4 col-xs-12">
                <a ng-href="/search/singapore"><img width="37" height="21" class="img-responsive" src="client/assets/images/37x21.png" style="background-image: url('client/assets/images/location/img1.jpg'); background-position: center;background-size: cover;">
                    <p class="hover">SINGAPORE</p>
                </a>
            </li>
            <li class="col-md-4 col-sm-4 col-xs-12">
                <a ng-href="/search/bangkok"><img width="37" height="21" class="img-responsive" src="client/assets/images/37x21.png" style="background-image: url('client/assets/images/location/img2.jpg'); background-position: center;background-size: cover;">
                    <p class="hover">BANGKOK</p>
                </a>
            </li>
            <li class="col-md-4 col-sm-4 col-xs-12">
                <a ng-href="/search/phuket"><img width="37" height="21" class="img-responsive" src="client/assets/images/37x21.png" style="background-image: url('client/assets/images/location/img3.jpg'); background-position: center;background-size: cover;">
                    <p class="hover">PHUKET</p>
                </a>
            </li>
        </ul>
    </div>
</section>
<script>
(function() {

    function init() {
        var speed = 250,
            easing = mina.easeinout;

        [].slice.call(document.querySelectorAll('#grid > a')).forEach(function(el) {
            var s = Snap(el.querySelector('svg')),
                path = s.select('path'),
                pathConfig = {
                    from: path.attr('d'),
                    to: el.getAttribute('data-path-hover')
                };

            el.addEventListener('mouseenter', function() {
                path.animate({
                    'path': pathConfig.to
                }, speed, easing);
            });

            el.addEventListener('mouseleave', function() {
                path.animate({
                    'path': pathConfig.from
                }, speed, easing);
            });
        });

        setTimeout(lanchVideo, 2000);

    }

    function lanchVideo() {
        var v = document.getElementsByTagName("video")[0];
        v.play();
    }
    init();

})();
</script>
