<section class="header-container" style="background-image: url('images/banner_1728x450.jpg'); background-position: center;background-size:cover;">
    <div class="custom-new-search-bar container">
        <nf-search class="col-lg-12 col-md-12 col-sm-12 col-xs-12" hide-input-on-mobile="true" placeholder="Str.template.SearchInputPlaceHolder" button-text="Str.template.SearchBtnText" cities="cities"></nf-search>
    </div>
        
      
<!--    <div class="view-all-restaurant text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div id='div_view_all_resto'>
            <a analytics-on="click" analytics-event="c_home_view_all1" analytics-category="home_view_all1" href="search/singapore"  class="ng-binding">View all restaurants in Singapore ads  {{UserSession.search_city}}</a>
        </div>
    </div>-->

        <div class="header-text text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h5 >{{headertitle}}</h5>
            <span  >{{UserSession.search_city}}</span>
        </div>
 
</section>
    <section class ='early_book_section'>
<!--    <div class="ctn">-->
        <div id="section_first" class="container" >
            <div class="header">
            <h3 class="text-center">Book a table and win instant offers</h3>
        </div>

        <div class="col-xs-12">
            <div  ng-repeat="category in Categories" style=' padding:0px;'>
                <restaurant-category-itemnew open-in-new-tab="true" media-server="mediaServer" category="category"></restaurant-category-itemnew>
            </div>
        </div>
        </div>
    </section>
<section id="popular-section">
    <div class="container">
        <div class="header">
            <h3 class="text-center">Popular Cuisines - Flavours from around the world</h3>
        </div>
        <div class="col-xs-12">
            <div class="col-md-3 col-sm-3">
               <a ng-href="/search/singapore/cuisine/buffet"><img  src="client/assets/images/popular/image.png" class="img-responsive" style="background-image: url('client/assets/images/popular/img1.jpg'); background-position: center;background-size:cover;">
                   <p class="hover text-center">BUFFET</p></a>
           </div>
           <div class="col-md-3 col-sm-3">
               <a ng-href="/search/singapore/cuisine/brunch"><img  src="client/assets/images/popular/image.png" class="img-responsive" style="background-image: url('client/assets/images/popular/img2.jpg'); background-position: center;background-size:cover;">
               <p class="hover text-center">BRUNCH</p></a>
           </div>
           <div class="col-md-3 col-sm-3">
               <a ng-href="/search/singapore/cuisine/chinese"><img  src="client/assets/images/popular/image.png" class="img-responsive" style="background-image: url('client/assets/images/popular/img3.jpg'); background-position: center;background-size:cover;">
               <p class="hover text-center">CHINESE CUISINE</p></a>
           </div>
           <div class="col-md-3 col-sm-3">
               <a ng-href="/search/singapore/cuisine/japanese"><img src="client/assets/images/popular/image.png" class="img-responsive" style="background-image: url('client/assets/images/popular/img4.jpg'); background-position: center;background-size:cover;">
               <p class="hover text-center">JAPANESE CUISINE</p></a>
           </div>
           <div class="col-md-3 col-sm-3">
               <a ng-href="/search/singapore/cuisine/italian"><img  src="client/assets/images/popular/image.png" class="img-responsive" style="background-image: url('client/assets/images/popular/img5.jpg'); background-position: center;background-size:cover;">
               <p class="hover text-center">ITALIAN CUISINE</p></a>
           </div>
           <div class="col-md-3 col-sm-3">
               <a ng-href="/search/singapore/cuisine/french"><img  src="client/assets/images/popular/image.png" class="img-responsive" style="background-image: url('client/assets/images/popular/img6.jpg'); background-position: center;background-size:cover;">
               <p class="hover text-center">FRENCH CUISINE</p></a>
           </div>
           <div class="col-md-3 col-sm-3">
               <a ng-href="/search/singapore/cuisine/western"><img  src="client/assets/images/popular/image.png" class="img-responsive" style="background-image: url('client/assets/images/popular/img7.jpg'); background-position: center;background-size:cover;">
               <p class="hover text-center">WESTERN CUISINE</p></a>
           </div>
           <div class="col-md-3 col-sm-3">
               <a ng-href="/search/singapore/cuisine/bar"><img  src="client/assets/images/popular/image.png" class="img-responsive" style="background-image: url('client/assets/images/popular/img8.jpg'); background-position: center;background-size:cover;">
               <p class="hover text-center">BARS & LOUNGES</p></a>
                </li>
            </ul>
           </div>
        </div>
    </div>
</section>
<!--<section id="amazing-section">
    <div class="container">
        <div class="header">
            <h3 class="text-center">Amazing deals to share</h3>
        </div>
        <div>
            <div class="event-amazing">
                <div class="col-xs-12 col-md-12">
                    <div ng-repeat="event in events">
                    <restaurant-event-itemnew open-in-new-tab="true" media-server="mediaServer" event="event"></restaurant-event-itemnew>
                    </div>
                </div>
            </div>
        </div>
        <div class="more-restaurant text-center col-md-12">
            <a ng-href="allevents" id="more-restau">+ <span>see more deals</span></a>
        </div>
    </div>
</section>-->



