<div class="modal-header-dsb">
  <h1 class="modal-title">Daily Special Board Registration</h1>
</div>
<div class="modal-body">
    <div class="container-fluid">
      <form id="form-border" name="RegistrationForm" ng-submit="saveitem(RegistrationForm)" novalidate style="padding:5px;">
          <div class="col-md-12 col-xl-12">
             <div class="row" ng-repeat="y in tabletitleContent | filter: {t: '!dontshow' }"  style="font-size:12px;font-familly:Roboto">
                       <div class="input-group" ng-if="y.t === 'input'">
                          <span class="input-group-addon input11"><i class="glyphicon glyphicon-{{y.d}} input14"></i>&nbsp;{{y.b}}</span>
                          <input type="{{y.type}}" class="form-control input-sm" ng-model="restaurant[y.a]" ng-change="cleaninput(y.a)" name={{y.a}} ng-required="{{y.r}}"/>
                      </div>
                      <div class="error error-msg" style='color:red;'>
                          <span ng-show="RegistrationForm.$submitted && RegistrationForm.{{y.a}}.$error.required">Please enter '{{y.b}}'</span>
                          <span ng-show="RegistrationForm.$submitted && RegistrationForm.{{y.a}}.$error.url">Invalid URL!</span>
                          <span ng-show="RegistrationForm.$submitted && RegistrationForm.{{y.a}}.$error.email">Invalid Email!</span>
                      </div>
                      <div class="input-group" ng-if="y.t === 'dropdown'">
                          <div class='input-group-btn' dropdown >
                              <button type='button' class='btn btn-default dropdown-toggle btn-sm input11' data-toggle='dropdown'>
                                  <i class="glyphicon glyphicon-{{y.d}} input13"></i>&nbsp; {{y.b}}<span class='caret'></span>
                              </button>
                              <ul class='dropdown-menu scrollable-menu'style='height: auto;max-height:120px; overflow-x: hidden;' >
                                  <li ng-repeat="p in y.val"><a href ng-click="restaurant[y.a]=p;y.func()">{{ p }}</a></li>
                              </ul>
                          </div>
                          <input type='text' ng-model='restaurant[y.a]' class='form-control input-sm' readonly >
                      </div>
                      <div class="input-group" ng-if="y.t === 'array'">
                          <div class='input-group-btn' dropdown >
                              <button type='button' class='btn btn-default dropdown-toggle btn-sm input11' data-toggle='dropdown'>
                                  <i class="glyphicon glyphicon-{{y.d}} input13"></i>&nbsp; {{y.b}}<span class='caret'></span>
                              </button>
                              <ul class='dropdown-menu scrollable-menu'style='height: auto;max-height:120px; overflow-x: hidden;' >
                                  <li ng-repeat="p in y.val"><a href ng-click="restaurant[y.a]=p;y.func()">{{ p }}</a></li>
                              </ul>
                          </div>
                          <input type='text' ng-model='restaurant[y.a]' class='form-control input-sm' readonly >
                      </div>
                      <div class="input-group"  ng-if="y.t==='checkbox'">
                          <input type="checkbox" ng-model="restaurant[y.a]" ng-checked ="{{restaurant[y.a]}}"> &nbsp; {{y.b}}
                      </div>
                      <div class="input-group"  ng-if="y.t==='textarea'">
                       <span class="input-group-addon input11"><i class="glyphicon glyphicon-{{y.d}} input14"></i>&nbsp;{{y.b}}</span>
                          <textarea class="form-control input-sm" ng-model="restaurant[y.a]" ng-change="cleaninput(y.a)"></textarea>
                      </div> 
                      <div class="input-group" ng-if="y.t === 'imagebutton'">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-file"></i> &nbsp; {{y.b}}</span>
                  <input type="file" name="{{y.a}}" id="{{y.a}}" class="form-control input-sm" onchange="angular.element(this).scope().uploadImage(this)" ng-model="file" placeholder="Upload Files" accept="image/*">  
                      </div>
             </div>
                  <div class="g-recaptcha col-md-6" data-sitekey="6LdmpA4UAAAAAETsRaMqz8cjrUoyFCNwuuvJk5DS" data-callback="correctCaptcha" style='margin-left:0px;padding-left:0px;' ng-show="showCaptcha"></div>
                  <input type="text" style="position: absolute !important; left: -4000px !important; top: -4000px !important; display: none !important" value="" name="User"/>
                  <div class="title col-md-4" style='padding-top:48px; float:right;'>
                      <button type="submit" class="book-button-lg btn-leftBottom-green pull-right" >Add Your Listing Now</button>
                  </div>
          
              </div>
              </form>
            </div>

        </div>

