<header>
<!--Navigation & Intro-->
<div ng-include="'partials/navbar.htm'"></div>
<!--/Navigation & Intro-->

<!--Mask-->
<div class="nview "> </div>
<!--/.Mask-->

</header>
<!--/Navigation & Intro-->

<!--Main layout-->
<main>
<div class="container">


	<!--Section: Contact v.1-->
	<section class="section mb-1" id="contact">

		<!--Section heading-->
		<h1 class="section-heading wow fadeIn" data-wow-delay="0.2s"></h1>
		<!--Section description-->
		<p class="section-description m-b-5 wow fadeIn" data-wow-delay="0.2s"></p>
	
	<div class="row">

			<!--First column-->
			<div class="col-md-12 wow fadeIn" data-wow-delay="0.2s">

				<!--Form with header-->
				

					<div class="card-block">
						<!--Header-->
						<section class="text-xs-center">
							 <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn; margin-top:0px;">About Us</h1>
						</section>
						<p class="m-b-5 wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn; text-align: center; color: #757575;">We love building great tools for business.</p>

		<p>
		<br>	
		Soraya & Richard Kefs have an extensive experience in distribution, ecommerce and travel, and for 15 years have provided the hospitality industry with innovative SaaS B2B systems distributed across Asia and Europe.
		<br><br>
		With Weeloy, they have developed an innovative and powerful suite of technology and marketing solutions, including reservation and table management systems, CRM and payment systems, designed specifically for the restaurant business. 
		<br><br>
		These solutions are provided to the F&B market with a unique approach of brand respect while working with restaurants on a consultative way to help them collect, analyze and leverage their data to acquire new customers, increase new and repeat visits and optimize their operations and revenue.</p>

					</div>

				
				<!--/Form with header-->

			</div>
			<!--/First column-->

		</div>

	</section>
	<!--/Section: Contact v.1-->

</div>
</main>
<!--/Main layout-->
