<header>
<!--Navigation & Intro-->
<div ng-include="'partials/navbar.htm'"></div>
<!--/Navigation & Intro-->

<!--Mask-->
<div class="nview "> </div>
<!--/.Mask-->

</header>
<!--/Navigation & Intro-->

<!--Main layout-->
<main>

	<div class="container">

		<!--Section: Contact v.1-->
		<section class="section mb-1" id="contact">

			<!--Section heading-->
			<h1 class="section-heading wow fadeIn" data-wow-delay="0.2s">Contact Us</h1>
			<!--Section description-->
			<p class="section-description m-b-5 wow fadeIn" data-wow-delay="0.2s">Let's talk about how our solutions can help you improve your business.</p>

			<div class="row">

				<!--First column-->
				<div class="col-md-5 wow fadeIn customcenter" data-wow-delay="0.2s">

					<!--Form with header-->
					

						<div class="card-block">
							<!--Header-->
							
							

							<!--Body-->
							<form  ng-submit="onsubmit('c');" autocomplete="off">
								<div class="md-form">
									
									<input type="text" id="name" ng-model="user.name" class="form-control" placeholder="Your name"  autocomplete="off">
									<label for="form3"></label>
								</div>

								<div class="md-form">
									
									<input type="text" id="email" ng-model="user.email" class="form-control" placeholder="Your email"  autocomplete="off">
									<label for="form2"></label>
								</div>

								<div class="md-form">
									
									<input type="text" id="object" ng-model="user.subject" class="form-control" placeholder="Subject"  autocomplete="off">
									<label for="form32"></label>
								</div>

								<div class="md-form customchk">
									
									<textarea type="text" id="comment" ng-model="user.comment" class="md-textarea"  placeholder="Comment" autocomplete="off">
									</textarea>
									<label for="form8"></label>
								</div>
								<div class="md-form">
									<input type="checkbox" id="checkbox1" ng-model="user.newsletter">
                					<label for="checkbox1">Subscribe me to the newsletter</label>
								</div>

								<p>
									<div class="g-recaptcha" data-sitekey="6LdmpA4UAAAAAETsRaMqz8cjrUoyFCNwuuvJk5DS" data-callback="correctCaptcha"></div>
									<input style="position: absolute !important; left: -4000px !important; top: -4000px !important; display: none !important" value="" name="User" type="text" />
								</p>
							
								<div class="text-xs-center">
									<button class="btn btn-mdb">Submit</button>
								</div>
							</form>	
						</div>

					
						<!--/Form with header-->

				</div>
				<!--/First column-->

				<!--Second column-->
				<div class="col-md-7 wow fadeIn" data-wow-delay="0.4s">

					<!--Google map-->
					<!--
					<div id="map-container" class="z-depth-1-half map-container" style="height: 609px"></div>

					<br>
					-->
					<!--
					<div class="row text-xs-center">
						<div class="col-md-4">
							<a class="btn-floating btn-small mdb-color"><i class="fa fa-map-marker"></i></a>
							<p>Singapore</p>
							<br>
							<p>Hongkong</p>
							<p>Bangkok</p>
							<p>Phuket</p>
						</div>

						<div class="col-md-4">
							<a class="btn-floating btn-small mdb-color"><i class="fa fa-phone"></i></a>
							<p>+65 8591 3218 </p>
							<p>+65 9181 5377 </p>
							
							<p>+852 9453 3204</p>
							<p>+66 8 1826 2109</p>
							<p>+66 8 1894 3467</p>

						</div>

						<div class="col-md-4">
							<a class="btn-floating btn-small mdb-color"><i class="fa fa-envelope"></i></a>
							<p>info@weeloy.com</p>
							
						</div>
					</div>
					-->

				</div>
				<!--/Second column-->
			</div>

		</section>
		<!--/Section: Contact v.1-->

	</div>

</main>
<!--/Main layout-->