<!--<footer style='border-left:solid black 18px;border-right:solid black 20px;border-bottom:solid black 10px;'> -->
<footer>
    <div class="top-section">

        <div class="border-shadow">
        	<div class="iconfooter"><img src="img/icon.png"></div>
        </div>
        

    
    </div>
    <footer id="zen-footer">
    		
    		<div class="col-md-12 col-sm-12 col-xs-12 ">
    			<div class="col-md-1 col-sm-1">
                       
                </div>
            	<div class="col-md-4 col-sm-2">
                    <h2>Weeloy Locations</h2>
               	</div>
    		</div>
            <div class="col-md-12 col-sm-12 col-xs-12 ">
                    <div class="col-md-1 col-sm-1">
                       
                   </div>
                     <div class="col-md-2 col-sm-2 ">
                       <img  class="img-responsive " src="img/footer/contact-sg.jpg" style="background-image: url('img/footer/contact-sg.jpg'); background-position: center;background-size: cover;width: 100%;" >
                       
                      <p class="hover">Singapore</p>
                      <p>
                         83 Amoy Street, Singapore 069902 <br/>
                         +65 9181 5377 <br />
                         partner@weeloy.com
                      </p>
                      <br />
		              <br />
                       
                   </div>
                    <div class="col-md-2 col-sm-2">
                        <img class="img-responsive" src="img/footer/contact-bk.jpg" style="background-image: url('img/footer/contact-bk.jpg'); background-position: center;background-size: cover;width: 100%;">
                        		
                            <p class="hover">Bangkok</p>
                            <p>
		                    	+66 8 1826 2109 <br />
		                    </p>
		                    <br />
		                    <br />
                    
                   </div>
                    
                    <div class="col-md-2 col-sm-2">
                       <img  class="img-responsive" src="img/footer/contact-hk.jpg" style="background-image: url('img/footer/contact-hk.jpg'); background-position: center;background-size: cover;width: 100%;">
                       			
                            <p class="hover">Hong Kong</p>
                            <p>
		                    	+852 9453 3204<br />
		                    </p>
		                    <br />
		                    <br />
                     </div>
                    <div class="col-md-2 col-sm-2">
                       <img  class="img-responsive" src="img/footer/contact-kl.jpg" style="background-image: url('img/footer/contact-kl.jpg'); background-position: center;background-size: cover;width: 100%;">
                       			
                            <p class="hover">Kuala Lumpur</p>
                            <p>
		                    	+65 9181 5377 <br />
		                    </p>
		                    <br />
		                    <br />

                     </div>
                     <div class="col-md-2 col-sm-2">
                        <img  class="img-responsive" src="img/footer/contact-pk.jpg" style="background-image: url('img/footer/contact-pk.jpg'); background-position: center;background-size: cover;width: 100%;">
							
                            <p class="hover">Phuket</p>
                            <p>
		                    	+66 8 1894 3467<br />
		                    </p>
		                    <br />
		                    <br />
                       
                   </div>
                    <div class="col-md-1 col-sm-1">
                       
                   </div>
                    
            </div>
            <br>
            <br>
        <div class="col-md-12 col-sm-12 col-xs-12 customgrey">
            <div  class="col-md-12  col-sm-12  col-xs-12" style='margin-top: 15px; text-align: center;'>
                
                <a target="_blank" href="https://www.weeloy.com"  title="weeloy.com" >Weeloy.com</a> |

                <a target="_blank" href="https://www.weeloy.com/blog" title="food blog by weeloy" style="cursor: pointer" >Weeloy Magazine</a> |
                
                <a href="#contact" title="weeloy contact page" >Contact Us</a> |

                <a href="#aboutus" title="weeloy about page">About Us</a> |

                <a href="#termsandcond">Terms & Condition</a> |

                <a href="#policy">Privacy Policy</a>
              
            </div>
            <br>
            <br>
            <div class="section-mobileapp" style="margin-top:20px;">
                <div class="row" >
                	<center>
                		<div class="col-md-12 col-sm-12" >
	                        <a class="mobile-picture-div" rel="nofollow" target="_blank" href="http://itunes.apple.com/app/id973030193" title="Download Weeloy iOS app">
	                           <img width="160" height="49" src="img/footer/apple.png">
	                        </a>

	                        <a class="mobile-picture-div" rel="nofollow" target="_blank" href="https://play.google.com/store/apps/details?id=com.weeloy.client" title="Download Weeloy Android app">
	                           <img width="160" height="49" src="img/footer/android.png">
	                       </a>

	                    </div>
                	</center>
                	<br>
                    

                   

                </div>

            </div>
            
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="col-md-12 col-sm-12 col-xs-12 ">
			<div class="col-md-1 col-sm-1">
                   
            </div>
        	<div class="col-md-10 col-sm-2">
        		<center>
                	<div class="footer-copyright">
                		Copyright © 2017 <a href="http://www.weeloy.com"> Weeloy Pte Ltd </a>
                	</div>
                </center>
           	</div>
		</div>
    </footer>

</footer>


<!--
<footer class="page-footer ">

<div class="container-fluid">
	<div class="row">

		<div class="col-md-2 offset-md-1">
			<h6 class="title">Weeloy Pte Ltd</h6>
			<ul>
			<li>Address: 83 Amoy Street</li>
			<li>Singapore 069902</li>
			<li></li>
			<li></li>
			</ul>

		</div>

		<hr class="hidden-md-up">
		<div class="col-md-2"></div>

		<div class="col-md-2 offset-md-1">
			<h6 class="title">Home</h6>
			<ul>
				<li><a href="#aboutus">About Us</a></li>
				<li><a href="#contact">Contact Us</a></li>
				<li><a href="https://www.weeloy.com" target='_blank'>Weeloy.com</a></li>
				<li><a href="https://www.weeloy.com/blog/" target='_blank'>Foodies Blog</a></li>
			</ul>
		</div>

		<hr class="hidden-md-up">


		<div class="col-md-2">
			<h6 class="title">Solutions</h6>
			<ul>
				<li>Reservation System</li>
				<li>Call Management</li>
				<li>Table Management</li>
				<li>Events Management</li>
				<li>Payment System</li>
				<li>Marketing & Agency Services</li>
			</ul>
		</div>

		<hr class="hidden-md-up">

		<div class="col-md-2">
			<h6 class="title">Contact</h6>
			<div class="row">

			</div>

			<ul>
				<li>Singapore:&nbsp;+65 8591 3218</li>
				<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+65 9181 5377</li>
				<li>Hongkong:&nbsp;+852 9453 3204</li>
				<li>Bangkok: &nbsp;&nbsp;&nbsp;+66 8 1826 2109</li>
				<li>Phuket: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +66 8 1894 3467</li>
			</ul>

		</div>

	</div>
</div>

<div class="footer-copyright">
		Copyright © 2017 <a href="http://www.weeloy.com"> Weeloy Pte Ltd </a>
</div>

</footer>
-->
