<style type="text/css">
.modal-dialog-dsbbookregister {
    width: 600px;
    margin: 85px auto;
}

.modalcontentbooknow {
    width: 620px;
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

</style>
<div class="modal fade" id="dbsformmodalregistration" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog-dsbbookregister" role="document">
    <div class="modalcontentbooknow">
        <iframe style="height: 700px;" src="http://dev.weeloy.com/modules/DailySpecialBoard/RegistrationFormShort.php" width="100%" height="700px" frameborder="0" marginwidth="0" marginheight="0" scrolling="no">
        </iframe>
    </div>
  </div>
</div>