Delivered-To: mailboxtigersmilk@gmail.com
Received: by 10.25.234.195 with SMTP id y64csp1309565lfi;
        Mon, 20 Mar 2017 04:14:08 -0700 (PDT)
X-Received: by 10.237.48.228 with SMTP id 91mr26572125qtf.191.1490008448529;
        Mon, 20 Mar 2017 04:14:08 -0700 (PDT)
Return-Path: <0100015aeb6c9ab3-2a1afaa2-b5c9-4b01-95c4-7522c5f4a963-000000@amazonses.com>
Received: from a8-31.smtp-out.amazonses.com (a8-31.smtp-out.amazonses.com. [54.240.8.31])
        by mx.google.com with ESMTPS id o98si12609695qkh.236.2017.03.20.04.14.08
        for <mailboxtigersmilk@gmail.com>
        (version=TLS1 cipher=ECDHE-RSA-AES128-SHA bits=128/128);
        Mon, 20 Mar 2017 04:14:08 -0700 (PDT)
Received-SPF: pass (google.com: domain of 0100015aeb6c9ab3-2a1afaa2-b5c9-4b01-95c4-7522c5f4a963-000000@amazonses.com designates 54.240.8.31 as permitted sender) client-ip=54.240.8.31;
Authentication-Results: mx.google.com;
       dkim=pass header.i=@hungrygowhere.com;
       dkim=pass header.i=@amazonses.com;
       spf=pass (google.com: domain of 0100015aeb6c9ab3-2a1afaa2-b5c9-4b01-95c4-7522c5f4a963-000000@amazonses.com designates 54.240.8.31 as permitted sender) smtp.mailfrom=0100015aeb6c9ab3-2a1afaa2-b5c9-4b01-95c4-7522c5f4a963-000000@amazonses.com;
       dmarc=pass (p=REJECT sp=REJECT dis=NONE) header.from=hungrygowhere.com
DKIM-Signature: v=1; a=rsa-sha256; q=dns/txt; c=relaxed/simple; s=vef3tp2yw4tc4uojysuiczievmu3qbrz; d=hungrygowhere.com; t=1490008447; h=Date:Message-Id:From:To:Subject:Content-Type:MIME-Version; bh=wQOsOAJTGS6h9CQE1KEi4/KAxQQvZp/iDNzHowxBZq8=; b=EQM/Dxd0ZDbTHMUPwFobn3MM7UK5rrdyV+uL/uiq6JJONgO/lXzKCs9lx9O7qYDD foKEdO/qhbC0TaeoFaq9JeQddqFyzXRV6qdZl44c2XekbABbbn3hSu/E3UlmcTSf+Ay QPYpqwW2vdlRYmuMMtMIrRSRCwTNR3Ib50LnAWUo=
DKIM-Signature: v=1; a=rsa-sha256; q=dns/txt; c=relaxed/simple; s=224i4yxa5dv7c2xz3womw6peuasteono; d=amazonses.com; t=1490008447; h=Date:Message-Id:From:To:Subject:Content-Type:MIME-Version:Feedback-ID; bh=wQOsOAJTGS6h9CQE1KEi4/KAxQQvZp/iDNzHowxBZq8=; b=N4sVJXD3KkOD5kPExMHUI+57AHBB+FPkL3MqgIYMe7xVE+mew7KLnMgwFR6CLOif SzMHTDjJ7HSCq9q32yFx/W2WNyVZ3aENjdHZr2DKdOvkadljOP8lwa0nrgpRFeTnEKp S1cifOsQJEgWEERioaY6avHkDvk/jaMpFNvThruo=
X-Mailer: Nodemailer (0.5.14; +http://github.com/andris9/nodemailer; smtp/0.3.16)
Date: Mon, 20 Mar 2017 11:14:07 +0000
Message-ID: <0100015aeb6c9ab3-2a1afaa2-b5c9-4b01-95c4-7522c5f4a963-000000@email.amazonses.com>
From: TableDB <reservations@hungrygowhere.com>
To: shireen@disgruntledchef.com, khojie@theclub.com.sg, rykiel@theclub.com.sg, mailboxtigersmilk@gmail.com
Subject: NEW TableDB Reservation for Friday, 24th March 2017, 6:30 PM
Content-Type: multipart/alternative; boundary="----Nodemailer-0.5.14-?=_1-1490008447421"
MIME-Version: 1.0
X-SES-Outgoing: 2017.03.20-54.240.8.31
Feedback-ID: 1.us-east-1.tHHnPnOrEn3gBT6Q7jDB1s5/Cg7npk13ud/mlvSwDjE=:AmazonSES

------Nodemailer-0.5.14-?=_1-1490008447421
Content-Type: text/plain; charset=utf-8
Content-Transfer-Encoding: quoted-printable

Dear Tiger&#39;s MilkManagement,
We have received a NEW reservation for Tiger&#39;s Milkfor 4 on Friday, 24t=
h March 2017, 6:30 PM.
The details of the NEW reservation are as follows:
Reservation Information: 4 guests on Friday, 24th March 2017, 6:30 PMCustom=
er Name: Ms. SherlynWongCustomer Email:Sherlyn.Wong@gmail.comCustomer Conta=
ct: +65 92727944Promotion
Title:: NoneRestaurant Note:
Thank you for making a reservation at Tiger&#39;s Milk. Please note that yo=
ur table will only be held for 15mins from the time of your reservation &am=
p; we cannot guarantee your reservation after this timing.
Thank you for using TableDB.
Yours sincerely,
The TableDB Team
This is a system generated email, please do not reply to this email.
------Nodemailer-0.5.14-?=_1-1490008447421
Content-Type: text/html; charset=utf-8
Content-Transfer-Encoding: quoted-printable

<html>
<body>
<p style=3D"margin-top:15px;">Dear Tiger&#39;s Milk&nbsp;Management,</p>
<p style=3D"margin-top:15px;">We have received a NEW reservation for Tiger&=
#39;s Milk&nbsp;for 4 on Friday, 24th March 2017, 6:30 PM.</p>
<p style=3D"margin-top:15px;">The details of the NEW reservation are as fol=
lows:</p>
<p style=3D"margin-top:15px;">Reservation Information: 4 guests on Friday, =
24th March 2017, 6:30 PM<br/>
Customer Name: Ms. Sherlyn&nbsp;Wong<br/>
Customer Email: Sherlyn.Wong@gmail.com<br/>
Customer Contact: +65 92727944<br/>
</p>
<p><u>Promotion</u><br>Title: None</p>
<p><u>Restaurant Notes</u><br><b>Thank you for making a reservation at Tige=
r&#39;s Milk. Please note that your table will only be held for 15mins from=
 the time of your reservation &amp; we cannot guarantee your reservation af=
ter this timing.</b></p>
<p style=3D"margin-top:15px;">Thank you for using TableDB.</p>
<p style=3D"margin-top:15px;">Yours sincerely,<br/>
The TableDB Team
</p>
<p>This is a system generated email, please do not reply to this email.</p>
</body>
</html>
------Nodemailer-0.5.14-?=_1-1490008447421--