Delivered-To: mailboxtigersmilk@gmail.com
Received: by 10.25.234.195 with SMTP id y64csp1323932lfi;
        Mon, 20 Mar 2017 04:58:17 -0700 (PDT)
X-Received: by 10.107.38.16 with SMTP id m16mr24316619iom.106.1490011097095;
        Mon, 20 Mar 2017 04:58:17 -0700 (PDT)
Return-Path: <0100015aeb95038c-56741710-1755-4287-807c-c5b1594b1103-000000@amazonses.com>
Received: from a8-96.smtp-out.amazonses.com (a8-96.smtp-out.amazonses.com. [54.240.8.96])
        by mx.google.com with ESMTPS id a22si10396345itd.100.2017.03.20.04.58.16
        for <mailboxtigersmilk@gmail.com>
        (version=TLS1 cipher=ECDHE-RSA-AES128-SHA bits=128/128);
        Mon, 20 Mar 2017 04:58:17 -0700 (PDT)
Received-SPF: pass (google.com: domain of 0100015aeb95038c-56741710-1755-4287-807c-c5b1594b1103-000000@amazonses.com designates 54.240.8.96 as permitted sender) client-ip=54.240.8.96;
Authentication-Results: mx.google.com;
       dkim=pass header.i=@hungrygowhere.com;
       dkim=pass header.i=@amazonses.com;
       spf=pass (google.com: domain of 0100015aeb95038c-56741710-1755-4287-807c-c5b1594b1103-000000@amazonses.com designates 54.240.8.96 as permitted sender) smtp.mailfrom=0100015aeb95038c-56741710-1755-4287-807c-c5b1594b1103-000000@amazonses.com;
       dmarc=pass (p=REJECT sp=REJECT dis=NONE) header.from=hungrygowhere.com
DKIM-Signature: v=1; a=rsa-sha256; q=dns/txt; c=relaxed/simple; s=vef3tp2yw4tc4uojysuiczievmu3qbrz; d=hungrygowhere.com; t=1490011096; h=Date:Message-Id:From:To:Subject:Content-Type:MIME-Version; bh=y0fJdeR+g0/TAqmyNxvLCridiBdLRE89VdIE99WEXlE=; b=UdndhLlKP52pVODxXDdMzLFt0fVKHJRlWtAhaV5Sqk79yyBMMVdytAXEJHqYUI1/ WkMAN1gVoCXoNWx0LfQ8kU9wVumkP7gu+gp8m5CCRAamkLLvivphLSKaX/JJ+SzEGhH hCwEyGbouSYsZY4feZ/KTGKbyJiLeRwOYUdwkXIk=
DKIM-Signature: v=1; a=rsa-sha256; q=dns/txt; c=relaxed/simple; s=224i4yxa5dv7c2xz3womw6peuasteono; d=amazonses.com; t=1490011096; h=Date:Message-Id:From:To:Subject:Content-Type:MIME-Version:Feedback-ID; bh=y0fJdeR+g0/TAqmyNxvLCridiBdLRE89VdIE99WEXlE=; b=ikO71FzH9EMiIkqxFklaRkGXlH/C8L8LohiGLHSAyvS3h/OOXhvx1kxwe7XVQQx3 ev/0wW/7MD+qrhWP2qfWn+PKEyfDS7RTX/6npXZ/znjB3c3oKRY1uZ/oesywVbj/Ax3 6Ff4tXd/1kXmsczNTtyqesctsS6L2c+Vh8wr04s0=
X-Mailer: Nodemailer (0.5.14; +http://github.com/andris9/nodemailer; smtp/0.3.16)
Date: Mon, 20 Mar 2017 11:58:16 +0000
Message-ID: <0100015aeb95038c-56741710-1755-4287-807c-c5b1594b1103-000000@email.amazonses.com>
From: TableDB <reservations@hungrygowhere.com>
To: shireen@disgruntledchef.com, khojie@theclub.com.sg, rykiel@theclub.com.sg, mailboxtigersmilk@gmail.com
Subject: NEW TableDB Reservation for Tuesday, 21st March 2017, 8:00 PM
Content-Type: multipart/alternative; boundary="----Nodemailer-0.5.14-?=_1-1490011095650"
MIME-Version: 1.0
X-SES-Outgoing: 2017.03.20-54.240.8.96
Feedback-ID: 1.us-east-1.tHHnPnOrEn3gBT6Q7jDB1s5/Cg7npk13ud/mlvSwDjE=:AmazonSES

------Nodemailer-0.5.14-?=_1-1490011095650
Content-Type: text/plain; charset=utf-8
Content-Transfer-Encoding: quoted-printable

Dear Tiger&#39;s MilkManagement,
We have received a NEW reservation for Tiger&#39;s Milkfor 4 on Tuesday, 21=
st March 2017, 8:00 PM.
The details of the NEW reservation are as follows:
Reservation Information: 4 guests on Tuesday, 21st March 2017, 8:00 PMCusto=
mer Name: Ms. JenniferSamuelsCustomer Email:jennifer_samuels@hotmail.comCus=
tomer Contact: +65 90039480Promotion
Title:: NoneRestaurant Note:
Thank you for making a reservation at Tiger&#39;s Milk. Please note that yo=
ur table will only be held for 15mins from the time of your reservation &am=
p; we cannot guarantee your reservation after this timing.
Thank you for using TableDB.
Yours sincerely,
The TableDB Team
This is a system generated email, please do not reply to this email.
------Nodemailer-0.5.14-?=_1-1490011095650
Content-Type: text/html; charset=utf-8
Content-Transfer-Encoding: quoted-printable

<html>
<body>
<p style=3D"margin-top:15px;">Dear Tiger&#39;s Milk&nbsp;Management,</p>
<p style=3D"margin-top:15px;">We have received a NEW reservation for Tiger&=
#39;s Milk&nbsp;for 4 on Tuesday, 21st March 2017, 8:00 PM.</p>
<p style=3D"margin-top:15px;">The details of the NEW reservation are as fol=
lows:</p>
<p style=3D"margin-top:15px;">Reservation Information: 4 guests on Tuesday,=
 21st March 2017, 8:00 PM<br/>
Customer Name: Ms. Jennifer&nbsp;Samuels<br/>
Customer Email: jennifer_samuels@hotmail.com<br/>
Customer Contact: +65 90039480<br/>
</p>
<p><u>Promotion</u><br>Title: None</p>
<p><u>Restaurant Notes</u><br><b>Thank you for making a reservation at Tige=
r&#39;s Milk. Please note that your table will only be held for 15mins from=
 the time of your reservation &amp; we cannot guarantee your reservation af=
ter this timing.</b></p>
<p style=3D"margin-top:15px;">Thank you for using TableDB.</p>
<p style=3D"margin-top:15px;">Yours sincerely,<br/>
The TableDB Team
</p>
<p>This is a system generated email, please do not reply to this email.</p>
</body>
</html>
------Nodemailer-0.5.14-?=_1-1490011095650--