Delivered-To: mailboxtigersmilk@gmail.com
Received: by 10.25.234.195 with SMTP id y64csp1310882lfi;
        Mon, 20 Mar 2017 04:18:00 -0700 (PDT)
X-Received: by 10.237.53.226 with SMTP id d31mr24855642qte.184.1490008680482;
        Mon, 20 Mar 2017 04:18:00 -0700 (PDT)
Return-Path: <0100015aeb702577-70a0be7e-02fa-476d-9cea-bd59d47bdd9a-000000@amazonses.com>
Received: from a8-32.smtp-out.amazonses.com (a8-32.smtp-out.amazonses.com. [54.240.8.32])
        by mx.google.com with ESMTPS id v24si12624411qtv.214.2017.03.20.04.18.00
        for <mailboxtigersmilk@gmail.com>
        (version=TLS1 cipher=ECDHE-RSA-AES128-SHA bits=128/128);
        Mon, 20 Mar 2017 04:18:00 -0700 (PDT)
Received-SPF: pass (google.com: domain of 0100015aeb702577-70a0be7e-02fa-476d-9cea-bd59d47bdd9a-000000@amazonses.com designates 54.240.8.32 as permitted sender) client-ip=54.240.8.32;
Authentication-Results: mx.google.com;
       dkim=pass header.i=@hungrygowhere.com;
       dkim=pass header.i=@amazonses.com;
       spf=pass (google.com: domain of 0100015aeb702577-70a0be7e-02fa-476d-9cea-bd59d47bdd9a-000000@amazonses.com designates 54.240.8.32 as permitted sender) smtp.mailfrom=0100015aeb702577-70a0be7e-02fa-476d-9cea-bd59d47bdd9a-000000@amazonses.com;
       dmarc=pass (p=REJECT sp=REJECT dis=NONE) header.from=hungrygowhere.com
DKIM-Signature: v=1; a=rsa-sha256; q=dns/txt; c=relaxed/simple; s=vef3tp2yw4tc4uojysuiczievmu3qbrz; d=hungrygowhere.com; t=1490008679; h=Date:Message-Id:From:To:Subject:Content-Type:MIME-Version; bh=REPlfpxnS2/g2S6V+njoPkK1/4bq+nJcdeQhhChXHkU=; b=VffgZ8C/8nSqy/eA/z054RP2Vla1m1aTzXhyUw/8kZFNWK3hLoINlOT8jt8yMViP P90G8T1bfGfSatl/6WBEDIDtUQ4xVJjxUwUPmAgb9Vm3vAxnmZne03tEQWj2i+rF5/W fSsb+Yy70NOv4LUaviwd30JBARumCv97Gl2gUw1Y=
DKIM-Signature: v=1; a=rsa-sha256; q=dns/txt; c=relaxed/simple; s=224i4yxa5dv7c2xz3womw6peuasteono; d=amazonses.com; t=1490008679; h=Date:Message-Id:From:To:Subject:Content-Type:MIME-Version:Feedback-ID; bh=REPlfpxnS2/g2S6V+njoPkK1/4bq+nJcdeQhhChXHkU=; b=XvUvIfw6VNbqpOo9wOQlnKgHfuNTNcYDFxfFS8R117Kf6q1vp6k3jhxC+1WS/B9p kEtRsDtONncYqD/aBEldqC9Ou46MGq4rCES26YaH6M1WLyyjdQOBc2W/QSFxcreYVF1 FC3hSvWbip2fLsdQ5LaM8qELVdmmEyLqFshmSXHU=
X-Mailer: Nodemailer (0.5.14; +http://github.com/andris9/nodemailer; smtp/0.3.16)
Date: Mon, 20 Mar 2017 11:17:59 +0000
Message-ID: <0100015aeb702577-70a0be7e-02fa-476d-9cea-bd59d47bdd9a-000000@email.amazonses.com>
From: TableDB <reservations@hungrygowhere.com>
To: shireen@disgruntledchef.com, khojie@theclub.com.sg, rykiel@theclub.com.sg, mailboxtigersmilk@gmail.com
Subject: MODIFICATION of TableDB Reservation for Friday, 24th March 2017, 6:30 PM
Content-Type: multipart/alternative; boundary="----Nodemailer-0.5.14-?=_1-1490008679531"
MIME-Version: 1.0
X-SES-Outgoing: 2017.03.20-54.240.8.32
Feedback-ID: 1.us-east-1.tHHnPnOrEn3gBT6Q7jDB1s5/Cg7npk13ud/mlvSwDjE=:AmazonSES

------Nodemailer-0.5.14-?=_1-1490008679531
Content-Type: text/plain; charset=utf-8
Content-Transfer-Encoding: quoted-printable

Dear Tiger&#39;s MilkManagement,
We have received UPDATES for SherlynWong's reservation for Tiger&#39;s Milk=
for 6 on Friday, 24th March 2017, 6:30 PM.
The original reservation details were as follows:
Reservation Information: 4 on Friday, 24th March 2017, 6:30 PMCustomer Name=
: Ms. SherlynWongCustomer Email:Sherlyn.Wong@gmail.comCustomer Contact: +65=
 92727944The UPDATED reservation details are as follows:
Reservation Information: 6 on Friday, 24th March 2017, 6:30 PMCustomer Name=
: Ms. SherlynWongCustomer Email:Sherlyn.Wong@gmail.comCustomer Contact: +65=
 92727944Promotion
Title: NoneRestaurant Notes:
Thank you for using TableDB.
Always at your service,
The TableDB Team
This is a system generated email, please do not reply to this email.
------Nodemailer-0.5.14-?=_1-1490008679531
Content-Type: text/html; charset=utf-8
Content-Transfer-Encoding: quoted-printable

<html>
<body>
<p style=3D"margin-top:15px;">Dear Tiger&#39;s Milk&nbsp; Management,</p>
<p style=3D"margin-top:15px;">We have received UPDATES for Sherlyn&nbsp;Won=
g's reservation for Tiger&#39;s Milk&nbsp; for 6 on Friday, 24th March 2017=
, 6:30 PM.</p>
<p style=3D"margin-top:15px;">The original reservation details were as foll=
ows:</p>
<p style=3D"margin-top:15px;">Reservation Information: 4 on Friday, 24th Ma=
rch 2017, 6:30 PM<br/>
Customer Name: Ms. Sherlyn&nbsp;Wong<br/>
Customer Email: Sherlyn.Wong@gmail.com<br/>
Customer Contact: +65 92727944<br/>
</p>
<p style=3D"margin-top:15px;">The UPDATED reservation details are as follow=
s:</p>
<p style=3D"margin-top:15px;">Reservation Information: 6 on Friday, 24th Ma=
rch 2017, 6:30 PM<br/>
Customer Name: Ms. Sherlyn&nbsp;Wong<br/>
Customer Email: Sherlyn.Wong@gmail.com<br/>
Customer Contact: +65 92727944<br/>
</p>
<p><u>Promotion</u><br>Title: None</p>
<p><u>Restaurant Notes</u><br><b></b></p>
<p style=3D"margin-top:15px;">Thank you for using TableDB.</p>
<p style=3D"margin-top:15px;">Always at your service,<br/>
The TableDB Team</p>
<p>This is a system generated email, please do not reply to this email.</p>
</body>
</html>
------Nodemailer-0.5.14-?=_1-1490008679531--