body {
	font-family: Roboto; 
	font-size: 14px;
	width:90%;
}
div .input-group {
	margin-bottom: 10px;
}

div .row {
	margin-bottom: 10px;
	margin-left: 10px;
}

a#buttonterms {
	margin: 10px 30px 20px 55px;
}

.termsconditions {
	font-family: Roboto; 
	font-size: 12px;
}

img {
	display:block;
	margin:0 auto;
	padding-bottom:10px;
}

li {
	font-family:Roboto;
	font-size:12px;
}

.slogan {
	font-family: Roboto; 
	font-size: 13px;
	padding-top:0px;
	margin:10px 20px 20px 20px; 
	}
	
div .separation {
	vertical-align:middle;
	border-right:4px solid #5285a0;
	height:100%;
}

.mainbox { margin: 10px 30px 20px 55px; width:550px; }

.panel{
	border-color:#5285a0 !important;
}

.panel-heading{
	background-image:none !important;
	background-color:#5285a0 !important;
	color:#fff !important;
	border-color:#5285a0 !important;
	border-radius:0;
}

.btn-default{
	background-image:linear-gradient(to bottom, #eee 0px, #e0e0e0 100%)!important;
}

.scrollable-menu {
    height: auto;
    max-height: 250px;
    overflow-x: hidden;
}

.pcheckmark {
	display: inline-block;
	font-family:Unkempt;
	font-size:13px;
	margin:0 0 0 5px;
}

.pcheckmarkcn {
	display: inline-block;
	font-family:geneva;
	font-size:11px;
	margin:0 0 0 5px;
}

.checkmark {
	color: green;
	display: inline-block;
	font-size: 14px;
	vertical-align: top; 
	margin:0 0 0 0;
}

