<tr>
    <td align="center" valign="top" style="border-top:1px solid #e8e8e8; padding-top:35px; padding-bottom:35px;background-color:#ffffff;">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="center" valign="top" style="font-family:arial; color:#283271; font-size:18px;">{[{data.labelContent['footermsg_anytime']}]}.</td>
            </tr>
            <tr>
                <td align="center" valign="top" style="font-family:arial; color:#888888; font-size:14px; padding-top:12px;">{[{data.labelContent['footermsg_bookingwallet']}]}</td>
            </tr>
            <tr>
                <td align="center" valign="top" style="padding-top:22px;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="inner-container">
                        <tr>
                            <td align="center" valign="top"><table width="222" border="0" cellspacing="0" cellpadding="0" align="center" class="store-icons">
                                    <tr>
                                        <td align="center" valign="top"><a rel="nofollow"  href="{[{data.passbook}]}" target="_blank"><img src="https://developer.apple.com/watch/human-interface-guidelines/icons-and-images/images/icon-and-image-large-icon-wallet.png" width="120" height="120" alt=" " style="display:block; border:0" /></a></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>