
{#<tr border="0"  style="height: 15px;background: #5285A0; width: 100%; color:#fff; font-family: tahoma" ><td border="0" style="min-height: 10px;" ></td><td border="0" >
    </td>
</tr>#}
<tr>
    <td align="center" valign="top" bgcolor="#8f8f8f" style="background-color:#8f8f8f; padding-top:10px; padding-bottom:15px;">
        <table width="550" border="0" cellspacing="0" cellpadding="0" class="inner-container">
            <tr>
                <td align="left" valign="middle"><table width="124" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td align="left" valign="top"><a href="https://www.facebook.com/weeloy.sg" target="_blank"><img src="https://static.weeloy.com/emails/fb.png" width="44" height="40" alt=" " style="display:block; border:0" /></a></td>
                            <td align="left" valign="top"><a href="https://twitter.com/weeloyasia" target="_blank"><img src="https://static.weeloy.com/emails/tw.png" width="44" height="40" alt=" " style="display:block; border:0" /></a></td>
                            <td align="left" valign="top"><a href="https://instagram.com/weeloyasia/" target="_blank"> <img src="https://static.weeloy.com/emails/instagram.png" width="36" height="40" alt=" "  style="display:block; border:0" /></a></td>
                        </tr>
                    </table></td>
                <td align="right" valign="middle" class="footer-logo"><table width="278" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td align="left" valign="middle"><a href="http://www.weeloy.com/blog/" target="_blank"><img src="https://static.weeloy.com/emails/footer-magazine.png"  alt=" " style="display:block; border:0" /></a></td>
                                <td align="left" valign="right"><a href="http://www.weeloy.com/" target="_blank"><img src="https://dev.weeloy.com/images/footer_email_logo.png"  alt=" " style="display:block; border:0" /></a></td>
                        </tr>
                    </table></td>
            </tr>
        </table>
    </td>
</tr>
</table>
</td>
</tr>
</table>
</body>
</html>