<tr>
    <td align="left" valign="top" class="list"   style=" padding-top:13px; padding-bottom:14px;font-family:arial; color:#494949;" >

        <a  rel="nofollow" href="http://weeloy.co/2c2lR73" target="_blank"><img src="https://static.weeloy.com/emails/contest-email-banner.png"  alt=" "  style="display:block; border:0 "  /></a>

    </td> 
</tr>

