<div id="my-review">
       <div class="container">
    <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-lg-8 col-md-8 col-sm-8 col-xs-12 my-booking"> 
               <div id='msg-alert' class="alert" style="display:none;">
              </div>
            <div id='review-container' class ='panel-body' style='display:block;'>
               <div id="targetSectionRev" >
                    <div id='review-msg' style='margin-left:15px;text-align:center;'> <h3>Thank you for your review.</h3></div>
                <div class='review-container' style ="text-align:center;">
                    <span style='margin-left:15px;' > <strong> Your Rating :</strong> </span>
                    <div class='review-container' style ="text-align:center;" >
                        <div class="star-rating" star-rating rating-value="rating" data-max="5" on-rating-selected="rateFunction(rating)"> </div>
                    </div>
<!--                    <span class="rating" >
                        <span  class="star"  ></span><span  class="star"></span><span class="star"></span><span  class="star"></span><span  class="star "></span>
                        <input id='grade' type='hidden'  value='' />
                    </span>-->
                </div>
                <div id='comment' style='margin-left:15px;text-align:center;'><h5>Do you want to leave a comment?</h5></div>
                <div class="col-lg-offset-2 col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <textarea ng-model='comment' class='form-control' rows='4' ></textarea>
                <div class="text-center" style="margin-top:10px;">
                     <input type="button" ng-click="RatingNow('update')" class="btn btn_submit_review" value="Submit"  style="background-color: #2BA8CF;color: #fff;  border-radius: 0px;">
                </div>
                </div>
                
           
           </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
            
            
<!--             <review-section  id="targetSectionRev" class="currentpanel" rdata-review="reviewList" ></review-section>-->
  
        </div>
         <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
            <p></p>
        </div>
    </div>
</div>
