<div id="partner-page">
    <div class="contact-us-section">
        <div class="container">
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <h1 class="text-center">Your technology and eMarketing partner</h1>
                <div class="info">
                    <p class="text-center">Increase your market reach and online visibility,</p>
                    <p class="text-center">gain new and repeative customers and</p>
                    <p class="text-center">protect your brand with our very efficient, innovative,</p>
                    <p class="text-center">and white label solutions.</p>
                </div>
                <div class="contact-us-btn text-center">
                    <button ng-click="showPartnerContactSection = true">Contact us</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="partner-contact-section" id="partner-contact-section" ng-show="showPartnerContactSection">
        <div class="container">
            <div class="solution-text-3 col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <p class="text-center">Weeloy Pte Ltd</p>
                <p class="text-center">83 Amoy Street</p>
                <p class="text-center">Singapore 069902e</p>
            </div>
            <div class="solution-text-1 col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <p class="text-center">
                    <a href="mailto:partner@weeloy.com?subject=I am interested in your partner solution">partner@weeloy.com</a>
                    <noscript>
                        &lt;em&gt;Email address protected by JavaScript. Activate javascript to see the email.&lt;/em&gt;
                    </noscript>
                </p>
            </div>
            <div class="solution-text-3 col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <p class="text-center">Singapore: +65 9025 3065</p>
                <p class="text-center">Thailand: +66 81 8943467</p>
                <p class="text-center">Hong Kong: +85 2 90350906</p>
            </div>
        </div>
    </div>
    <div class="solution-section">
        <div class="container">
            <div class="solution-title">
                <p class="text-center">Streamline your business with a full suite</p>
                <p class="text-center">of integrated and proprietary products</p>
            </div>
            <div class="solution-text col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <p><span class="fa fa-check-circle"></span>a web and mobile reservation portal</p>
                    <p><span class="fa fa-check-circle"></span>a white label Reservation System</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <p><span class="fa fa-check-circle"></span>a robust Call Center software</p>
                    <p><span class="fa fa-check-circle"></span>a state-of-the-art Table Management software</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <p><span class="fa fa-check-circle"></span>a powerful Catering and On-line Ordering software</p>
                    <!--<p><span class="fa fa-check-circle"></span></p>-->
                </div>
            </div>
        </div>
        <div class="solution-image">
            <div class="container">
                <div class="text-center col-lg-8 col-md-8 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
                    <img src="images/partner_page/partner-solution-mac.png">
                </div>
            </div>
        </div>
        <div class="solution-text-2">
            <div class="container">
                <p class="text-center">All our solutions are centralized into a powerful CRM for business reports,</p>
                <p class="text-center">data analysis and marketing operations.</p>
            </div>
        </div>
        <div class="solution-text-3">
            <div class="container">
                <p class="text-center">And beyond products and technology, we believe in exceptional client</p>
                <p class="text-center">service. You will be supported by a professional team responsive to your </p>
                <p class="text-center">needs and insightful about the challenges you face.</p>
            </div>
        </div>
    </div>
    <div class="consumer-section">
        <div class="container">
            <div class="consumer-title">
                <p class="text-center">Online reservation portal and</p>
                <p class="text-center">consumer mobile app for your guests</p>
            </div>
            <div class="consumer-text">
                <p class="text-center">Our consumer portal, Weeloy.com is a dynamic on-line reservation portal </p>
                <p class="text-center">and a consumer mobile app providing consumers a fun dining experience and </p>
                <p class="text-center">an easy way to search and book while giving you a new way to optimize your </p>
                <p class="text-center">margin, and generate additional business and enhance the customer value </p>
                <p class="text-center">proposition.</p>
            </div>
        </div>
    </div>
    <div class="feature-section">
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 feature-title">
                <p class="text-center">Your dedicated restaurant page on weeloy.com</p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 feature-image text-center">
                <img src="images/partner_page/ipad-feature-section.png" alt="">
            </div>
            <div class="feature-text col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p class="text-center feature-text-title">features:</p>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <p><span class="fa fa-check-circle"></span>Rich content as a video of your signature dishes</p>
                    <p><span class="fa fa-check-circle"></span>High resolution photo gallery</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <p><span class="fa fa-check-circle"></span>A clear menu proposition</p>
                    <p><span class="fa fa-check-circle"></span>A description of your main events and all services provided by your restaurant</p>
                </div>
                <div class="feature-text-last col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p class="text-center"> </p>
                </div>
            </div>
        </div>
    </div>
</div>
