{% include 'header/callcenterheader_email.html.twig' ignore missing %}

<tr>
    <td align="center" valign="top" bgcolor="#ffffff" style="background-color:#ffffff; padding-top:35px;" class="container-indent">
        <table width="550" border="0" cellspacing="0" cellpadding="0" class="inner-container">
            <tr>
                <td align="center" valign="top" style="font-family:arial; color:#494949; font-size:39px; border-bottom:1px solid #e8e8e8; padding-bottom:16px;" class="welcome-head">Event Request</td>
            </tr>
            <tr>
                <td align="left" valign="top" style="font-family:arial; color:#494949; font-size:14px; border-bottom:1px solid #e8e8e8; padding-bottom:25px; padding-top:25px;"><strong> Dear {[{data.restaurantinfo.title}]},</strong><br />
                    <br />You have a new event request on {[{data.date}]}. To review and manage this request, please access to your Weeloy backoffice, under Ordering category. <a href="{[{data.baseUrl}]}/backoffice"  target='_blank' >{[{data.baseUrl}]}/backoffice</a>
                </td>
            </tr>
</table>    
</td>
</tr> 
</table>
 </td>
  </tr>
</table>
</body>
</html>
     