<script type="text/ng-template" id="scheduler.html">
<div>
<h5 style="text-align:center;text-transform: uppercase;color:navy"> scheduler &nbsp; Layout: {{ layoutName }} </h5>
<table class='table-striped border' style="margin: 20px 20px 20px 20px;font-size:12px;font-family: Roboto">
 <tr ng-repeat="m in monthobj"> <td>{{ m.n }}<br/><button type="button" ng-click="setschedbox(m.n, 1)" style="font-size:9px;color:purple">s</button>&nbsp;<button type="button" ng-click="setschedbox(m.n, 0)" style="font-size:9px;color:red">c</button></td><td ng-repeat="d in monthdays" style="padding: 10px 10px 10px 10px"><span ng-if="d <= m.z">{{ d }}<br /><input type='checkbox' class="{{m.n}}"><span></td></tr>
 </table>
 <table width='100%'><tr>
 <td width='50%' align='center'><button type="button" class="btn btn-primary btn-sm" ng-click='savescheduler();'> &nbsp; SAVE  &nbsp; </button></td>
 <td width='50%' align='center'><button type="button" class="btn btn-warning btn-sm" ng-click='lysetempty();'> CANCEL </button></td>
 </tr>
</table>
</div>
<br /><br /><br /><br />
<table style="height:100px:"/><tr><td> <br /><br /><br /><br /> </td></tr></table>
</script>