Delivered-To: mailboxesquina@gmail.com
Received: by 10.13.202.74 with SMTP id m71csp256428ywd;
        Sun, 16 Apr 2017 17:21:15 -0700 (PDT)
X-Received: by 10.237.53.42 with SMTP id a39mr7885978qte.40.1492388475141;
        Sun, 16 Apr 2017 17:21:15 -0700 (PDT)
Return-Path: <0100015b7948eb0f-f7a3c5f0-bd8e-475d-8a16-9f0c15d87fa3-000000@amazonses.com>
Received: from a8-80.smtp-out.amazonses.com (a8-80.smtp-out.amazonses.com. [54.240.8.80])
        by mx.google.com with ESMTPS id j50si9231342qta.50.2017.04.16.17.21.14
        for <mailboxesquina@gmail.com>
        (version=TLS1 cipher=ECDHE-RSA-AES128-SHA bits=128/128);
        Sun, 16 Apr 2017 17:21:15 -0700 (PDT)
Received-SPF: pass (google.com: domain of 0100015b7948eb0f-f7a3c5f0-bd8e-475d-8a16-9f0c15d87fa3-000000@amazonses.com designates 54.240.8.80 as permitted sender) client-ip=54.240.8.80;
Authentication-Results: mx.google.com;
       dkim=pass header.i=@chope.co;
       dkim=pass header.i=@amazonses.com;
       spf=pass (google.com: domain of 0100015b7948eb0f-f7a3c5f0-bd8e-475d-8a16-9f0c15d87fa3-000000@amazonses.com designates 54.240.8.80 as permitted sender) smtp.mailfrom=0100015b7948eb0f-f7a3c5f0-bd8e-475d-8a16-9f0c15d87fa3-000000@amazonses.com
DKIM-Signature: v=1; a=rsa-sha256; q=dns/txt; c=relaxed/simple; s=vnv5jssf3reosgj5cxs2uqb4mzkcm7rv; d=chope.co; t=1492388473; h=Date:From:To:Reply-To:Subject:Message-ID:Mime-Version:Content-Type; bh=DdMTfqZs33XfUr0T/rsK4Vvzart0eLQROX9Rp0TB0n4=; b=SLX4/+BMI/M2Q+HQq93MuAC4NHoO+8s7FGWc82meYet3sWw6x1m43dC6tWlnw5ZL MCAdrl7Om6Lr3B08EvZeF1Uez/oJFiEU6KsXFcAfQZzef9PJ0YAfzHyAJ2r4kF2BFf4 Nqd0GwEeeRYSfiC+MJVA2P7OmbybvWaiXcZBZBoM=
DKIM-Signature: v=1; a=rsa-sha256; q=dns/txt; c=relaxed/simple; s=224i4yxa5dv7c2xz3womw6peuasteono; d=amazonses.com; t=1492388473; h=Date:From:To:Reply-To:Subject:Message-ID:Mime-Version:Content-Type:Feedback-ID; bh=DdMTfqZs33XfUr0T/rsK4Vvzart0eLQROX9Rp0TB0n4=; b=Y75hZTS7vN4jlYKPnVCZQ/MYf+v0UGysd2a8dGCg/tBKUOoPi0heyc2mOYOaGmmb JLFT/+YbJtQB/LW4QxAFmUIeWFZLZTLXludrI792IjivmM5jFHX99pPUeXRdY5BF/gb +cJ/08hGrl4lOaHc0UJB+gQHFT11Mhk7ywKWvXQc=
User-Agent: CodeIgniter
Date: Mon, 17 Apr 2017 00:21:13 +0000
From: Chope Reservations No Reply <noreply@chope.co>
To: info@esquina.com.sg, myra@esquina.com.sg, support@chope.com.sg, mailboxesquina@gmail.com
Reply-To: Esquina <info@esquina.com.sg>
Subject: New Reservation: April 24, 6:30 PM. Mr. Thomas Coffman at Esquina
X-Sender: noreply@chope.co
X-Mailer: CodeIgniter
X-Priority: 3 (Normal)
Message-ID: <0100015b7948eb0f-f7a3c5f0-bd8e-475d-8a16-9f0c15d87fa3-000000@email.amazonses.com>
Mime-Version: 1.0
Content-Type: multipart/alternative; boundary="B_ALT_58f40a7647e3f"
X-SES-Outgoing: 2017.04.17-54.240.8.80
Feedback-ID: 1.us-east-1.OYp1Rb19Lpxn2TRX20hRz/U3qy07FKw1S2ysnC3ZCFE=:AmazonSES

--B_ALT_58f40a7647e3f
Content-Type: text/plain; charset=utf-8
Content-Transfer-Encoding: 8bit

Chope - Confirmation

New Reservation

 

You have a new reservation confirmed at Esquina .

Restaurant
Esquina

Date
Monday, April 24, 2017
 
 
Time
6:30 PM
 
 
 
Name
Mr. Thomas Coffman
 
 
 
Covers
4 adults
 
 
 
Confirmation Number
1CSQ2
 
 
Mobile

+65 96815935
 
 
Email
karen.gavia@duke-nus.edu.sg
 
 
 
Notes

&nbsp;

Stay Connected

Like us on Facebook

Follow us on Twitter

Add to Circles

Check out our Instagram

Get our Mobile App

http://www.chope.co/singapore-restaurants

 
 
 

 
 
Reservations powered by Chope
 
 

 

Copyright &copy; 2017 Chope, All rights reserved.


--B_ALT_58f40a7647e3f
Content-Type: text/html; charset=utf-8
Content-Transfer-Encoding: quoted-printable

<!DOCTYPE html>
<html lang=3D"en">
=09<meta http-equiv=3D"content-type" content=3D"text/html; charset=3DUTF-8"=
><title>Reservation Confirmation - Chope</title>
=09<meta name=3D"viewport" content=3D"width=3Ddevice-width, initial-scale=
=3D1">
</head>

<body topmargin=3D"0" leftmargin=3D"0" rightmargin=3D"0" width=3D"100%" hei=
ght=3D"100%" style=3D"margin:0; background:#f7f7f7;">
 <table style=3D"background:#f7f7f7; align:center; padding-bottom:20px;" bo=
rder=3D"0" cellpadding=3D"0" cellspacing=3D"0" width=3D"100%">
=09 <tbody>=20
=09=09<tr><td rowspan=3D"1" colspan=3D"1" align=3D"center" valign=3D"top" w=
idth=3D"100%">
=09=09=09<table style=3D"align:center; width:100%; max-width:626px; backgro=
und:#fff; border:1px solid #232323;" border=3D"0" cellpadding=3D"0" cellspa=
cing=3D"0" width=3D"1">
=09=09=09=09<tbody>
=09=09=09=09=09<tr><td rowspan=3D"1" colspan=3D"1" align=3D"center" valign=
=3D"top" width=3D"100%">=09
=09=09=09=09=09=09<!--Yellow Bar-->
=09=09=09=09=09=09<table style=3D"display: table; background-color: #f1d124=
;" border=3D"0" cellpadding=3D"0" cellspacing=3D"0" width=3D"100%">
=09=09=09=09=09=09=09<tbody>
=09=09=09=09=09=09=09=09<tr><td style=3D"padding:5px;color:#ffffff;font-fam=
ily:Arial,Helvetica,sans-serif;font-size:1em;" rowspan=3D"1" colspan=3D"1" =
align=3D"center" valign=3D"top">
=09=09=09=09=09=09=09=09=09<strong>Chope - Confirmation</strong>
=09=09=09=09=09=09=09=09</td></tr>
=09=09=09=09=09=09=09</tbody>
=09=09=09=09=09=09</table>=09=09
=09=09=09=09=09</td></tr>
=09=09=09=09=09
=09=09=09=09=09<tr><td rowspan=3D"1" colspan=3D"1" align=3D"center" valign=
=3D"top" width=3D"100%">
=09=09=09=09=09=09<table border=3D"0" cellpadding=3D"0" cellspacing=3D"0" w=
idth=3D"100%">
=09=09=09=09=09=09=09<tbody>
=09=09=09=09=09=09=09<tr><td style=3D"padding:20px 15px 0px 10px" rowspan=
=3D"1" colspan=3D"1" align=3D"left" valign=3D"middle">
=09=09=09=09=09=09=09=09<img src=3D"http://d2jzxcrnybzkkt.cloudfront.net/st=
atic/mainwebsite5.0/img/email-responsive/chope.jpg?date=3D2017124" alt=3D"C=
hope" align=3D"right" border=3D"0" style=3D"vertical-align:middle; width:10=
0px; height:100px;">
=09=09=09=09=09=09=09=09<h2 style=3D"color: #3e3e3e;display: table;font-fam=
ily: Helvetica, Arial, sans-serif;font-size: 22px;font-weight: bold;line-he=
ight: 130%; text-align: left; vertical-align:middle;">New Reservation</h2>
=09=09=09=09=09=09=09</td></tr>=09=09=09=09=09=09=09
 =09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09<td>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<p style=3D"marigin:0=
; padding:0 40px;color:#000000;font-family:Arial,Helvetica,sans-serif;font-=
size:10pt;align:left;" >You have a new reservation confirmed at Esquina .</=
p><br />
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09=09=09=09
=09=09=09=09=09=09</table>
=09=09=09=09=09=09<table style=3D"padding:0 10px; " border=3D"0" cellpaddin=
g=3D"0" cellspacing=3D"0" width=3D"100%">
=09=09=09=09=09=09=09<tbody>
=09=09=09=09=09=09=09=09<tr style=3D"border-bottom:1px solid #cccccc;">
=09=09=09=09=09=09=09=09=09<td style=3D"width:40%;border-top:1px solid #ccc=
ccc; padding:8px;font-family:Arial,Helvetica,sans-serif;font-size:10pt;" ro=
wspan=3D"1" colspan=3D"1" align=3D"left" valign=3D"top"><strong>Restaurant<=
/strong></td>
=09=09=09=09=09=09=09=09=09<td style=3D"border-top:1px solid #cccccc; paddi=
ng:8px;font-family:Arial,Helvetica,sans-serif;font-size:10pt;" rowspan=3D"1=
" colspan=3D"1" align=3D"left" valign=3D"top">Esquina</td>
=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09<td style=3D"border-top:1px solid #cccccc;paddin=
g:8px;font-family:Arial,Helvetica,sans-serif;font-size:10pt;" rowspan=3D"1"=
 colspan=3D"1" align=3D"left" valign=3D"top"><strong>Date</strong></td>
=09=09=09=09=09=09=09=09=09<td style=3D"border-top:1px solid #cccccc;paddin=
g:8px;font-family:Arial,Helvetica,sans-serif;font-size:10pt;"align=3D"left"=
>Monday, April 24, 2017</td>=09
=09=09=09=09=09=09=09=09</tr>=20
=09=09=09=09=09=09=09=09<tr>=20
=09=09=09=09=09=09=09=09=09<td style=3D"border-top:1px solid #cccccc;paddin=
g:8px;font-family:Arial,Helvetica,sans-serif;font-size:10pt;" rowspan=3D"1"=
 colspan=3D"1" align=3D"left" valign=3D"top"><strong>Time</strong></td>
=09=09=09=09=09=09=09=09=09<td style=3D"border-top:1px solid #cccccc;paddin=
g:8px;font-family:Arial,Helvetica,sans-serif;font-size:10pt;"align=3D"left"=
>6:30 PM</td>=09
=09=09=09=09=09=09=09=09</tr>=20
=09=09=09=09=09=09=09=09=20
=09=09=09=09=09=09=09=09<tr>=20
=09=09=09=09=09=09=09=09=09<td style=3D"border-top:1px solid #cccccc;paddin=
g:8px;font-family:Arial,Helvetica,sans-serif;font-size:10pt;" rowspan=3D"1"=
 colspan=3D"1" align=3D"left" valign=3D"top"><strong>Name</strong></td>
=09=09=09=09=09=09=09=09=09<td style=3D"border-top:1px solid #cccccc;paddin=
g:8px;font-family:Arial,Helvetica,sans-serif;font-size:10pt;"align=3D"left"=
>Mr. Thomas Coffman</td>=09
=09=09=09=09=09=09=09=09</tr>=20
=09=09=09=09=09=09=09=09=20
=09=09=09=09=09=09=09=09<tr>=20
=09=09=09=09=09=09=09=09=09<td style=3D"border-top:1px solid #cccccc;paddin=
g:8px;font-family:Arial,Helvetica,sans-serif;font-size:10pt;" rowspan=3D"1"=
 colspan=3D"1" align=3D"left" valign=3D"top"><strong>Covers</strong></td>
=09=09=09=09=09=09=09=09=09<td style=3D"border-top:1px solid #cccccc;paddin=
g:8px;font-family:Arial,Helvetica,sans-serif;font-size:10pt;"align=3D"left"=
>4 adults</td>=09
=09=09=09=09=09=09=09=09</tr>=20
=09=09=09=09=09=09=09=09=20
=09=09=09=09=09=09=09=09<tr>=20
=09=09=09=09=09=09=09=09=09<td style=3D"border-top:1px solid #cccccc;paddin=
g:8px;font-family:Arial,Helvetica,sans-serif;font-size:10pt;" rowspan=3D"1"=
 colspan=3D"1" align=3D"left" valign=3D"top"><strong>Confirmation Number</s=
trong></td>
=09=09=09=09=09=09=09=09=09<td style=3D"border-top:1px solid #cccccc;paddin=
g:8px;font-family:Arial,Helvetica,sans-serif;font-size:10pt;"align=3D"left"=
>1CSQ2</td>=09
=09=09=09=09=09=09=09=09</tr>=20
=09=09=09=09=09=09=09=09<tr>=20
=09=09=09=09=09=09=09=09=09<td style=3D"border-top:1px solid #cccccc;paddin=
g:8px;color:#000000;font-family:Arial,Helvetica,sans-serif;font-size:10pt;"=
 rowspan=3D"1" colspan=3D"1" align=3D"left" valign=3D"top"><strong>Mobile</=
strong></td>
=09=09=09=09=09=09=09=09=09<td style=3D"border-top:1px solid #cccccc;paddin=
g:8px;color:#000000;font-family:Arial,Helvetica,sans-serif;font-size:10pt;"=
align=3D"left">
=09=09=09=09=09=09=09=09=09+65 96815935=09=09=09=09=09=09=09=09=09</td>=09
=09=09=09=09=09=09=09=09</tr>=20
=09=09=09=09=09=09=09=09<tr >=20
=09=09=09=09=09=09=09=09=09<td style=3D"border-top:1px solid #cccccc; borde=
r-bottom:1px solid #cccccc; padding:8px;color:#000000;font-family:Arial,Hel=
vetica,sans-serif;font-size:10pt;" rowspan=3D"1" colspan=3D"1" align=3D"lef=
t" valign=3D"top"><strong>Email</strong></td>
=09=09=09=09=09=09=09=09=09<td style=3D"border-top:1px solid #cccccc; borde=
r-bottom:1px solid #cccccc; padding:8px;color:#000000;font-family:Arial,Hel=
vetica,sans-serif;font-size:10pt;"align=3D"left">karen.gavia@duke-nus.edu.s=
g</td>=09
=09=09=09=09=09=09=09=09</tr>=20
=09=09=09=09=09=09=09=09=20
=09=09=09=09=09=09=09=09<tr>=20
=09=09=09=09=09=09=09=09=09<td style=3D"border-top:1px solid #cccccc;paddin=
g:8px;color:#000000;font-family:Arial,Helvetica,sans-serif;font-size:10pt;"=
 valign=3D"top"><strong>Notes</strong></td>
=09=09=09=09=09=09=09=09=09<td style=3D"border-top:1px solid #cccccc;paddin=
g:8px;font-family:Arial,Helvetica,sans-serif;font-size:10pt;"align=3D"left"=
></td>=09
=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09</tbody>
=09=09=09=09=09=09</table>
=09=09=09=09=09=09<h1>&nbsp;</h1>
=09=09=09=09=09</td></tr>
=09=09=09=09
=09=09=09=09=09<tr><td rowspan=3D"1" colspan=3D"1" align=3D"center" valign=
=3D"top" width=3D"100%">=09=09
=09=09=09=09=09=09=09<!--Yellow Bar-->
=09=09=09=09=09=09<table style=3D"background-color:#FFFFFF;" border=3D"0" c=
ellpadding=3D"0" cellspacing=3D"0" width=3D"100%">
=09=09=09=09=09=09=09<tbody>
=09=09=09=09=09=09=09=09<tr><td style=3D"height:1px;padding-bottom:3px;back=
ground-color:#f1d124;" rowspan=3D"1" colspan=3D"1" align=3D"center" bgcolor=
=3D"#dac90f" height=3D"1" valign=3D"middle">
=09=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09</td></tr>=09=09
=09=09=09=09=09=09=09</tbody>
=09=09=09=09=09=09</table>=09=09
=09=09=09=09=09</td></tr>=09=09
=09=09=09=09=09
=09=09=09=09=09<tr><td rowspan=3D"1" colspan=3D"1" align=3D"center" valign=
=3D"top" width=3D"100%">=09
=09=09=09=09=09=09<table style=3D"background-color:#232323; font-family:Ari=
al,Helvetica,sans-serif;font-size:8pt;color:#707070;" border=3D"0" cellpadd=
ing=3D"0" cellspacing=3D"0" width=3D"100%">
=09=09=09=09=09=09=09<tbody>
=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09<td style=3D"width: 50%; width:58%;padding:7px 5px;=
" rowspan=3D"1" colspan=3D"1" valign=3D"top" width=3D"100%" align=3D"center=
">=09
=09=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09<h6 style=3D"padding:10px 0;color:#ECCB0A;mar=
gin-bottom:10px;font-size:10pt;margin:0;" >Stay Connected</h6>
=09=09=09=09=09=09=09=09=09=09<table style=3D" font-family:Arial,Helvetica,=
sans-serif;font-size:8pt;color:#707070;"border=3D"0" cellpadding=3D"0" cell=
spacing=3D"0" width=3D"90%" align=3D"center">
=09=09=09=09=09=09=09=09=09=09=09<tbody>
=09=09=09=09=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09=09=09=09=09<td style=3D"padding:3px 8px; " rows=
pan=3D"1" colspan=3D"1" align=3D"right" valign=3D"center" >=09=09
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<a track=3D"on" shape=3D"rect" hr=
ef=3D"https://www.facebook.com/chope.group" linktype=3D"facebook" target=3D=
"_blank" style=3D"color: #ECCB0A;text-decoration:none;" title=3D"Like us on=
 Facebook">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<img src=3D"http://d2jzxcrnybz=
kkt.cloudfront.net/static/mainwebsite5.0/img/email-responsive/fb.png?date=
=3D2017124" style=3D"width:16px; height:16px;" title=3D"Like us on Facebook=
" border=3D"0">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09</a>
=09=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09=09=09<td rowspan=3D"1" colspan=3D"1" alig=
n=3D"left" valign=3D"center">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<a track=3D"on" shape=3D"rect" hr=
ef=3D"http://www.facebook.com/ChopeSG" linktype=3D"facebook" target=3D"_bla=
nk" style=3D"color: #ECCB0A;text-decoration:none;" title=3D"Like us on Face=
book">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09Like us on Facebook=09=09=09=
=09=09=09=09=09=09=09=09=09=09=09</a>
=09=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09=09=09=09=09<td style=3D"padding:3px 8px;" colsp=
an=3D"1" align=3D"right" valign=3D"center">=09=09
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<a track=3D"on" shape=3D"rect" hr=
ef=3D"https://twitter.com/chopetweets" linktype=3D"twitter" target=3D"_blan=
k" style=3D"color: #ECCB0A;text-decoration:none;" title=3D"Follow us on Twi=
tter">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<img src=3D"http://d2jzxcrnybz=
kkt.cloudfront.net/static/mainwebsite5.0/img/email-responsive/tw.png?date=
=3D2017124" style=3D"width:16px; height:16px;" title=3D"Follow us on Twitte=
r" border=3D"0">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09</a>
=09=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09=09=09<td rowspan=3D"1" colspan=3D"1" alig=
n=3D"left" valign=3D"center">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<a track=3D"on" shape=3D"rect" hr=
ef=3D"http://www.twitter.com/ChopeSG" linktype=3D"twitter" target=3D"_blank=
" style=3D"color: #ECCB0A;text-decoration:none;" title=3D"Follow us on Twit=
ter">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09Follow us on Twitter=09=09=09=
=09=09=09=09=09=09=09=09=09=09=09</a>
=09=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09=09=09=09=09<td style=3D"padding:3px 8px;" rowsp=
an=3D"1" colspan=3D"1" align=3D"right" valign=3D"center">=09
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<a track=3D"on" shape=3D"rect" hr=
ef=3D"http://www.google.com" linktype=3D"gplus" target=3D"_blank"style=3D"c=
olor: #ECCB0A;text-decoration:none;" title=3D"Add to Circles">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<img src=3D"http://d2jzxcrnybz=
kkt.cloudfront.net/static/mainwebsite5.0/img/email-responsive/gp.png?date=
=3D2017124" style=3D"width:16px; height:16px;" title=3D"Join us on Google" =
align=3D"null" border=3D"0">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09</a>
=09=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09=09=09<td rowspan=3D"1" colspan=3D"1" alig=
n=3D"left" valign=3D"center">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<a track=3D"on" shape=3D"rect" hr=
ef=3D"http://google.com/+ChopeRestaurantReservations" linktype=3D"gplus" ta=
rget=3D"_blank" style=3D"color: #ECCB0A;text-decoration:none;" title=3D"Add=
 to Circles">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09Add to Circles=09=09=09=09=09=
=09=09=09=09=09=09=09=09=09</a>
=09=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09=09=09=09=09=09<td style=3D"padding:3px 8px;" rowsp=
an=3D"1" colspan=3D"1" align=3D"right" valign=3D"center">=09
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<a track=3D"on" shape=3D"rect" hr=
ef=3D"http://www.google.com" linktype=3D"gplus" target=3D"_blank"style=3D"c=
olor: #ECCB0A;text-decoration:none;" title=3D"Add to Circles">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<img src=3D"http://d2jzxcrnybz=
kkt.cloudfront.net/static/mainwebsite5.0/img/email-responsive/ig.jpg?date=
=3D2017124" style=3D"width:16px; height:16px;" title=3D"Check out our Insta=
gram" align=3D"null" border=3D"0">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09</a>
=09=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09=09=09<td rowspan=3D"1" colspan=3D"1" alig=
n=3D"left" valign=3D"center">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<a track=3D"on" shape=3D"rect" hr=
ef=3D"http://instagram.com/chopesg" linktype=3D"gplus" target=3D"_blank" st=
yle=3D"color: #ECCB0A;text-decoration:none;" title=3D"Check out our Instagr=
am">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09Check out our Instagram=09=09=
=09=09=09=09=09=09=09=09=09=09=09=09</a>
=09=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09=09</tbody>
=09=09=09=09=09=09=09=09=09=09</table>
=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09<td style=3D"background:#232323; padding:7px 5px;co=
lor:#707070;font-family:Arial,Helvetica,sans-serif;font-size:8pt; " rowspan=
=3D"1" colspan=3D"1" valign=3D"top" width=3D"100%" align=3D"center">=09=09
=09=09=09=09=09=09=09=09=09=09<h6 style=3D"padding:10px 0;color:#ECCB0A;fon=
t-size:10pt;margin:0; ">Get our Mobile App</h6>
=09=09=09=09=09=09=09=09=09=09<a class=3D"imgCaptionAnchor" track=3D"on" sh=
ape=3D"rect" href=3D"https://go.onelink.me/1953970613?pid=3DEmail&c=3DReser=
vation_confirmation" target=3D"_blank"><img name=3D"ACCOUNT.IMAGE.3" src=3D=
"http://d2jzxcrnybzkkt.cloudfront.net/static/mainwebsite5.0/img/email-respo=
nsive/3.png?date=3D2017124" style=3D"width:88px; height:30px;" border=3D"0"=
 hspace=3D"5" vspace=3D"5" ></a><br />
=09=09=09=09=09=09=09=09=09=09<a class=3D"imgCaptionAnchor" track=3D"on" sh=
ape=3D"rect" href=3D"https://go.onelink.me/1953970613?pid=3DEmail&c=3DReser=
vation_confirmation" target=3D"_blank"><img name=3D"ACCOUNT.IMAGE.4" src=3D=
"http://d2jzxcrnybzkkt.cloudfront.net/static/mainwebsite5.0/img/email-respo=
nsive/4.png?date=3D2017124" style=3D"width:88px; height:30px;"border=3D"0" =
hspace=3D"5" vspace=3D"5"></a>
=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09<tr>
=09=09=09=09=09=09=09=09<td rowspan=3D"1" colspan=3D"2" align=3D"center" va=
lign=3D"top" width=3D"100%">
=09=09=09=09=09=09=09=09=09=09<p><a style=3D"color:#ECCB0A;text-decoration:=
none;" shape=3D"rect" href=3D"http://www.chope.co/singapore-restaurants" ta=
rget=3D"_blank">http://www.chope.co/singapore-restaurants</a></p><br />
=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09 </tbody>
=09=09=09=09=09=09 </table>
=09=09=09=09=09 </td></tr>=09=20
=09=09=09=09=09
=09=09=09=09=09<tr><td rowspan=3D"1" colspan=3D"1" align=3D"center" valign=
=3D"top" width=3D"100%">=09
=09=09=09=09=09=09<!--Yellow Bar-->
=09=09=09=09=09=09<table style=3D"background-color:#f1d124;" border=3D"0" c=
ellpadding=3D"0" cellspacing=3D"0" width=3D"100%">
=09=09=09=09=09=09=09 <tbody>
=09=09=09=09=09=09=09=09 <tr><td style=3D"padding:5px; color:#2e2e2e;font-f=
amily:Arial,Helvetica,sans-serif;font-size:8pt;" rowspan=3D"1" colspan=3D"1=
" align=3D"center" valign=3D"top">
=09=09=09=09=09=09=09=09=09<strong><small>Reservations powered by Chope</sm=
all></strong>
=09=09=09=09=09=09=09=09 </td></tr>
=09=09=09=09=09=09=09 </tbody>
=09=09=09=09=09=09</table>
=09=09=09=09=09 </td></tr>
=09=09=09=09=09=09
=09=09=09=09</tbody>
=09=09=09</table>
=09=09</td></tr>
=09=09=09
=09=09<tr><td style=3D" border: 0 none;color: #707070;font-family: Arial;fo=
nt-size: 12px; padding-top:20px;" rowspan=3D"1" colspan=3D"1" align=3D"cent=
er" valign=3D"top" width=3D"100%">
=09=09=09=09<p><em>Copyright &copy; 2017 Chope, All rights reserved.</em></=
p>
=09=09</td></tr>
=09</tbody>
</table>
</body>
</html>

--B_ALT_58f40a7647e3f--