
   {% if data.imasia_label %}  
        {% include 'header/memberheader_email_imagia.html.twig'%}
    {% else %}
        {% include 'header/memberheader_email.html.twig'%}  
   {% endif %} 
<tr>
    <td align="center" valign="top" bgcolor="#ffffff" style="background-color:#ffffff; padding-top:10px;" class="container-indent">
        <table width="550" border="0" cellspacing="0" cellpadding="0" class="inner-container">
            <tr>
                <td align="center" valign="top" style="font-family:arial; color:#283271; font-size:39px; border-bottom:1px solid #e8e8e8; padding-bottom:16px;" class="welcome-head">{[{data.labelContent['title_dining']}]}</td>
            </tr>
            <tr>
                <td align="left" valign="top" style="font-family:arial; color:#494949; font-size:14px; border-bottom:1px solid #e8e8e8; padding-bottom:25px; padding-top:25px;"><strong> Dear {[{data.salutation}]} {[{data.firstname}]} {[{data.lastname}]},</strong><br />
                    <br />
                    
                    {% if data.notifyflg =='waived'  %} 
                         Restaurant has been waived the credit card details in your booking. If further modification and update booking again to contact restaurant directly.
                        {% else %}
                        {[{data.labelContent['email_content']}]} 
                           {% endif %}
                    {% if data.restaurant != 'SG_SG_R_Bacchanalia' %}<a href ="{[{data.baseUrl}]}/{[{data.restaurantinfo.internal_path}]}" target="_blank" >
                        {% endif %}
                        {[{data.restaurantinfo.title}]}
                        {% if data.restaurant != 'SG_SG_R_Bacchanalia' %}</a>
                        {% endif %}. <br />
                    <br />
                    {% if data.restaurant != 'SG_SG_R_Bacchanalia' %}
                        {[{data.labelContent['booking_message']}]}.
                    {% else %}
                         {[{data.labelContent['booking_message']}]}.
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td align="left" valign="top" style="font-family:arial; color:#283271; font-size:18px; padding-top:13px; padding-bottom:14px;padding-left:16px;">{[{data.labelContent['booking_details']}]}</td>
            </tr>
            <tr>
                <td align="left" valign="top"  >
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" >
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;" width="32%">{[{data.labelContent['data_time']}]}</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.rdate}]}</strong></td>
                        </tr>
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">{[{data.labelContent['guests']}]}</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.cover}]}</strong></td>
                        </tr>
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">{[{data.labelContent['confirmation_no']}]}.</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.confirmation}]}</strong></td>
                        </tr>

                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">{[{data.labelContent['restaurant_name']}]}</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.restaurantinfo.title}]}</strong></td>
                        </tr>
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">{[{data.labelContent['address']}]}</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.restaurantinfo.address}]}, {[{data.restaurantinfo.city}]} {[{data.restaurantinfo.zip}]}</strong><br />
                                <a href="http://maps.google.com/?q={[{data.restaurantinfo.address}]}, {[{data.restaurantinfo.city}]} {[{data.restaurantinfo.zip}]}" ><span style="font-size:11px; color:#9a9a9a; text-transform:none;">Map</span></a></td>
                        </tr>
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">{[{data.labelContent['phone no']}]}</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.restaurantinfo.tel}]}</strong></td>
                        </tr>
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">{[{data.labelContent['special_request']}]}</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.specialrequest}]}</strong></td>
                        </tr>

                    </table>
                </td>
            </tr>

             {% if data.isDeposit %} 
                <tr>
                    <td align="left" valign="top" style="font-family:arial; color:#283271; font-size:18px; padding-top:13px; padding-bottom:14px;padding-left:16px;">Deposit Details </td>
                </tr>
                 <tr>
                    <td align="left" valign="top"  >
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" >
                    <tr>
                        <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">Transaction id</td>
                        <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.payment_id}]}</strong></td>

                    </tr>
                    
                    <tr>
                        <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">amount</td>
                        <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.currency}]} {[{data.amount}]}</strong></td>

                    </tr>
                    <tr>
                        <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">status</td>
                        <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.despositstatus}]}</strong></td>

                    </tr>
                    </table>
                    </td>
                 </tr>
           {% endif %} 
           {% if data.bacchanalia_info|length > 0 %}  
               <tr>
                    <td align="left" valign="top" style="font-family:arial; color:#283271; font-size:18px; padding-top:13px; padding-bottom:14px;padding-left:16px;">Important Information</td>
                </tr>
                 <tr>
                    <td align="left" valign="top"  >
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" >
                    <tr>
                        <td align="left" valign="top"  class="list" style="font-size:12px; padding-left:10spx;padding-top:5px; padding-right:5px;padding-bottom:0px;color:#494949;" >
                            Lunch Menu: {[{data.bacchanalia_info['lunch']}]} 
                            <br /><br />
                             Dinner Menu: {[{data.bacchanalia_info['dinner']}]} 
                            <br /><br />
                             {[{data.bacchanalia_info['parking']}]} 
                            <br /><br />
                             {[{data.bacchanalia_info['corkage_fee']}]} 
                            <br /><br />
                            {[{data.bacchanalia_info['info']}]} 
                        </td>
                        
                    </tr>
                    </table>
                    </td>
                 </tr>
               
           {% endif %} 
           {% if data.isInvoice %} 
               
                 <tr>
                    <td align="left" valign="top" style="font-family:arial; color:#283271; font-size:18px; padding-top:13px; padding-bottom:14px;padding-left:16px;">Cancel Policy </td>
                </tr>
                <tr>
                    <td class="list" align="left" valign="top"  >
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" >
                            {% if data.restaurant == 'SG_SG_R_TheFunKitchen' or  data.restaurant == 'SG_SG_R_Bacchanalia' %} 
                                 <tr>
                                    <td align="left" valign="top"  class="list" style="font-size:13px; padding-left:10px;padding-top:16px; padding-right:5px;padding-bottom:0px;color:#494949;" >
                                         {[{data.bacchanaliacancelpolicy['message']}]}.   
                                    </td>
                                </tr>
                              {% endif %}     
                            {% if data.restaurant != 'SG_SG_R_TheFunKitchen' or  data.restaurant != 'SG_SG_R_Bacchanalia' %} 
                            {% for p in data.cancelpolicy.range %}
                                <tr>
                                    <td align="left" valign="top"  class="list" style="font-size:11px; padding-left:5px;padding-top:5px; padding-right:5px;padding-bottom:0px;color:#494949;" >
                                      {#  <p style="font-size:11px; padding-left:5px;padding-top:5px; padding-right:10px;color:#494949;">#}
                                           {% if p['percentage'] =="100" %}    
                                            {[{p['duration']}]}SGD {[{data.amount}]}.   
                                          {% else %}
                                            {[{p['duration']}]}   
                                          {% endif %} 
                                       {# </p>#}
                                    </td>
                                     </tr>
                             {% endfor %}
                             
                            <tr>
                                 <td align="left" valign="top"  class="list" style="font-size:11px; padding-left:8px;padding-top:5px; padding-right:5px;color:#494949;">{[{data.cancelpolicy.message}]}</td>
                            </tr>
                             {% endif %} 
                        </table>
                    </td>
                </tr>
            {% endif %} 
                 

            {% if data.restc  %}
                <tr>
                    <td align="left" valign="top"  style="padding-top:10px; padding-bottom:15px; padding-right:10px; padding-left:16px; font-size:11px;font-style: italic;" >{[{data.labelContent['addtional_info']}]}:</td>
                </tr>

                <tr>
                    <td align="left" valign="top"  class="list" style="font-size:11px; padding-left:5px;padding-top:5px; padding-right:5px;padding-bottom:5px;font-style: italic;color:#494949;" >
                          <p style ='white-space: pre-line' >{[{data.restc}]}</p>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="center"  class="list" style="font-size:11px;padding-left:35px;padding-top:5px; padding-right:5px;padding-bottom:5px;font-style: italic;color:#494949;" >
                        {[{data.llorder}]} 
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="center"  class="list" style="font-size:11px;padding-left:35px;padding-top:5px; padding-right:5px;font-style: italic;color:#494949;" >
                        {[{data.ldorder}]} 
                    </td>
                </tr>
            {% endif %}
        
             {% if data.ispromo %}
                <tr>
                    <td align="left" valign="top" style="font-family:arial; color:#283271; font-size:18px; padding-top:13px; padding-bottom:14px;padding-left:16px;">Corporate Program Promotion</td>
                </tr>
                <tr>
                    <td align="left" valign="top"  >
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" >
                     <tr>
                        <td align="left" valign="top"  style="font-family:arial;padding-top:10px; padding-bottom:15px; padding-right:10px; padding-left:16px; font-size:13px;color:#494949;" >{[{data.offer}]} </td>
                    </tr>

                    <tr>
                        <td align="left" valign="top"   style="font-family:arial;font-size:13px; padding-left:16px;padding-top:5px; padding-right:5px;padding-bottom:5px; color:#838383;" >
                            {[{data.offer_description}]} 
                        </td>
                    </tr>
                    </table>
                    </td>
                </tr>
                 
             {% endif %}  
           
               
            
                {% include 'confirmation/bookingSocialContainer.html.twig'%}
              {% if data.imasia_label == false %}  
                {% include 'footer/addtoyourwallet.html.twig'%}
                {% include 'footer/memberfooter_email.html.twig' ignore missing %}
             {% endif %}  