
{% include 'header/memberheader_email.html.twig'%}

<tr>
    <td align="center" valign="top" bgcolor="#ffffff" style="background-color:#ffffff; padding-top:35px;" class="container-indent">
        <table width="550" border="0" cellspacing="0" cellpadding="0" class="inner-container">
            <tr>
                <td align="center" valign="top" style="font-family:arial; color:#2aa8cf; font-size:39px; border-bottom:1px solid #e8e8e8; padding-bottom:16px;" class="welcome-head">{[{data.labelContent['title_dining']}]} </td>
            </tr>
            <tr>
                <td align="left" valign="top" style="font-family:arial; color:#494949; font-size:14px; border-bottom:1px solid #e8e8e8; padding-bottom:25px; padding-top:25px;"><strong> Dear {[{data.salutation}]} {[{data.firstname}]} {[{data.lastname}]},</strong><br />
                    <br />
                  
                      {[{data.labelContent['email_content']}]} <a href ="{[{data.baseUrl}]}/{[{data.restaurantinfo.internal_path}]}" target="_blank" >{[{data.restaurantinfo.title}]}</a>. <br />
                    <br />
                        Thank you for interest in {[{data.restaurantinfo.title}]}. </br></br>
                         {% if data.restaurant != 'SG_SG_R_TheOneKitchen' %}
                                We have temporarily blocked a table for your requested date and time. Please note we require credit card details to confirm table bookings. For now your credit card is only being used as a guarantee, no deposit is being processed.</br></br>
                        {% endif %}
                          {% if data.restaurant == 'SG_SG_R_TheOneKitchen' %}
                             We have temporarily blocked a table for your requested date and time. Please note we require 50% deposit to confirm table bookings. Booking not deposited with {[{data.restaurantinfo.title}]}  by this time will automatically cancel without notification.</br></br>
                             You have until {[{data.expiredtime}]} to confirm the booking, after which the table would be automatically unblocked and made available for online bookings.
                        {% endif %}
                         {% if (data.restaurant == 'SG_SG_R_TheFunKitchen') or (data.restaurant == 'SG_SG_R_Bacchanalia') %}
                            You have until {[{data.expiredtime}]} to confirm the booking, after which the table would be automatically unblocked and made available for online bookings.
                           <br /> If you are having trouble opening the secure credit card link, this may be due to your firewall settings. Please attempt to complete your booking using your mobile data and disabling your wifi. Do not hesitate to contact the restaurant for assistance at 91794552.
                         {% endif %}
                      <br /> <br />
                      <a href="{[{data.payment_link}]}" style="text-decoration:none;color:#52BE80;cursor:pointer;" ><button style="background-color:#2ba8cf;border: 1px solid #2BA8CF;width:140px;height:40px;font-family:arial; color: #fff; font-size:16px;">Confirm your booking</button></a>
                      <a href="{[{data.payment_link}]}" style="text-decoration:none;color:#E74C3C;cursor:pointer; padding-left:10px;" ><button style="background-color:#2ba8cf;border: 1px solid #2BA8CF;width:140px;height:40px;font-family:arial; color: #fff; font-size:16px;">Cancel your booking</button></a> n 
  
                </td>
            </tr>
            <tr>
                <td align="left" valign="top" style="font-family:arial; color:#67bbd9; font-size:18px; padding-top:13px; padding-bottom:14px;padding-left:16px;">{[{data.labelContent['booking_details']}]} </td>
            </tr>
            <tr>
                <td align="left" valign="top"  >
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" >
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;" width="32%"> {[{data.labelContent['data_time']}]}</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.rdate}]}</strong></td>
                        </tr>
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;"> {[{data.labelContent['guests']}]}</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.cover}]}</strong></td>
                        </tr>
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;"> Booking NO.</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.confirmation}]}</strong></td>
                        </tr>

                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;"> {[{data.labelContent['restaurant_name']}]}</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.restaurantinfo.title}]}</strong></td>
                        </tr>
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;"> {[{data.labelContent['address']}]}</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.restaurantinfo.address}]}, {[{data.restaurantinfo.city}]} {[{data.restaurantinfo.zip}]}</strong><br />
                                <a href="http://maps.google.com/?q={[{data.restaurantinfo.address}]}, {[{data.restaurantinfo.city}]} {[{data.restaurantinfo.zip}]}" ><span style="font-size:11px; color:#9a9a9a; text-transform:none;">Map</span></a></td>
                        </tr>
                         <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">{[{data.labelContent['phone no']}]}</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.restaurantinfo.tel}]}</strong></td>
                        </tr>
                        <tr>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:16px; font-family:arial; color:#838383; font-size:13px; text-transform:uppercase; border-top:2px solid #ffffff; background-color:#f2f2f2;">{[{data.labelContent['special_request']}]}</td>
                            <td style="padding-top:10px; padding-bottom:10px; padding-right:10px; padding-left:10px; font-family:arial; color:#494949; font-size:13px;  border-top:2px solid #ffffff; background-color:#f2f2f2"><strong>{[{data.specialrequest}]}</strong></td>
                        </tr>
                    </table>
                </td>
            </tr>
           
            {% if data.restc  %}
                <tr>
                    <td align="left" valign="top"  style="padding-top:10px; padding-bottom:15px; padding-right:10px; padding-left:16px; font-size:11px;font-style: italic;" >{[{data.labelContent['addtional_info']}]}:</td>
                </tr>

                <tr>
                    <td align="left" valign="top"  class="list" style="font-size:11px; padding-left:5px;padding-top:5px; padding-right:5px;padding-bottom:5px;font-style: italic;color:#A9A9A9;" >
                        {[{data.restc}]} 
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="center"  class="list" style="font-size:11px;padding-left:35px;padding-top:5px; padding-right:5px;padding-bottom:5px;font-style: italic;color:#A9A9A9;" >
                        {[{data.llorder}]} 
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="center"  class="list" style="font-size:11px;padding-left:35px;padding-top:5px; padding-right:5px;font-style: italic;color:#A9A9A9;" >
                        {[{data.ldorder}]} 
                    </td>
                </tr>
            {% endif %}

               {% include 'footer/memberfooter_email.html.twig'%}