<style>
    
.container3 {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.youtube_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
    
</style>


<div id="how-it-works">


    <section class="how-it-work" style="z-index:115;">
        <div class='container'>

            <div class="container3" style='margin-top: 40px;margin-bottom: 40px;'>
                    <iframe src="https://www.youtube.com/embed/nqfDGTuEHhY?rel=0&autoplay=1" class="youtube_video" frameborder="0" allowfullscreen></iframe>
            </div>

            <h1 class="title_info_page text-center">How it works</h1>
            <h2 class="sub_title_home_page text-center">In 2 easy steps. Book & Spin to Win</h2>
            
            
            
            
            <div class="row how-image" style='text-align: center;margin-bottom: 50px;background-color: #013440; color:white;'>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style=" margin-top: 30px;">
                    <img src="https://static2.weeloy.com/images/how-it-works/find.png" alt="weeloy find select reataurant">
                    <!--<img width="350" height="193" class="icon-find" src="https://static2.weeloy.com/images/sprites/transparent.png" alt="weeloy find select reataurant">-->
                    <p class="title">BOOK on weeloy.com or the app</p>
                    <br>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style=" margin-top: 30px;">
                    <img src="https://static2.weeloy.com/images/how-it-works/win.png" alt="weeloy confirm booking">
                    <!--<img width="350" height="193" class="icon-spin"  src="https://static2.weeloy.com/images/sprites/transparent.png" alt="weeloy confirm booking">-->
                    <p class="title" >Spin the wheel at the restaurant & WIN</p>
                    <br>
                </div>
<!--                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style=" margin-top: 30px;">
                    <img src="https://static2.weeloy.com/images/how-it-works/win.png" alt="weeloy get discount">
                    <img width="350" height="193" class="icon-win"  src="https://static2.weeloy.com/images/sprites/transparent.png" alt="weeloy get discount">
                    <p class="title">Win an offer instantly</p>
                    <br>
                </div>-->
            </div>


            <!--<div class="more-info"><a href="how-it-works" id="more-hiw">+ <span ng-bind="Str.homepage.MoreInfo"></span></a></div>-->
        </div>
    </section>



    <section>
        <div class="container" style="margin-top:40px;margin-bottom:40px;">
            <div class="row row-description" style="margin-bottom:40px;">
                <div class="col-sm-4" style='text-align:center; margin-bottom:40px;'>
                    <img src="https://static2.weeloy.com/images/how-it-works/find.png" style="border: 1px solid #2aa8cf;max-width:200px; max-height:200px;padding: 10px;background: #013440" />
                </div>
                <div class="col-sm-8">
                    <h2 class='sub_title_info_page'>1. BOOK A RESTAURANT</h2>
                    <p class="decription">Book your restaurant on Weeloy.com or on the mobile App. You will receive an instant confirmation by email or SMS.</p>
                </div>
            </div>
            <div class="row row-description" style="margin-bottom:40px;">
                <div class="col-sm-4" style='text-align:center; margin-bottom:40px;'>
                    <img src="https://static2.weeloy.com/images/how-it-works/win.png" style="border: 1px solid #2aa8cf;max-width:200px; max-height:200px; padding: 10px;background: #013440" />
                </div>
                <div class="col-sm-8">
                    <h2 class='sub_title_info_page'>2. SPIN THE WHEEL AND WIN A REWARD INSTANTLY</h2>
                    <p class="decription">Download the Weeloy App on your mobile. Upon arrival at the restaurant, open the Weeloy app and retrieve your reservation from "Your bookings" in the app Menu. Use the "Spin the Wheel" button, and let the staff of the restaurant enter the restaurant code.</p>
                    <p class="decription">Win one of the offers of the Wheel and enjoy your dining! With the Wheel, you win an Offer everytime you book.</p>
                    <h2 class='sub_title_info_page' style="transform: none; font-variant: none;">The Higher the Rewards Rating the Better the offers on the restaurant Wheel.</h2>
                </div>
            </div>
<!--            <div class="row row-description" style="margin-bottom:40px;">
                <div class="col-sm-4" style='text-align:center; margin-bottom:40px;'>
                    <img src="https://static2.weeloy.com/images/how-it-works/win.png" style="border: 1px solid #2aa8cf;max-width:200px; max-height:200px;" />
                </div>
                <div class="col-sm-8">
                    <h2 class='sub_title_info_page'>3. WIN A REWARD INSTANTLY</h2>
                    <p class="decription">Win one of the offers of the Wheel and enjoy your dining! With the Wheel, you win an Offer everytime you book.</p>
                    <h2 class='sub_title_info_page' style="transform: none; font-variant: none;">The Higher the Rewards Rating the Better the offers on the restaurant Wheel.</h2>
                </div>
            </div>-->
            <div class="row row-description">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-8">
                    <a class="btn btn-bitbucket" style="background-color: #2aabd2;padding: 10px 30px;" href="search">View Restaurants</a>
                </div>
            </div>
        </div>
    </section>
</div>
