<div id="checkout">
    <div class="container">
        <p class="checkout-header text-center">checkout cart</p>
        <div class="col-xs-12 restaurant">
            <div class="bar-logo pull-left">
                <img ng-src="{{restaurant.getLogoImage()}}" class="img-responsive" alt="">
            </div>     
            <div class="restaurant-info">
                <h1 ng-bind="restaurant.restaurantinfo.title"></h1>
                 <p><span ng-bind="restaurant.restaurantinfo.address"></span>, <span ng-bind="restaurant.restaurantinfo.zip"></span></p>
            </div>       
        </div>
        <div class="cart col-sm-6 col-xs-12">
            <p class="cart-header" ng-bind="today"></p>
            <cart ng-show="items | lengthMoreThan:0" items="items"></cart>
            <p ng-show="items | length:0">Your cart is empty</p>
        </div>
        <div class="cart col-sm-6 col-xs-12">
            <p class="cart-header">Select delivery time</p>
            <ul class="delivery-time">
                <li ng-repeat="time in DeliveryTime" ng-click="SelectTime(time)">
                    <p ng-class="time.selected ? 'selected' : ''"><span class="fa fa-clock-o"></span><span ng-bind="time.time"></span></p>
                </li>
            </ul>
        </div>
        <div class="checkout-btn col-xs-12" ng-show="items | lengthMoreThan:0">
            <hr>
            <button class="btn btn-default pull-right" ng-click="Checkout(items)">Continue to checkout</button>
        </div>
    </div>
</div>
