<footer>
    <section id="zen-social">
        <h3 ng-bind="Str.template.FindUs" class="ng-binding">Find us on</h3>
        <ul>
            <li><a rel="nofollow" target="_blank" href="https://www.facebook.com/weeloy.sg" id="social-facebook" title="follow weeloy on facebook"><span class="fa fa-facebook"></span></a></li>
            <li><a rel="nofollow" target="_blank" href="https://twitter.com/weeloyasia" id="social-twitter" title="follow weeloy on twitter"><span class="fa fa-twitter"></span></a></li>
            <li><a rel="nofollow" target="_blank" href="https://www.instagram.com/weeloysingapore/" id="social-linkedin" title="follow weeloy on instagram"><span class="fa fa-instagram"></span></a></li>
        </ul>
    </section>
    <footer id="zen-footer">
        <div class="col-md-10 col-md-push-1 col-sm-10 col-sm-push-1 col-xs-12">
            <div class="col-md-3 col-sm-3 col-xs-12 zen-col">
                <h2 class="title">
                        <span>//</span>infomation
                    </h2>
                <ul>
                    <li>
                        <a href="blog" title="food blog by weeloy" onclick="document.location.href = 'https://www.weeloy.com/blog';return false;" style="cursor: pointer" ng-bind="Str.template.FooterInformationBlog"></a>
                    </li>
                    <li>
                        <a href="how-it-works" title="weeloy concept how it works" ng-bind="Str.template.FooterInformationHowItWorks"></a>
                    </li>
                    <li>
                        <a href="contact" title="weeloy contact page" ng-bind="Str.template.FooterInformationContactUs"></a>
                    </li>
                    <li>
                        <a href="partner" title="weeloy partner page" ng-bind="Str.template.FooterInformationPartner"></a>
                    </li>
                    <li>
                        <a href="faq" title="faq weeloy" ng-bind="Str.tempate.FooterInformationFaq"></a>
                    </li>
                    <li>
                        <a target="_blank" href="terms-and-conditions-of-service" ng-bind="Str.template.FooterInformationTermOfService"></a>
                    </li>
                    <li>
                        <a target="_blank" href="privacy-policy" ng-bind="Str.template.FooterInformationPrivacyPolicy"></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12 zen-col">
                <h2 class="title">
                    <span>//</span>OUR LOCATIONS
                </h2>
                <ul>
                    <li><a href="search/singapore" title="find and reserve restaurant in singapore">Singapore</a></li>
                    <li><a href="search/bangkok" title="find and reserve restaurant in bangkok">Bangkok</a></li>
                    <li><a href="search/phuket" title="find and reserve restaurant in phuket">Phuket</a></li>
                    <li><a href="search/hong%20kong" title="find and reserve restaurant in hong-kong">Hong Kong</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12 zen-col">
                <h2 class="title">
                        <span>//</span>POPULAR CUISINES
                    </h2>
                <ul>
                    <li><a href="/search/singapore/cuisine/chinese">Chinese</a></li>
                    <li><a href="/search/singapore/cuisine/italian">Italian</a></li>
                    <li><a href="/search/singapore/cuisine/japanese">Japanese</a></li>
                    <li><a href="/search/singapore/cuisine/indian">Indian</a></li>
                    <li><a href="/search/singapore/cuisine/french">French</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12 zen-col app">
                <h2 class="title">
                        <span>//</span>MOBILE
                    </h2>
                <ul>
                    <li>
                        <a class="mobile-picture-div" rel="nofollow" target="_blank" href="http://itunes.apple.com/app/id973030193" title="Download Weeloy iOS app">
                            <img width="160" height="49" src="client/assets/images/footer/apple.png">
                        </a>
                    </li>
                    <li>
                        <a class="mobile-picture-div" rel="nofollow" target="_blank" href="https://play.google.com/store/apps/details?id=com.weeloy.client" title="Download Weeloy Android app">
                            <img width="160" height="56" src="client/assets/images/footer/android.png">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 zen-col form">
                <h2 class="title"><span>//</span><span>NEWSLETTER</span></h2>
                <form method="POST" ng-submit="SubmitNewletter(newletter_email)" id="newsletterform" name="newsletterform" novalidate>
                    <input class="email newsletter_email" id="email" name="newletter_email" ng-model="newletter_email" type="email" placeholder="{{Str.template.FooterNewsLetterPlaceHolder}}" required="true">
                    <input type="submit" class="submit" name="Join" value="{{Str.template.FooterNewsLetterBtn}}"></input>
                </form>
            </div>
        </div>
    </footer>
</footer>
