   <div class="col-md-3 col-sm-6 col-lg-3 panel" >
       <div class='row' style='height:50px;margin-left:3px;'>
          <p >{{category.title}}</p>
       </div>
        <a ng-href="{{category.link}}" target="{{ OpenRestaurantInNewTab }}">
            <img ng-src="mdclient/assets/images/month/transparent.png" class="img-responsive img-transparent" style='width:100%;background:cover;background-repeat: no-repeat;'>
<!--            <p ng-bind="restaurant.title"></p>-->
        </a>
          <div class="item-content" style='margin-left:3px;'>
              <p class="hover" style='padding-bottom:10px;'>{{category.description}}</p>
          </div>
       
   </div>
   

